<% query_hash = request.query_parameters.except(:page) %>
<% if page > 0 %>
	<% if page > 1 %>
	<% query_hash[id] = 1 %>
	<a class="button" data-page-to="0" href="?<%= query_hash.to_query %>">
		<i class="fa fa-ahalfx fa-angle-double-left"></i>
	</a>
	<% end %>
<% query_hash[id] = page - 1 %>
<a class="button" data-page-to="<%= page - 1 %>" href="?<%= query_hash.to_query %>">
	<i class="fa fa-ahalfx fa-angle-left"></i>
</a>
<% end %>
<span class="pages mobile-touch-toggle"
	<% ((page > 4 ? page - 4 : 0)..(page + 4 > pages ? pages : page + 4)).each do |i| %>
		<% query_hash[id] = i + 1 %>
		><a class="button<% if i == page %> selected<% end %>" data-page-to="<%= i %>" href="?<%= query_hash.to_query %>">
			<%= i + 1 %>
		</a
	<% end %>
	<% query_hash[id] = page + 1 %>>
</span>
<% if page < pages %>
	<a class="button" data-page-to="<%= page + 1 %>" href="?<%= query_hash.to_query %>">
		<i class="fa fa-ahalfx fa-angle-right"></i>
	</a>
	<% if page < pages - 1 %>
	<% query_hash[id] = -1 %>
	<a class="button" data-page-to="-1" href="?<%= query_hash.to_query %>">
		<i class="fa fa-ahalfx fa-angle-double-right"></i>
	</a>
	<% end %>
<% end %>
