<div class="paginator" data-id="<%= id %>" data-type="<%= type %>/page" data-page="<%= paginated.page %>" data-args="<%= @data %>">
	<%= render partial: 'pagination/numbering', locals: { results: paginated, pagination_id: id } %>
	<%= yield %>
	<%= render partial: 'pagination/numbering', locals: { results: paginated, pagination_id: id } %>
</div>