<div class="paginator" data-id="<%= id %>" data-type="<%= type %>" data-page="<%= paginated.page %>" data-args="<%= @data %>">
	<div class="pagination" data-id="<%= id %>">
		<%= numbering = render partial: 'pagination/numbering', locals: { page: paginated.page, pages: paginated.pages, id: id } %>
	</div>
	<%= yield %>
	<div class="pagination" data-id="<%= id %>">
		<%= numbering %>
	</div>
</div>