<% title label + "s" %>
<section class="page full-width">
	<h1>All <%= label %>s (<%= number_with_delimiter items.count %>)</h1>
	<%= render layout: 'pagination/paginated', locals: { type: table, paginated: items, id: "page" } do %>
		<section class="search-result">
			<ul id="<%= table %>" class="horizontal <%= label.underscore %>-list">
				<%= render partial: partial, collection: items.records %>
			</ul>
		</section>
	<% end %>
</section>
