- title "#{label}s"
%section.page.full-width
	%h1
		Showing
		= items.page_offset_start
		to
		= items.page_offset_end
		of
		- c = items.count
		= number_with_delimiter c
		= label.pluralize(c)
	= render partial: 'search/big_search', locals: { table: table }
	%hr
	- if items.count > 0
		= render layout: 'pagination/paginated', locals: { type: type, paginated: items, id: :page } do
			%section.search-result
				%ul.horizontal{id: table, class: "#{label.underscore}-list"}
					= render partial: partial, collection: items.records
	- else
		= render 'pagination/warden_derpy'
