%a.row.removeable{href: item.link,
									data: {target: "albums/items", "video-id": item.video_id, id: item.id, index: item.index}}
	- if @modifications_allowed
		.cell.handle= fa :ellipsis_v
	.cell.title
		.nowrap= item.title
	.cell.duration= duration item.video.duration
	.cell.author.secondary= item.video.user.username
	- if @modifications_allowed
		.cell.secondary.remove(title="Remove")= fa :times
