.player
	%span.playing
	%span.error
		%span.error-message
	%span.suspend.hidden
		%i.fa.fa-pulse.fa-spinner
	%span.water-drop.hidden
		%i.fa.fa-pulse.fa-spinner
		= fa :play
		= fa :pause
		= fa :volume_up
		= fa :volume_down
		= fa :volume_off
		= fa :forward
		= fa :backward
	%span.pause.resize-holder
		%span.playback
		- if embed
			%h1.resize-target
				%a.title(target="_blank" href="#{@video.link}")= @video.title
= render 'videos/widget/controls'
%span.control-ref.hidden
%ul.contextmenu.transitional.hidden
- if embed
	= render 'videos/widget/embed_content'
