.controls.playback-controls
	%ul
		%li.icon.play(tabindex="0")
			%span.indicator(tabindex="-1" title="Pause")= fa :play
			%span.indicator(tabindex="-1" title="Play")= fa :pause
		%li.track(tabindex="0")
			.bars.load(tabindex="-1")
			.bars(tabindex="-1")
				%span.fill
				%span.cursor-fill
			.previewer(tabindex="-1")
			%span.bob(tabindex="-1")
		%li.icon.volume(tabindex="0")
			%span.indicator(tabindex="-1" title="Toggle Mute")= fa :volume_up
			.slider(tabindex="-1")
				.bars.load
					%span.fill
				%span.bob
		%li.icon.maximise(tabindex="0")
			%span.indicator(tabindex="-1" title="Toggle Wide Screen")= fa :square_o
		%li.icon.fullscreen(tabindex="0")
			%span.indicator(tabindex="-1" title="Full Screen")= fa :arrows_alt
			%span.indicator(tabindex="-1" title="Exit Full Screen")= fa :restore
