<% if @thread.locked %>
Thread locked
<% else %>
<div class="comment post-box">
	<div class="artist-bio bio">
		<a<% if !visitor.is_dummy %> class="user-link" data-id="<%= visitor.id %>" href="<%= visitor.link %>"<% end %>>
			<span class="avatar medium">
				<span style="background-image:url('<%= visitor.avatar %>');"></span>
			</span>
		</a>
	</div>
	<div class="content editing previewable">
		<div class="name">
			<a<% if !visitor.is_dummy %> class="user-link" data-id="<%= visitor.id %>" href="<%= visitor.link %>"<% end %>><%= visitor.username %></a>
			<% if user_signed_in? %>
				<%= render partial: 'badge/badges', locals: {user: current_user} %>
			<% end %>
		</div>
		<div class="comment-content preview"></div>
		<textarea class="comment-content" required="true"></textarea>
		<hr>
		<button class="green post-submitter" data-thread-id="<%= @thread.id %>" data-order="<%= @order %>">
			<span>Post Comment</span>
			<i class="posting-spinner fa fw fa-spinner fa-spin"></i>
		</button>
		<% if @thread.owner_type == "Report" %>
			<%= render partial: 'thread/report_options' %>
		<% end %>
		<button class="blue state-toggle button-fw" data-state="editing">
			<span class="on">Preview</span>
			<span class="off">Edit</span>
		</button>
		<a class="popper button button-bub right pop-out-toggle edit-action<% if invert %> invert<% end %>" data-action="emoticons" title="Emoticons">
			<i class="fa fa-smile-o"></i>
			<ul class="pop-out" id="emoticons"></ul>
		</a>
	</div>
</div>
<% end %>
