%h1 Filter Settings
= form_for(current_user, as: "user", url: '/filters') do |f|
	%table
		%tr
			%td.label Hidden Tags
			%td.field
				Any tags you'd like to keep hidden. Videos with these tags will not show up on the site.
				= render layout: 'tags/editor', locals: { tags: current_user.hidden_tags_actual } do
					= f.text_area :hidden_tag_string, autocomplete: "off"
		%tr
			%td.label Spoilered Tags
			%td.field
				Spoilered tags. Any videos with these will be displayed with the option to view them,
				but have their thumbnail and title hidden.
				= render layout: 'tags/editor', locals: { tags: current_user.spoilered_tags_actual } do
					= f.text_area :spoilered_tag_string, autocomplete: "off"
		%tr
			%td.label Watched Tags
			%td.field
				Any tags you're specifically interested in.
				You will be notified when these tags are added to any videos and they may appear in your feed.
				= render layout: 'tags/editor', locals: { tags: current_user.watched_tags_actual } do
					= f.text_area :watched_tag_string, autocomplete: "off"
		%tr.actions
			%td.label
			%td.field
				= f.submit "Save Changes", class: "green"
