<% if @tag %>
<section style="width:100%" class="page artist-bio">
	<div class="post">
		<div class="space-fix">
			<span class="genre-icon" style="float:left">
				<i class="fa fa-music fa-inverse"></i>
			</span>
			<h1 class="title">
				<a class="name" href="/tag/<%= url_safe @tag.name %>"><%= @tag.name %></a>
			</h1>
			<span class="content bio"><%= @tag.description %></span>
		</div>
		<div class="details">
			<span class="tag-list">
				Used by <%= @totalVideos %> videos and <%= @totalArtists %> artists
			</span>
		</div>
	</div>
</section>
<section class="page" style="width: 100%">
	<h1>Recent Artists</h1>
	<% if @artists.length > 0 %>
	<ul id="artists" class="horizontal artist-list">
		<%= render partial: 'layouts/artist_thumb_h', collection: @artists %>
	</ul>
	<% else %>
	No activity for this section
	<% end %>
</section>
<section class="page" style="width: 100%">
	<h1>Recent Songs</h1>
	<% if @videos.length > 0 %>
	<ul id="videos" class="horizontal video-list">
		<%= render partial: 'layouts/video_thumb_h', collection: @videos %>
	</ul>
	<% else %>
	No activity for this section
	<% end %>
</section>
<% else %>
<%= render layout: '/layouts/error', locals: { title: 'Nothing to see here!' } do %>
This tag does not exist.
<% end %>
<% end %>