<% if @tag %>
<section style="width:100%" class="page artist-bio">
	<div class="post">
		<div class="space-fix">
			<span class="genre-icon" style="float:left">
				<i class="fa fa-music fa-inverse"></i>
			</span>
			<h1 class="title">
				<a class="name" href="/tag/<%= @tag.name %>"><%= @tag.name %></a>
			</h1>
			<span class="content bio"><%= @tag.description %></span>
		</div>
		<span class="tag-list">
			Used by <%= @totalVideos %> videos and <%= @totalUsers %> users
		</span>
		<% if @user %>
		<span class="user-link right" data-id="<%= @user.id %>">
			<span class="tag-list">
			Associated User: <a href="<%= @user.link %>"><%= @user.username %></a>
			</span>
		</span>
		<% end %>
		<% if @implies.length %>
		<div class="space-fix details">
			<h1>Implies</h1>
			<ul class="tags">
				<%= render partial: "layouts/genre_thumb_h", collection: @implies %>
			</ul>
		</div>
		<% end %>
		<% if @implied.length %>
		<div class="space-fix details">
			<h1>Implied by</h1>
			<ul class="tags">
				<%= render partial: "layouts/genre_thumb_h", collection: @implied %>
			</ul>
		</div>
		<% end %>
	</div>
</section>
<section class="page" style="width: 100%">
	<h1>Recent Users</h1>
	<% if @users.length > 0 %>
	<ul id="artists" class="horizontal artist-list">
		<%= render partial: 'layouts/artist_thumb_h', collection: @users %>
	</ul>
	<% else %>
	No activity for this section
	<% end %>
</section>
<section class="page" style="width: 100%">
	<h1>Recent Songs</h1>
	<% if @videos.length > 0 %>
	<ul id="videos" class="horizontal video-list">
		<%= render partial: 'layouts/video_thumb_h', collection: @videos %>
	</ul>
	<% else %>
	No activity for this section
	<% end %>
</section>
<% else %>
<%= render layout: '/layouts/error', locals: { title: 'Nothing to see here!' } do %>
This tag does not exist.
<% end %>
<% end %>