<% if @tag %>
<section style="width:100%" class="page artist-bio">
	<div class="post">
		<span class="genre-icon fa-stack fa-4x">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-tag fa-inverse fa-stack-1x"></i>
		</span>
		<div class="tag-header">
			<h2 class="title" style="margin-left:0;">
				<a class="name" href="/tag/<%= @tag.short_name %>"><%= @tag.name %></a>
			</h2>
			<div class="tag-list subheading">
				<span>Used by <%= @totalVideos %> videos and <%= @totalUsers %> users</span>
				<% if @user %>
				<span class="right">
					Associated User:
					<span class="user-link" data-id="<%= @user.id %>">
						<a href="<%= @user.link %>"><%= @user.username %></a>
					</span>
				</span>
				<% end %>
			</div>
			<span class="content bio"><%= @tag.get_description %></span>
		</div>
		<% if @implies.length > 0 %>
		<div>
			<h1>Implies</h1>
			<ul class="tags">
				<%= render partial: "layouts/genre_thumb_h", collection: @implies %>
			</ul>
		</div>
		<% end %>
		<% if @implied.length > 0 %>
		<div>
			<h1>Implied by</h1>
			<ul class="tags">
				<%= render partial: "layouts/genre_thumb_h", collection: @implied %>
			</ul>
		</div>
		<% end %>
		<% if @aliases.length > 0 %>
		<div>
			<h1>Aliases</h1>
			<ul class="tags">
				<%= render partial: "layouts/genre_thumb_h", collection: @aliases %>
			</ul>
		</div>
		<% end %>
		<div class="actions">
			<% if @modificationsAllowed %>
			<div class="split-button popper">
				<button class="action options pop-out-toggle"><i class="fa fa-gear"></i> Options</button>
				<ul class="pop-out">
					<li class="action">
						<a href="/admin/tag/<%= @tag.id %>">
							<span class="icon"><i class="fa fa-gavel"></i></span>
							<span class="label">Admin</span>
						</a>
					</li>
				</ul>
			</div>
			<% end %>
			<% if user_signed_in? %>
			<button class="action toggle blue" data-family="tag-flags" data-action="hide" data-target="tag" data-id="<%= @tag.id %>">
				<span class="icon">
					<% if current_user.hides([@tag.id]) %>
						<i class="fa fa-check"></i>
					<% end %>
				</span>
				<span class="label">Hide Tag</span>
			</button>
			<button class="action toggle blue" data-family="tag-flags" data-action="spoiler" data-target="tag" data-id="<%= @tag.id %>">
				<span class="icon">
					<% if current_user.spoilers([@tag.id]) %>
						<i class="fa fa-check"></i>
					<% end %>
				</span>
				<span class="label">Spoiler Tag</span>
			</button>
			<button class="action toggle blue" data-family="tag-flags" data-action="watch" data-target="tag" data-id="<%= @tag.id %>">
				<span class="icon">
					<% if current_user.watches(@tag) %>
						<i class="fa fa-check"></i>
					<% end %>
				</span>
				<span class="label">Watch Tag</span>
			</button>
			<% end %>
		</div>
	</div>
</section>
<section class="page" style="width: 100%">
	<h1>Recent Users</h1>
	<% if @users.length > 0 %>
	<ul id="artists" class="horizontal artist-list">
		<%= render partial: 'layouts/artist_thumb_h', collection: @users %>
	</ul>
	<% else %>
	No activity for this section
	<% end %>
</section>
<section class="page" style="width: 100%">
	<h1>Recent Songs</h1>
	<% if @videos.length > 0 %>
	<ul id="videos" class="horizontal video-list">
		<%= render partial: 'layouts/video_thumb_h', collection: @videos %>
	</ul>
	<% else %>
	No activity for this section
	<% end %>
</section>
<% else %>
<%= render layout: '/layouts/error', locals: { title: 'Nothing to see here!' } do %>
This tag does not exist.
<% end %>
<% end %>