<div class="actions">
	<% if @thread.owner_type == 'Board' %>
	<button class="action toggle blue" data-action="pin" data-target="thread" data-id="<%= @thread.id %>">
		<span class="icon">
		<% if @thread.pinned %>
			<i class="fa fa-check"></i>
		<% end %>
		</span>
		<span class="label">Pin Thread</span>
	</button>
	<% end %>
	<button class="action toggle blue" data-action="lock" data-target="thread" data-id="<%= @thread.id %>">
		<span class="icon">
		<% if @thread.locked %>
			<i class="fa fa-check"></i>
		<% end %>
		</span>
		<span class="label">Lock Thread</span>
	</button>
	<% if @thread.owner_type == 'Board' %>
	<div class="split-button popper">
		<button class="action options pop-out-toggle blue">
			<span>Move Thread</span>
		</button>
		<ul class="pop-out">
		<% Board.listables.each do |b| %>
			<li class="action toggle" data-family="categories"  data-descriminator="<%= b[0] %>" data-action="move" data-descriminator="<%= b[0] %>" data-target="thread" data-id="<%= @thread.id %>" data-item="<%= b[0] %>">
				<span class="icon">
				<% if b[0] == @thread.owner_id %>
					<i class="fa fa-check"></i>
				<% end %>
				</span>
				<span class="label"><%= b[1] %></span>
			</li>
		<% end %>
		</ul>
	</div>
	<% end %>
</div>
<hr>
