<div class="actions">
	<% if @thread.owner_type == 'Board' %>
	<button class="action toggle blue"
			data-target="admin/threads"
			data-id="<%= @thread.id %>"
			data-action="pin"
		>
		<span class="icon">
		<% if @thread.pinned %>
			<i class="fa fa-check"></i>
		<% end %>
		</span>
		<span class="label">Pin Thread</span>
	</button>
	<% end %>
	<button class="action toggle blue"
			data-target="admin/threads"
			data-id="<%= @thread.id %>"
			data-action="lock"
		>
		<span class="icon">
		<% if @thread.locked %>
			<i class="fa fa-check"></i>
		<% end %>
		</span>
		<span class="label">Lock Thread</span>
	</button>
	<% if @thread.owner_type == 'Board' %>
	<div class="split-button popper action multi-toggle"
			data-target="/admin/threads"
			data-id="<%= @thread.id %>"
			data-action="move"
		>
		<button class="action options pop-out-toggle blue">
			<span>Move Thread</span>
		</button>
		<ul class="pop-out">
		<% Board.listables.each do |b| %>
			<li 
					data-descriminator="<%= b[0] %>"
					data-item="<%= b[0] %>"
				>
				<span class="icon">
				<% if b[0] == @thread.owner_id %>
					<i class="fa fa-check"></i>
				<% end %>
				</span>
				<span class="label"><%= b[1] %></span>
			</li>
		<% end %>
		</ul>
	</div>
	<% if current_user.is_contributor? %>
  <a class="button mobile-friendly red right" data-confirm="This thread will be lost forever." data-title="Delete Thread" data-method="delete" href="/admin/threads/<%= @thread.id %>">
    <i class="fa fa-trash"></i><span> Delete Thread</span>
  </a>
	<% end %>
	<% end %>
</div>
<hr>
