<h1 class="title">
	Comments
	<% if user_signed_in? %>
	<button title="<% if @subscribed = @thread.subscribed?(current_user) %>Unsubscribe<% else %>Subscribe<% end %>" class="action button button-bub subscribe right toggle"
			data-action="subscribe"
			data-target="thread"
			data-id="<%= @thread.id %>"
			data-unchecked-icon="bell-slash">
		<span class="icon">
			<i class="fa fa-<% if @subscribed %>check<% else %>bell<% end %>"></i>
		</span>
	</button>
	<% end %>
</h1>
<%= render layout: '/layouts/paginated', locals: {type: "comments/" + @thread.id.to_s + "/" + @order, paginated: @comments, id: "page"} do %>
<ul id="thread-<%= @thread.id %>" class="comments">
	<%= render partial: '/thread/comment_set', locals: {thread: @comments.records, indirect: false} %>
</ul>
<% end %>
<% if user_signed_in? %>
<hr>
<% if @thread.locked %>
Thread locked
<% else %>
<div class="comment post-box">
	<div class="artist-bio bio">
		<a class="user-link" data-id="<%= current_user.id %>" href="<%= current_user.link %>">
			<span class="avatar medium">
				<span style="background-image:url('<%= current_user.avatar %>');"></span>
			</span>
		</a>
	</div>
	<script>
function reportState(sender) {
  sender = $(sender).parent();
  if (sender.find('input[name=resolve]:checked').length) return 'resolve';
  if (sender.find('input[name=close]:checked').length) return 'close';
  if (sender.find('input[name=unresolve]:checked').length) return 'open';
  return false;
}
	</script>
	<div class="content editing">
		<div class="name">
			<a class="user-link" data-id="<%= current_user.id %>" href="<%= current_user.link %>"><%= current_user.username %></a>
		</div>
		<div class="comment-content preview"></div>
		<textarea class="comment-content"></textarea>
		<hr>
		<button class="green" onclick="postComment(this, '<%= @thread.id %>', '<%= @order %>', reportState(this));">
			<span>Post Comment</span>
			<i class="posting-spinner fa fw fa-spinner fa-spin"></i>
		</button>
		<button class="blue state-toggle button-fw" data-state="editing" data-true="Preview" data-false="Edit">Preview</button>
		<% if @thread.owner_type == "Report" %>
		<% if @thread.owner.resolved.nil? %>
		<label class="button blue right">
			<input name="resolve" type="checkbox"></input>
			<i class="fa fa-check"></i>
			Mark As Resolved
		</label>
		<label class="button red right">
			<input name="close" type="checkbox"></input>
			<i class="fa fa-check"></i>
			Close Report
		</label>
		<% else %>
		<label class="button blue right">
			<input name="unresolve" type="checkbox"></input>
			<i class="fa fa-check"></i>
			Re-open Report
		</label>
		<% end %>
		<% end %>
		</div>
	</div>
</div>
<% end %>
<% end %>
</div>