<h1 class="title">Comments</h1>
<!--<div id="disqus_thread" class="comments">
	<script>
var disqus_config = function () {
  this.page.url = "<%= request.original_url  %>";
  this.page.identifier = "<%= identifier %>";
  this.page.title = "<%= title %> - ProjectVinyl";
};
(function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://projectvinyl.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>-->
<% if user_signed_in? %>
<div class="comment post-box">
	<div class="artist-bio bio">
		<a href="<%= current_user.link %>">
			<span class="avatar medium">
				<span style="background-image:url('<%= current_user.avatar %>');"></span>
			</span>
		</a>
	</div>
	<div class="content editing">
		<div class="name">
			<a href="<%= current_user.link %>"><%= current_user.username %></a>
		</div>
		<div class="comment-content preview"></div>
		<textarea class="comment-content"></textarea>
		<hr>
		<button class="green" onclick="postComment(this, '<%= @video.id %>');">
			<span>Post Comment</span>
			<i class="posting-spinner fa fw fa-spinner fa-spin"></i>
		</button>
		<button class="blue state-toggle" data-state="editing" data-true="Preview" data-false="Edit">Preview</button>
		
		</div>
	</div>
</div>
<hr>
<% end %>
<%= render layout: '/layouts/paginated', locals: {type: "comments/" + @video.id.to_s, paginated: @comments} do %>
<ul id="thread-<%= @video.id %>" class="comments">
	<%= render partial: '/thread/comment_set', locals: {thread: @comments.records} %>
</ul>
<% end %>
</div>