<% title @thread.get_title + " - Forum" %>
<h1 class="title">
	<a href="/">Home</a> <i class="fa fa-chevron-right"></i> <a href="/forum">Forum</a> <i class="fa fa-chevron-right"></i> <a href="<%= @thread.owner.link %>"><%= @thread.owner.title %></a> <i class="fa fa-chevron-right"></i> 
	<% if @thread.locked %>
		<i class="fa fa-lock" title="Thread Locked"></i>
	<% end %>
	<% if @thread.pinned %>
		<i class="fa fa-thumb-tack"></i>
	<% end %>
	<% if @modifications_allowed %>
		<span class="editable short inline title" data-target="threads" data-member="title" data-id="<%= @thread.id %>">
			<span class="content"><%= @thread.get_title %></span>
			<span class="edit"><i class="fa fa-pencil"></i></span>
		</span>
	<% else %>
		<%= @thread.get_title %>
	<% end %>
	<%= render partial: 'thread/watch_options' %>
</h1>
<% if user_signed_in? && current_user.is_contributor? %>
	<%= render partial: 'thread/actions' %>
<% end %>
<%= render partial: 'thread/comments' %>
<hr>
<%= render partial: "comment/new", locals: {invert: true} %>
