.stats
	%h3
		= title
		= surround '(', ')' do
			= number_with_delimiter records.count
	.stat-bar.checkerboard
		- records.stats(200) do |item|
			.stat{title: "#{item[:value]} - #{since item[:created_at]}",
					style: "--hor:#{item[:spacing]}; |
						--x:#{item[:x]}; |
						--y:#{item[:y]}"} |
