%section.page.full-width.recent-uploads.removeable(data-id="#{part.id}" data-target="/users/#{@user.id}/profile_modules" data-index="#{part.index}")
	%h1.title
		= render 'users/profile_modules/actions'
		Uploads
		= surround '(', ')' do
			= number_with_delimiter @videos.count
		%a.right{href: search_index_path(q: "uploaded_by:#{@user.id}")}
			View All
			= fa :chevron_right
	%ul.floater-hidden.horizontal.video-list#uploads
		- if @videos.count > 0
			= render partial: 'videos/thumb/normal', collection: @videos.records
		- else
			%li.generic.virtual.keep
