<li class="thread">
	<div class="thumb">
		<div class="avatar medium">
			<span style="background-image:url('<%= board_thumb.last_poster.avatar %>');"></span>
		</div>
	</div>
	<div class="info">
		<div class="title">
			<a href="<%= board_thumb.link %>"><%= board_thumb.title %></a>
		</div>
		<div class="description">
			<%= board_thumb.description %>
		</div>
	</div>
	<div class="replies">
		<span><%= number_with_delimiter board_thumb.total_threads %> topics</span>
	</div>
	<div class="replies">
		<span><%= number_with_delimiter board_thumb.total_comments %> posts</span>
	</div>
	<div class="activity">
		<span>
			<% if board_thumb.last_comment %>
			active <%= since board_thumb.last_comment.updated_at %>
			<% end %>
		</span>
	</div>
</li>