<%= form_for(@board, as: "board", url: "/ajax/create/board") do |f| %>
<div class="properties">
	<table>
		<tr>
			<td class="label">
				<%= f.label :title %>
			</td>
			<td class="field">
				<%= f.text_field :title, autofocus: true %>
			</td>
		</tr>
		<tr>
			<td class="field" colspan="2">
				<%= render layout: '/thread/description_box' do %>
					<%= f.text_area :description, class: "comment-content" %>
				<% end %>
			</td>
		</tr>
	</table>
</div>
<div class="foot">
	<%= f.submit "OK", class: "green" %>
	<button class="right cancel" type="button">Cancel</button>
</div>
<% end %>