- title "Forums"
.actions.space-fix
	- if user_signed_in? && current_user.is_contributor?
		%button.action.mobile-friendly.green(data-external-form="#{new_forum_path}" data-title="Create Category" type="button")
			= fa :plus
			%span New Category
	%a.button.mobile-friendly.blue.right{href: forum_search_path}
		= fa :search
		%span Find Posts
%hr/
%section.page.full-width
	%h1
		Categories
		= surround '(', ')' do
			= number_with_delimiter @boards.count
	= render layout: 'pagination/paginated', locals: {type: 'boards', paginated: @boards, id: "page"} do
		%section.search-result
			.listing.thread-list
				%ul.items= render partial: 'thumb', collection: @boards.records
