- title "#{@board.title} Forums"
%h1.title
	%a{href: root_path} Home
	= fa :chevron_right
	%a{href: forum_index_path} Forum
	= fa :chevron_right
	- if @modifications_allowed
		%span.editable.short.inline.title{data: {target: forum_path(@board), member: :title}}
			%span.content= @board.title
			%span.edit= fa :pencil
	- else
		= @board.title
.actions.space-fix
	- if user_signed_in?
		- if @modifications_allowed
			%a.button.mobile-friendly.red{href: forum_path(@board), data: {confirm: "Any topics inside this category will be lost.", title: "Delete Category", method: :delete}}>
				= fa :trash
				%span Delete Category
			%button.action.mobile-friendly.green(data-external-form="#{edit_forum_path @board}" data-title="Edit Categoty" type="button")>
				= fa :plus
				%span Edit Category
		%button.action.mobile-friendly.green(data-external-form="#{new_forum_thread_path(board: @board.id)}" data-title="New Topic" type="button")>
			= fa :plus
			%span New Topic
	%a.button.blue.mobile-friendly.right{href: forum_search_path(board: @board.id)}>
		= fa :search
		%span Find Posts
%hr/
- if !@board.description.empty?
	%div= @board.description
	%hr/
%section.page.full-width
	%h1
		Topics
		= "(#{number_with_delimiter @threads.count})"
	= render layout: 'pagination/paginated', locals: {type: @board.link, paginated: @threads, id: "page"} do
		%section.search-result
			.listing.thread-list
				%ul.items= render partial: 'forum/threads/thumb', collection: @threads.records
