<div class="wrapper center">
	<%= devise_error_messages! %>
	<section class="page half-width modal">
		<h1>Resend confirmation instructions</h1>
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			<%= f.email_field :email, autofocus: true, placeholder: :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
			<div class="actions">
				<%= f.submit "Resend confirmation instructions" %>
			</div>
		<% end %>
		<div class="tiny-foot">
			<%= render "devise/shared/links" %>
		</div>
	</section>
</div>