.wrapper.center
	= devise_error_messages!
	%section.page.half-width.modal
		%h2 Resend confirmation instructions
		= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
			= f.email_field :email, autofocus: true, placeholder: :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
			.actions= f.submit "Resend confirmation instructions"
		.tiny-foot= render "devise/shared/links"
