!!! XHTML 5
!!!
%html(lang="en")
	%head
		%meta(http-equiv="Content-type" content="text/html; charset=utf-8")
		%title#document_title Project Vinyl - Premium Pony Tunes
		%link(rel="icon" sizes="160x160" href="/images/favicon.png")
		= stylesheet_link_tag "application"
		= stylesheet_link_tag "embed"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body.embed
		- if !@video || @video.hidden
			.video.unplayable#video(style="#{format_bg '/images/default-cover.png'};background-size:cover;")
				.player
					%span.pause.resize-holder
						%h1.resize-target
							%a
								%span.title= @video ? "Hidden Video" : "Video Not Found"
		- else
			= render layout: "videos/widget/full", locals: {embed: "true"} do
				- if @album
					.listing.compact.collapse-padding.playlist
						.controls
							%a.slide-left#playlist_prev{title: "Previous", href: @prev_video && @prev_video.link}= fw :step_backward
							%a.title.buff-right{href: @album.link}= @album.title
							%a.slide-right#playlist_next{title: "Next", href: @next_video && @next_video.link}= fw :step_forward
						.scroll-container
							.items= render partial: "album/album_item", collection: @items
				%ul.horizontal.embed-actions
					- if @album
						%li.playlist-toggle= fa :list
					- if user_signed_in?
						%li.action.toggle{title: "Star Video", data: {target: video_star_path(@video.id), "checked-icon": "star", "unchecked-idon": "star-o"}}
							%span.icon= fa "star#{!@video.is_starred_by(current_user) ? '-o' : ''}"
