<li class="thread removeable<% if message_thumb.unread %> unread<% end %>">
	<div class="thumb">
		<div class="avatar medium">
			<span style="background-image:url('<%= message_thumb.sender.avatar %>');"></span>
		</div>
	</div>
	<div class="info">
		<div class="title">
			<a href="<%= message_thumb.location %>">
				<%= message_thumb.comment_thread.get_title %>
			</a>
		</div>
		<div>
			sent 
			<span title="<%= message_thumb.comment_thread.created_at %>">
				<%= since message_thumb.comment_thread.created_at %>
			</span>
			by 
			<a class="user-link" data-id="<%= message_thumb.sender_id %>" href="<%= message_thumb.sender.link %>">
				<%= message_thumb.sender.username %>
			</a>
		</div>
	</div>
	<div class="replies">
		<span><%= number_with_delimiter message_thumb.comment_thread.total_comments %> replies</span>
	</div>
	<div class="activity">
		<span>
			<% if message_thumb.last_comment %>
			active <%= since message_thumb.last_comment.updated_at %>
			<% end %>
		</span>
	</div>
	<div class="actions repaintable" data-id="<%= message_thumb.id %>" data-target="message/<%= @type %>">
		<button title="Mark <% if message_thumb.unread %>Read<% else %>Unread<% end %>" class="action button button-bub toggle" data-state="unread" data-parent=".thread" data-action="markread" data-target="message" data-id="<%= message_thumb.id %>" data-checked-icon="star" data-unchecked-icon="star-o">
			<span class="icon">
				<i class="fa fa-<% if message_thumb.unread %>star<% else %>star-o<% end %>"></i>
			</span>
		</button>
		<% if message_thumb.state == 0 %>
		<a title="Delete" class="button remove button-bub"><i class="fa fa-trash-o"></i></a>
		<% else %>
		<a title="Restore" class="button remove button-bub"><i class="fa fa-reply"></i></a>
		<% end %>
	</div>
</li>