<li class="removeable notification <%= notification.sender %><% if notification.unread %> unread<% end %>" data-target="notification"  data-id="<%= notification.id %>">
	<a href="<%= notification.source %>">
		<%= raw notification.message %>
	</a>
	<a href="#" title="Remove" class="remove right" >
		<i class="fa fa-times"></i>
	</a>
	<% if notification.sender.index('comment_threads_') == 0 %>
		<% if notification.comment_thread && notification.comment_thread.subscribed?(current_user) %>
			<a title="Unsubscribe" href="#" class="action right toggle subscription"
				data-unchecked-icon="bell" data-checked-icon="bell-slash"
				data-action="subscribe" data-target="thread" data-id="<%= notification.comment_thread_id %>">
				<span class="icon">
					<i class="fa fa-bell-slash"></i>
				</span>
			</a>
		<% end %>
	<% end %>
</li>