<li class="thread removeable<% if thumb.unread %> unread<% end %>" data-id="<%= @type %>" data-target="messages/<%= thumb.id %>">
	<div class="thumb">
		<div class="avatar medium">
			<span style="background-image:url('<%= thumb.sender.avatar %>');"></span>
		</div>
	</div>
	<div class="info">
		<div class="title">
			<a href="<%= thumb.location %>">
				<%= thumb.comment_thread.get_title %>
			</a>
		</div>
		<div>
			sent 
			<span title="<%= thumb.comment_thread.created_at %>">
				<%= since thumb.comment_thread.created_at %>
			</span>
			by 
			<a class="user-link" data-id="<%= thumb.sender_id %>" href="<%= thumb.sender.link %>">
				<%= thumb.sender.username %>
			</a>
		</div>
	</div>
	<div class="replies">
		<span><%= number_with_delimiter thumb.comment_thread.total_comments %> replies</span>
	</div>
	<div class="activity">
		<span>
			<% if thumb.last_comment %>
			active <%= since thumb.last_comment.updated_at %>
			<% end %>
		</span>
	</div>
	<div class="actions repaintable" data-id="<%= thumb.id %>">
		<button title="Mark <% if thumb.unread %>Read<% else %>Unread<% end %>" class="action button button-bub toggle" data-state="unread" data-parent=".thread" data-action="markread" data-target="messages" data-id="<%= thumb.id %>" data-checked-icon="star" data-unchecked-icon="star-o">
			<span class="icon">
				<i class="fa fa-<% if thumb.unread %>star<% else %>star-o<% end %>"></i>
			</span>
		</button>
		<% if thumb.state == 0 %>
		<a title="Delete" class="button remove button-bub"><i class="fa fa-trash-o"></i></a>
		<% else %>
		<a title="Restore" class="button remove button-bub"><i class="fa fa-reply"></i></a>
		<% end %>
	</div>
</li>