= form_with url: videos_import_path, class: 'async video-import-form js-video-import', method: :post do |f|
	.message_content
		%label.options
			= f.text_field :url, placeholder: 'Video URL'
			%select(name="order")= sensible_option_for_select ['Post Now', 'Create Draft'], 0
		.red
			= fa :info
			Links supported: youtube.com/watch?v=ID, youtu.be/ID, youtube.com/shorts/ID
	.foot
		= f.submit "Submit", class: "blue confirm right"
