%h1 Api
.notice This is your personal API Token. Use it wisely.
%table
	%tr
		%td.label Token
		%td.field= @token.token
	%tr
		%td.label Max hits
		%td.field= @token.max_hits
	%tr
		%td.label Hits
		%td.field
			= @token.hits
			= surround '(', ')' do
				= @token.total_hits
				total
.notice
	There are a number of routes you can use this token for:
%hr
%table
	%tr
		%td.label
			Extra data can be returned from each of the below routes using the optional include
			parameters. Simply epecify the requested keys in a come-delimited list.
	%tr
		%td.label
			= absolute_url '/api/path?key[your_api_key]&include=key1,key2,key3...'
%table
	%tr
		%td.field
			%a(href="/api/videos?key=#{@token.token}")
				= absolute_url '/api/videos'
	%tr
		%td.label
			%b Parameters
			%table
				%thead
					%tr
						%td Name
						%td Type
						%td Description
						%td Default
				%tbody
					%tr
						%td page
						%td optional
						%td Page number to request
						%td 0
					%tr
						%td limit
						%td optional
						%td Page size when paging. Minimum 1 and maximum 100.
						%td 10
					%tr
						%td q
						%td optional
						%td Optional search query to filter results.
	%tr
		%td.label
			%b Optional Include Parameters
			%ul
				%li user
				%li file
	%tr
		%td.field
			%a(href="/api/videos/1?key=#{@token.token}")
				= absolute_url '/api/videos/[video_id]'
	%tr
		%td.label
			%b Optional Include Parameters
			%ul
				%li user
				%li file
	%tr
		%td.field
			%a(href="/api/youtube?key=#{@token.token}&url=https://www.youtube.com/watch?v=-wekCRyFH40")
				= absolute_url '/api/youtube?url=[youtube_video_url]'
	%tr
		%td.label
			%b Parameters
			%table
				%thead
					%tr
						%td Name
						%td Type
						%td Description
						%td Default
				%tbody
					%tr
						%td url
						%td required
						%td A link to any video hosted on youtube. Mobile and desktop formats both supported.
						%td
	%tr
		%td.label
			%b Optional Include Parameters
			%ul
				%li
					title -
					%span The video's title as displayed on the front-end
				%li
					description -
					%span The video's description, presented as both html and bbcode versions
				%li
					artist -
					%span
						Appends information pertaining to the youtube channel owning the video.
						Will include the channel's name, id, and url
				%li
					thumbnail -
					%span Links to the video' thumnbail
				%li
					iframe -
					%span Appends html for the equivalent iframe for embedding the video.
				%li
					tags
					%span Appends all of the tabs (topic names) applied to the video
				%li
					coppa -
					%span A boolean indicating whether the video is child-safe
				%li
					views -
					%span The number of views the video ha obtained
				%li
					rating -
					%span
						An object describing the video's rating.
						Will include the average (5-star) rating, number of likes, and number of dislikes.
				%li
					duration -
					%span
						The video's length in seconds.
.notice
	OEmbed is also supported!
%table
	%tr
		%td.label
			%a(href="/oembed.json?url=#{absolute_url 1}")
				= absolute_url '/oembed.json?url=[url]'