%h1 Api
.notice This is your personal API Token. Use it wisely.
%table
	%tr
		%td.label Token
		%td.field= @token.token
	%tr
		%td.label Max hits
		%td.field= @token.max_hits
	%tr
		%td.label Hits
		%td.field
			= @token.hits
			= surround '(', ')' do
				= @token.total_hits
				total
	- if @token.hits >= @token.max_hits && !@token.reset_at.nil?
		%tr
			%td.label Reset At
			%td.field= @token.reset_at + @token.reset_interval
.notice
	There are a number of routes you can use this token for:
%hr
%table
	%tr
		%td.highlight
			Extra data can be returned from each of the below routes using the optional include
			parameters. Simply epecify the requested keys in a come-delimited list.
	%tr
		%td.highlight
			= absolute_url '/api/path?key[your_api_key]&include=key1,key2,key3...'
%table
	%tr
		%td.field
			%a(href="/api/videos?key=#{@token.token}")
				= absolute_url '/api/videos'
	%tr
		%td.highlight
			%b Parameters
			%table
				%thead
					%tr
						%td Name
						%td Type
						%td Description
						%td Default
				%tbody
					%tr
						%td page
						%td optional
						%td Page number to request
						%td 0
					%tr
						%td limit
						%td optional
						%td Page size when paging. Minimum 1 and maximum 100.
						%td 10
					%tr
						%td q
						%td optional
						%td Optional search query to filter results.
						%td
	%tr
		%td.highlight
			%b Optional Include Parameters
			%ul
				%li user
				%li file
	%tr
		%td.field
			%a(href="/api/videos/1?key=#{@token.token}")
				= absolute_url '/api/videos/[video_id]'
	%tr
		%td.highlight
			%b Optional Include Parameters
			%ul
				%li user
				%li file
	%tr
		%td.field
			%a(href="/api/youtube?key=#{@token.token}&url=https://www.youtube.com/watch?v=-wekCRyFH40")
				= absolute_url '/api/youtube?url=[youtube_video_url]'
	%tr
		%td.highlight
			%b Parameters
			%table
				%thead
					%tr
						%td Name
						%td Type
						%td Description
						%td Default
				%tbody
					%tr
						%td url
						%td required
						%td A link to any video hosted on youtube. Mobile and desktop formats both supported.
						%td
	%tr
		%td.highlight
			%b Optional Include Parameters
			%ul
				%li
					title -
					%span The video's title as displayed on the front-end
				%li
					views -
					%span The number of views the video ha obtained
				%li
					duration -
					%span
						The video's length in seconds.
				%li
					coppa -
					%span
						Age rating information and a flag to indicate whether the video has been marked as "Made for Kids"
						ad determined by YouTube.
						%b
							Disclaimer: Content marked as "Made for Kids" may not actually be child-friendly.
							This should not be used when determining age-appropriateness.
				%li
					description -
					%span The video's description, presented as both html and bbcode versions
				%li
					rating -
					%span
						An object describing the video's rating.
						Will include the average (5-star) rating, number of likes, and number of dislikes.
				%li
					series -
					%span Include series information if the video is part of a series.
				%li
					artist -
					%span
						Appends information pertaining to the youtube channel owning the video.
						Will include the channel's name, id, and url
				%li
					thumbnails -
					%span Links to the video' thumnbail
				%li
					tags -
					%span Appends all of the tabs (topic names) applied to the video
				%li
					categories -
					%span The public categories the video was uploaded under. E.g gaming.
				%li
					annotations -
					%span Annotations if available
				%li
					captions -
					%span Captions if available
				%li
					chapters -
					%span Chapter titles and timestamps if available, as provided by YouTube.
				%li
					sources -
					%span Video download links (may not work)
				%li
					endscreen -
					%span Video endcards, featured videos, channels, etc.
				%li
					iframe -
					%span Appends html for the equivalent iframe for embedding the video.
.notice
	OEmbed is also supported!
%table
	%tr
		%td.highlight
			%a(href="/oembed.json?url=#{absolute_url 1}")
				= absolute_url '/oembed.json?url=[url]'