%h1 Api
.notice This is your personal API Token. Use it wisely.
%table
	%tr
		%td.label Token
		%td.field= @token.token
	%tr
		%td.label Max hits
		%td.field= @token.max_hits
	%tr
		%td.label Hits
		%td.field
			= @token.hits
			= surround '(', ')' do
				= @token.total_hits
				total
.notice
	There are a number of routes you can use this token for:
%hr
%table
	%tr
		%td.label
			Extra data can be returned from each of the below routes using the optional include
			parameters. Simply epecify the requested keys in a come-delimited list.
	%tr
		%td.label
			= absolute_url '/api/path?key[your_api_key]&include=key1,key2,key3...'
%table
	%tr
		%td.field
			%a(href="/api/videos?key=#{@token.token}")
				= absolute_url '/api/videos'
	%tr
		%td.label
			%b Optional Include Parameters
			%ul
				%li user
				%li file
	%tr
		%td.field
			%a(href="/api/videos/1?key=#{@token.token}")
				= absolute_url '/api/videos/[video_id]'
	%tr
		%td.label
			%b Optional Include Parameters
			%ul
				%li user
				%li file
	%tr
		%td.field
			%a(href="/api/youtube?key=#{@token.token}&url=https://www.youtube.com/watch?v=-wekCRyFH40")
				= absolute_url '/api/youtube?url=[youtube_video_url]'
	%tr
		%td.label
			%b Optional Include Parameters
			%ul
				%li title
				%li description
				%li artist
				%li thumbnail
				%li iframe
.notice
	OEmbed is also supported!
%table
	%tr
		%td.label
			%a(href="/oembed.json?url=#{absolute_url 1}")
				= absolute_url '/oembed.json?url=[url]'