<% lim "900px" %>
<section style="width:100%;" class="page properties">
	<h1>Profile Information</h1>
	<%= render partial: "/artist/edit", locals: { user: current_user, url: "/ajax/update/artist" } %>
</section>
<section style="width:100%;" class="page properties">
	<h1>Account Settings</h1>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= devise_error_messages! %>
	<table>
		<tr class="section">
			<td colspan="2">
				Basic Information
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :email %>
			</td>
			<td class="field">
				<%= f.email_field :email, autofocus: true %>
				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="label">
			<%= f.label :password %>
			</td>
			<td class="field">
			<%= f.password_field :password, autocomplete: "off" %>
			</td>
		</tr>
		<tr>		
			<td class="label">
			<%= f.label :password_confirmation %>
			</td>
			<td class="field">
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</td>
		</tr>
		<tr class="section">
			<td colspan="2">
				Save
			</td>
		</tr>
		<tr>
			<td class="label">
			<%= f.label :current_password %>
			</td>
			<td class="field">
			<%= f.password_field :current_password, autocomplete: "off" %>
			</td>
		</tr>
		<tr class="actions">
			<td class="label">
			</td>
			<td class="field">
				<%= f.submit "Save Changes", class: "green" %>
			</td>
		</tr>
	</table>
<% end %>
</section>
<section style="width:100%;" class="page properties">
	<h1>Delete Account</h1>
	<table>
		<tr>
			<td class="label">
				Careful! This can not be undone.
			</td>
			<td class="field">
				<button id="close_account" class="red">Cancel my account</button>
				<script>
$('#close_account').on('click', function() {
  if (!$('#cancel_msg').length) new Popup('Here be dragons', 'warning', function() {
    this.content.attr('id', 'cancel_msg');
    this.content.append($('#cancel_form').html());
    var me = this;
    this.content.find('button.cancel').on('click', function() {
      me.close();
    });
    this.setFixed();
    this.show();
  });
});
				</script>
				<div id="cancel_form" style="display:none;">
					<div class="message_content">
						
						<p>
							Your account will be permanently deleted. This includes any starred videos.
							Though you can always create a new account later.
						</p>
					</div>
					<div class="foot">
						<button class="right cancel" type="button">No thanks</button>
						<%= button_to "Yes, Cancel my account", registration_path(resource_name), class: "red", method: :delete %>
					</div>
				</div>
			</td>
		</tr>
	</table>
</section>
