<div class="wrapper" style="text-align: center;">
	<%= devise_error_messages! %>
	<section class="page modal" style="width:100%;max-width:300px;">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<h1>Sign up</h1>
		
		<%= f.text_field :username, autofocus: true, placeholder: "Nickname" %>
		<br><br>
		<%= f.email_field :email, placeholder: "Email" %>
		<br><br><br>
		<%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
		<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
		<% end %>
		<br><br>
		<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
		<div class="actions">
			<%= f.submit "Sign up" %>
		</div>
	<% end %>
	<div class="tiny-foot">
		<%= render "devise/shared/links" %>
	</div>
	</section>
</div>