.content
	Comment posted by
	= render 'comments/guts/plain_name', comment: comment
	deleted
	= since comment.updated_at
	- if comment.moderation_note
		= surround '(', ')' do
			= comment.moderation_note
	- if user_signed_in? && current_user.is_contributor?
		%a.remove-comment.right{title: "Restore Comment", href: comment_path(comment, indirect: indirect), data: {id: comment.get_open_id, title: "Restore Comment", icon: "warning"}}
			= fa :trash
