- if indirect && comment.comment_thread.owner_type == 'Video'
	- if indirect
		%div
			%p
				In
				%a.bubble-link{href: videos_path} Videos
				\—
				%a.bubble-link{href: comment.comment_thread.owner.link}= comment.comment_thread.owner.title
	.artist-bio.bio
		= render 'videos/thumb_i', thumb_i: Video.where(id: comment.comment_thread.owner_id).with_likes(current_user).first, comment: comment.get_open_id
- else
	- if indirect
		%div
			%p
				In
				%a.bubble-link{href: comment.comment_thread.owner.link}= comment.comment_thread.owner.title
				\—
				%a.bubble-link{href: comment.comment_thread.link}= comment.comment_thread.get_title
	.artist-bio.bio
		%a{class: !comment.user.is_dummy && "user-link", "data-id": comment.user_id, href: comment.user.link}
			= render 'users/avatar/medium', user: comment.user
.content{style: indirect && comment.comment_thread.owner_type == 'Video' && "margin-left:200px", "data-id": comment.id, "data-o-id": comment.get_open_id, "data-comment": comment.bbc_content}
	.comment-actions
		- if user_signed_in?
			%button.action.like{title: "Like", class: comment.is_liked && "liked", data: {count: comment.score, action: "comments/#{comment.id}/like"}}
				%span
					- if comment.score && comment.score > 0
						%span.count= comment.score
				= fa :thumbs_up
			- if !indirect
				%a.reply-comment(title="Reply")= fa :reply
			%span.popper(style="margin-left: 10px")
				%a.action.pop-out-toggle= fa :gear
				%ul.pop-out
					- if comment.owned_by!(current_user)
						%li.action
							%a.edit-comment.state-toggle(data-state="editing" data-parent=".content")
								%span.icon= fa :pencil
								%span.label Edit
					- if comment.owned_by(current_user)
						%li.action
							%a.remove-comment(href="#{comment_path comment, indirect: indirect}" data-id="#{comment.get_open_id}" data-title="Delete Comment")
								%span.icon= fa :trash
								%span.label Delete
					%li.action
						%a.report-comment(href="#{new_admin_report_path comment.reportable_hash}" data-id="#{comment.get_open_id}" data-title="Report Comment")
							%span.icon= fa :warning
							%span.label Report
		- else
			%span.like{title: "Likes", class: comment.is_liked && "liked"}
				- if comment.score && comment.score > 0
					= comment.score
				= fa :thumbs_up
			%a.report-comment(title="Report" href="#{new_admin_report_path comment.reportable_hash}" data-id="#{comment.get_open_id}" data-title="Report Comment")= fa :warning
		
	.name{class: comment.user.banned? && "banned"}
		- if comment.user.is_dummy
			%b= comment.user.username
		- else
			%a{class: !comment.user.is_dummy && "user-link", "data-id": comment.user_id, href: comment.user.link}
				= comment.user.username
		= render 'forum/badges/badges', user: comment.user
		
		- comment.mentions.each do |mention|
			%a.mention(href="#comment_#{Comment.encode_open_id(mention.parent_id)}" data-comment-id="#{mention.parent_id}")<
				&gt;&gt;
				= Comment.encode_open_id(mention.parent_id)
	
	.comment-content.preview= emotify comment.bbc_content
	- if user_signed_in? && current_user.id == comment.user_id
		%textarea.comment-content(name="comment_#{comment.id}")= raw comment.bbc_content
		%hr/
		.actions
			%button.green.edit-comment-submit> Edit Comment
