= render "comments/guts/#{indirect ? 'indirect_' : ''}bio", comment: comment
.content{"data-id": comment.id, "data-o-id": comment.oid, "data-comment": comment.bbc_content}
	= render 'comments/guts/actions', comment: comment, indirect: indirect
	= render 'comments/guts/name', comment: comment, indirect: indirect

	.comment-content.preview= emotify comment.bbc_content
	- if user_signed_in? && current_user.id == comment.user_id
		%textarea.comment-content(name="comment_#{comment.id}")= raw comment.bbc_content
		%hr/
		.actions
			%button.green.edit-comment-submit Edit Comment
			%button.edit-comment.state-toggle(type="button" data-state="editing" data-parent=".content") Cancel
