- if @thread.locked
	.notice Thread Locked
- elsif !ApplicationHelper.bg_ponies && visitor.dummy?
	.notice
		Please 
		%a(data-external-form="#{new_user_session_path}.json" data-icon="sign-in" data-title="Login" data-thin="true" href="#{new_user_session_path}")
			sign in
		to comment.
- else
	%form.comment.post-box
		.artist-bio.bio
			%a{class: !visitor.dummy? && "user-link", "data-id": visitor.id, href: visitor.link}
				= render 'users/avatar/medium', user: visitor
		%label
			.content.editing.previewable
				.name
					%a{class: !visitor.dummy? && "user-link", "data-id": visitor.id, href: visitor.link}= visitor.username
					- if user_signed_in?
						= render 'forum/badges/badges', user: current_user
				= render "comments/edit_toolbar"
				.comment-content.preview
				%textarea.comment-content(required="true" name="comment")
				%hr/
				- if visitor.dummy?
					= recaptcha_tags
					%hr/
				.actions
					%button.green.post-submitter.disabled(type="button" data-thread-id="#{@thread.id}" data-order="#{@order}" data-url="#{comments_path}")>
						%span Post Comment
						%i.posting-spinner.fa.fw.fa-spinner.fa-spin
					.button.blue.state-toggle.button-fw(type="button" data-state="editing" data-parent=".previewable")>
						%span.on Preview
						%span.off Edit
					= flash[:recaptcha_error]
