%form#slug-search(action="#{@sa}" method="get")
	%input(name="#{@query_term}" type="search" placeholder="tag1, tag2, title:example, upvoted_by:user, ..." title="Search by one or more tags" value="#{@query}")
	%span
		%label.options
			%span Sort
			%select(name="order")= sensible_option_for_select %w[ Ascending Descending ], @ascending ? 0 : 1
		%label.options
			%span Order By
			%select(name="orderby")= sensible_option_for_select @ordering_labels, @orderby
		%button(type="submit")
			= fa :search
			Search
= render partial: "search/syntaxes/#{table}_toolbar", locals: {amp_id: 'slug-search'}
