<h1>
<% if @query.length == 0 %>Showing all <%= @type_label %>s<% else %>Searching for <%= @type_label %>s matching '<%= @query %>'<% end %>
 found <%= number_with_delimiter @results.count %> match<% if @results.count != 1 %>es<% end %></h1>
<% if @tags && @tags.length > 0 %>
	<%= render partial: 'tag/set', locals: {tags: @tags} %>
<% end %>
<%= render layout: 'pagination/paginated', locals: { type: 'search', paginated: @results, id: "page"} do %>
	<section class="search-result">
		<ul id="<%= @table %>" class="horizontal <%= @type_label.underscore %>-list">
			<%= render partial: @partial, collection: @results.records %>
		</ul>
	</section>
<% end %>
