%h1
	- if @query.length == 0
		Showing all
		= @type_label.pluralize
	- else
		= "Searching for #{@type_label.pluralize} matching '#{@query}'"
		found 
		= number_with_delimiter @results.count
		= "match".pluralize(@results.count)
- if @tags && @tags.length > 0
	= render 'tags/set', tags: @tags
= render layout: 'pagination/paginated', locals: { type: 'search', paginated: @results, id: "page"} do
	%section.search-result
		%ul.horizontal{id: @table, class: "#{@type_label.underscore}-list"}
			= render partial: @partial, collection: @results.records
