%h1
	- c = @results.count
	Showing
	= @results.page_offset_start
	to
	= @results.page_offset_end
	of
	= number_with_delimiter c
	= 'video'.pluralize(c)
	- if @query.length > 0
		matching
		= surround "'", "'" do
			= @query
= yield
- if @tags && @tags.length > 0
	%hr
	= render 'tags/set', tags: @tags
- if c > 0
	= render layout: 'pagination/paginated', locals: { type: 'search', paginated: @results, id: "page"} do
		%section.search-result
			%ul.horizontal{id: @table, class: "video-list"}
				= render partial: @partial, collection: @results.records
- else
	= render 'pagination/warden_derpy'
