%form#slug-search(action="" method="get")
	%input(name="#{@query_term}" type="search" placeholder="Search" value="#{@query}")
	%span
		%label.options
			%span Order
			%select(name="order")= sensible_option_for_select %w[ Ascending Descending ], @order
		- if @orderings && @orderings.length > 1
			%label.options
				%span Order By
				%select(name="orderby")= sensible_option_for_select @ordering_labels, @orderby
		%button(type="submit")
			= fa :search
			Search
