%h1 Searching for- Uh, oh!
.warden_derpy
	.derpy
	%div
	- if @results.lexer_error?
		You searched for
		= surround '"' do
			= @query
		but I don't know what that means.
		= emoticon_tag "applecry"
	- else
		= derp
%hr/
%p.center.red= @results.error.message
