%h1 Showing- Uh, oh!
= yield
.derpy
	.derp{class: (@results.lexer_error? || @results.input_error? ? "variant_2" : "variant_1") }
	%div
	- if @results.lexer_error?
		You searched for
		= surround '"' do
			= @query
		but I don't know what that means.
	- elsif @results.input_error?
		Did I do somethin' wrœñ¿6?
	- else
		= derp
%hr/
%p.center.red= @results.exception.message
