%h1 Showing- Uh, oh!
= yield
.warden_derpy
	.derpy
	%div
	- if @results.lexer_error?
		You searched for
		= surround '"' do
			= @query
		but I don't know what that means.
		= emoticon_tag "applecry"
	- elsif @results.input_error?
		Did I do somethin' wrœñ¿6?
	- else
		= derp
%hr/
%p.center.red= @results.error.message
