		<div class="page column-left">
			<h1>Searching for <%= @type_label %>s containing '<%= @query %>'</h1>
			<% content_for :data do %>query=<%= @query %>&type=<%= @type %>&order=<%= @ascending ? 1 : 0 %>&orderby=<%= @orderby %><% end %>
			<%= render layout: '/layouts/paginated', locals: {type: 'search',paginated: @results} do %>
				<section class="search-result">
					<% if @type == 0 %>
					<ul id="videos" class="horizontal video-list">
						<%= render partial: 'layouts/video_thumb_h', collection: @results.records %>
					</ul>
					<% elsif @type == 1 %>
					<ul id="albums" class="horizontal album-list">
						<%= render partial: 'layouts/album_thumb_h', collection: @results.records %>
					</ul>
					<% elsif @type == 2 %>
					<ul id="artists" class="horizontal artist-list">
						<%= render partial: 'layouts/artist_thumb_h', collection: @results.records %>
					</ul>
					<% elsif @type == 3 %>
					<ul id="genres" class="horizontal genre-list">
						<%= render partial: 'layouts/genre_thumb_h', collection: @results.records %>
					</ul>
					<% end %>
				</section>
			<% end %>
		</div>
		<div class="page resize-holder column-right right">
			<section>
				<h1 class="resize-target">
					<a>Search</a>
				</h1>
				<form action="search" method="get" id="big-search">
					<span>
						<input type="text" name="query" placeholder="search" style="width:100%" value="<%= @query %>"></input>
					</span>
					<span class="search-options">
						<label>
							<span>Type</span>
							<div>
								<select name="type" style="width:100%" value="<%= @type_label %>">
									<option value="0"<% if @type == 0 %> selected<% end %>>Song</option>
									<option value="1"<% if @type == 1 %> selected<% end %>>Album</option>
									<option value="2"<% if @type == 2 %> selected<% end %>>Artist</option>
									<option value="3"<% if @type == 3 %> selected<% end %>>Genre</option>
								</select>
							</div>
						</label>
						<label>
							<span>Order</span>
							<div>
								<select name="order" style="width:100%">
									<option value="1"<% if @ascending %> selected<% end %>>Ascending</option>
									<option value="0"<% if !@ascending %> selected<% end %>>Descending</option>
								</select>
							</div>
						</label>
						<label>
							<span>Order By</span>
							<div>
								<select name="orderby" style="width:100%" value="<%= @orderby %>">
									<option value="1"<% if @orderby == '1' %> selected<% end %>>Date</option>
									<option value="2"<% if @orderby == '2' %> selected<% end %>>Rating</option>
									<option value="3"<% if @orderby == '3' %> selected<% end %>>Length</option>
								</select>
							</div>
						</label>
					</span>
					<span>
						<button type="submit"><i class="fa fa-search"></i> Search</button>
					</span>
				</form>
			</section>
		</div>