- site_name ||= 'Project Vinyl'

%meta(name="title" content="#{title}")
%meta(name="dc:title" content="#{title}")

= render partial: 'layouts/metadata/global', locals: {site_name: site_name, site_description: description }

- if tags.length > 0
	- keywords = Tag.tag_string(tags)
	%meta(name="keywords" content="#{keywords}")
	%meta(name="dc:keywords" content="#{keywords}")

%meta(property="og:url" content="#{url}")
%meta(property="og:title" content="#{title}")
%meta(property="og:image" content="#{cover}")
%meta(property="og:description" content="#{description}")
%meta(property="og:type" content="#{og[:type]}")

- width ||= 1280
- height ||= 720

- if type == :video
	%meta(property="og:#{type}:type" content="#{mime}")
	%meta(property="og:#{type}:width" content="#{width}")
	%meta(property="og:#{type}:height" content="#{height}")
	%meta(property="og:#{type}" content="#{file}")
- else
	%meta(property="og:#{type}:type" content="text/html")

- if type != :album
	%meta(property="og:#{type}:duration" content="#{duration}")
- if og[:album] && og[:album][:track]
	%meta(property="og:album:track" content="#{og[:album][:track]}")

%meta(property="og:#{type}:url" content="#{url}")

- tags.each do |tag|
	%meta(property="og:#{type}:tag" content="#{tag.name}")

%meta(property="al:web:url" content="#{url}")
%meta(name="twitter:card" content="player")
%meta(name="twitter:url" content="#{url}")
%meta(name="twitter:title" content="#{title}")
%meta(name="twitter:description" content="#{description}")
%meta(name="twitter:image" content="#{cover}")

- if type == 'video'
	%meta(name="twitter:player" content="#{embed_url}")
	%meta(name="twitter:player:width" content="#{width}")
	%meta(name="twitter:player:height" content="#{height}")

- if oembed
	= render partial: 'layouts/metadata/oembed', locals: {oembed: oembed, url: url, title: title }
