- oparam = "#{url}?#{oembed.to_param}"
%link(rel="alternate" type="application/json+oembed" href="#{oembed_url format: :json, url: oparam}" title="#{title}")
%link(rel="alternate" type="application/xml+oembed" href="#{oembed_url format: :xml, url: oparam}" title="#{title}")
