%section.page.full-width.recent-uploads.resize-holder
	%h1.title.resize-target
		Songs by
		= @user.username
		= surround '(', ')' do
			= number_with_delimiter @art.count
		%a.right{href: @user.tag.link}
			View All
			= fa :chevron_right
	%ul.horizontal.video-list#songs
		- if @art.count > 0
			= render partial: 'videos/thumb_h', collection: @art.records
		- else
			%li.generic.virtual.keep
