= render 'users/left_column/modules/description'
- if @art
	= render 'users/left_column/modules/art'
- if @modifications_allowed
	= render 'users/left_column/modules/favourites'
- if @watched
	= render 'users/left_column/modules/recently_watched'
= render 'users/left_column/modules/uploads'
= render 'users/left_column/modules/albums'
