= render 'users/left_column/modules/description'
= render 'users/left_column/modules/art'
= render 'users/left_column/modules/favourites'
= render 'users/left_column/modules/recently_watched'
= render 'users/left_column/modules/uploads'
= render 'users/left_column/modules/albums'
