%tr.activity
	%td
		%a.thumb.tiny.left{href: recent.comment_thread.owner.link}
			- if recent.comment_thread.video?
				- spoilered = current_filter.video_spoilered?(recent.comment_thread.owner)
				.tile= render partial: 'videos/thumb/img', locals: { video: recent.comment_thread.owner, spoilered: spoilered }
			- else
				.tile{style: format_bg(recent.comment_thread.icon)}
	%td
		%div
			%a{href: recent.link}
				= precede '#' do
					= recent.oid
			by 
			- if recent.anonymous?
				%b= recent.user.username
			- else
				= render partial: 'users/link', locals: {user: recent.user}
		%div= since recent.updated_at
