%tr.activity
	%td
		%a.thumb.tiny.left{href: recent.comment_thread.owner.link}
			.tile{style: format_bg(recent.comment_thread.owner.tiny_thumb(current_user, current_filter))}
	%td
		%div
			%a{href: recent.link}
				= precede '#' do
					= recent.get_open_id
			by 
			- if recent.anonymous?
				%b= recent.user.username
			- else
				= render partial: 'users/link', locals: {user: recent.user}
		%div= since recent.updated_at
