<div class="row change">
	<% if change.added.nil? %>
	<div>
		<%= change.value %>
	</div>
	<% else %>
	<div>
		<div>
			<% if !change.tag.nil? %>
			#<a href="<%= change.tag.link %>">
			<%= change.tag.name %>
			</a>
			<% end %>
		</div>
	</div>
	<% end %>
	<div class="duration action <%= change.action_class %>"><%= change.action %></div>
	<div class="duration">
		<%= since change.created_at %>
	</div>
	<div class="author">
		<span>
			<% if change.user_id == 0 %>
			System
			<% else %>
				<a class="user-link" data-id="<%= change.user_id %>" href="<%= change.user.link %>">
					<%= change.user.username %>
					<sup>
						<% if change.user_id == @video.user_id %>
							<i title="Uploader" class="fa fa-user"></i>
						<% end %>
						<% if change.user.is_staff? %>
							<i title="Staff" class="fa fa-gavel"></i>
						<% end %>
					</sup>
				</a>
			<% end %>
		</span>
	</div>
</div>