.row.change
	.cell.author
		%a.thumb.tiny.left{href: change.video.link}
			.tile{style: format_bg(change.video.tiny_thumb(current_user, current_filter))}
	- if change.added.nil?
		.cell= change.value
	- else
		.cell
			- if !change.tag.nil?
				= render partial: 'tags/thumb/normal', locals: {normal: change.tag}
	.cell.duration.action{class: change.action_class}= change.action
	.cell.duration= since change.created_at
	.cell.author
		- if change.user_id == 0
			System
		- else
			%a.user-link(data-id="#{change.user_id}" href="#{change.user.link}")
				= change.user.username
				%sup
					- if change.user_id == change.video.user_id
						%i.fa.fa-user(title="Uploader")
					- if change.user.is_staff?
						%i.fa.fa-gavel(title="Staff")
