<div class="row row-group" data-stack-size="<%= file.stack_size %>">
	<a id="<%= file.name %>" <% if !file.directory? %>target="__top"<% end %> href="<%= file.link %>" class="row" data-type="<%= file.type %>">
		<div>
			<div>
				<i class="fa fa-<%= file.icon %>"></i> <%= file.name %>
				<span class="artifact"><%= file.special_name %></span>
			</div>
		</div>
		<div><span><%= file.type %><span></div>
	</a>
	<% file.each do |f| %>
	<a id="<%= f.name %>" <% if !f.directory? %>target="__top"<% end %> href="<%= f.link %>" class="row" data-type="<%= f.type %>">
		<div><i class="fa fa-<%= f.icon %>"></i> <%= f.name %></div>
		<div><span><%= f.type %></span></div>
	</a>
	<% end %>
</div>