<% if @album %>
	<% title @album.title %>
	<div class="wrapper column-left left">
		<%= render partial: 'album/album' %>
	</div>
	<section class="page column-right right properties">
		<div class="actions">
			<table>
			<%= form_for(@album, as: "item", url: "/admin/transfer?type=album", html: { method: :put }) do |f| %>
				<%= f.text_field :id, hidden: true %>
				<tr>
					<td class="label">
						<%= f.label "Current Owner" %>
					</td>
					<td class="field">
						<a href="<%= @user.link %>">
							<%= @user.username %> (<%= @user.id %>)
						</a>
					</td>
				</tr>
				<tr>
					<td class="label">
						<%= f.label "Owner" %>
					</td>
					<td class="field popper auto-lookup" data-action="artist">
						<%= f.text_field :user_id, autocomplete: "off" %>
						<ul class="pop-out"></ul>
					</td>
				</tr>
				<tr class="actions">
					<td class="label">
					</td>
					<td class="field">
						<%= f.submit "Transfer Ownership", class: "green" %>
					</td>
				</tr>
			<% end %>
				<tr class="actions">
					<td class="label">
						Delete Item
					</td>
					<td class="field">
						<button class="confirm-button action red" data-action="delete" data-url="/delete/album/<%= @album.id %>" data-title="Delete Album" data-icon="warning"><i class=\"fa fa-trash\"></i> Delete Album</button>
					</td>
				</tr>
			</table>
		</div>
	</section>
	<%= render partial: 'album/items' %>
<% else %>
<%= render layout: '/layouts/error', locals: { title: 'Nothing to see here!' } do %>
This album appears to have been  moved or deleted.
<% end %>
<% end %>