<h1 class="title">
	<a href="/">Home</a> <i class="fa fa-chevron-right"></i> <a href="/admin">Admin</a> <i class="fa fa-chevron-right"></i> 
	User <i class="fa fa-chevron-right"></i> <a href=""><%= @user.username %></a>
</h1>
<section class="page properties column-left">
	<h1>Edit Profile</h1>
	<%= render partial: 'artist/edit', locals: { user: @user, url: "/ajax/update/artist?user_id=" + @user.id.to_s } %>
</section>
<section class="page properties column-right right">
	<table>
		<tr>
			<td class="label">
				Roles
			</td>
			<td class="field">
				<% if current_user.id == @user.id %>
				<p style="color:red">You cannot change your own role.</p>
				<% else %>
				<button class="action toggle blue<% if !current_user.is_admin? %> disable" disabled<% else %>"<% end %> data-family="role-flags" data-action="admin" data-target="user/role" data-id="<%= @user.id %>">
					<span class="icon">
						<% if @user.admin? %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Administrator</span>
				</button>
				<br><br>
				<button class="action toggle blue<% if !current_user.is_contributor? %> disable" disabled<% else %>"<% end %> data-family="role-flags" data-action="contributor" data-target="user/role" data-id="<%= @user.id %>">
					<span class="icon">
						<% if @user.contributor? %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Moderator</span>
				</button>
				<br><br>
				<button class="action toggle blue<% if !current_user.is_staff? %> disable" disabled<% else %>"<% end %> data-family="role-flags" data-action="staff" data-target="user/role" data-id="<%= @user.id %>">
					<span class="icon">
						<% if @user.staff? %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Staff</span>
				</button>
				<br><br>
				<button class="action toggle blue" data-family="role-flags" data-action="normal" data-target="user/role" data-id="<%= @user.id %>">
					<span class="icon">
						<% if @user.role == 0 %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Normal</span>
				</button>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="label">
				Banned
			</td>
			<td class="field">
				<% if current_user.id == @user.id %>
				<p style="color:red">You cannot ban yourself.</p>
				<% else %>
				<button class="action toggle red" data-family="role-flags" data-action="banned" data-target="user/role" data-id="<%= @user.id %>">
					<span class="icon">
						<% if @user.banned? %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Ban User</span>
				</button>
				<% end %>
			</td>
		<tr>
			<td class="label">
				Badges
			</td>
			<td>
				<% had_badges = [] %>
				<% @user.user_badges.includes(:badge).each do |i| %>
					<% had_badges << i.badge.id %>
					<div style="margin-bottom: 10px">
						<button class="action toggle blue" data-action="togglebadge/<%= i.badge.id %>" data-target="user" data-id="<%= @user.id %>">
							<span class="icon">
								<i class="fa fa-check"></i>
							</span>
							<span class="label"><%= i.badge.title %></span>
						</button>
						<%= i.custom_title if i.badge.badge_type > 0 %>
						<div class="right" style="color:<%= i.colour %>"<% if i.badge.badge_type > 0 %> title="<%= i.custom_title %>"<% end %>>
							<i class="fa fa-3x fa-<%= i.icon %>"></i>
						</div>
					</div>
				<% end %>
				<% (had_badges.length > 0 ? Badge.where.not('id IN (?)', had_badges) : Badge.all).each do |i| %>
					<div style="margin-bottom: 10px">
						<button class="action toggle blue" data-action="togglebadge/<%= i.id %>" data-target="user" data-id="<%= @user.id %>" data-with="#reason_<%= i.id %>">
							<span class="icon"></span>
							<span class="label"><%= i.title %></span>
						</button>
						<% if i.badge_type > 0 %>
							<input id="reason_<%= i.id %>" type="text"></input>
						<% end %>
						<div class="right" style="color:<%= i.colour %>">
							<i class="fa fa-3x fa-<%= i.icon %>"></i>
						</div>
					</div>
				<% end %>
			</td>
		</tr>
	</table>
</section>