<% title "Admin" %>
<% lim "1100px" %>
<h1 class="title">
	<a href="/">Home</a> <i class="fa fa-chevron-right"></i> <a href="/admin">Admin</a> <i class="fa fa-chevron-right"></i> 
	Control Panel
</h1>
<section style="width:100%" class="page resize-holder listing compact limit-overflow">
	<h3>
	<% @public.parent.each_with_index do |part,index| %>
		<% if index > 0 %>
			<i class="fa fa-chevron-right"></i>
		<% end %>
		<% if part[:last] %>
			<%= part[:name] %>
		<% else %>
			<a href="/admin/files?p=<%= part[:path].join('/') %>"><%= part[:name] %></a>
		<% end %>
	<% end %>
	</h3>
	<div id="files" class="items" data-path="<%= @public.full_path %>" data-start-ref="<%= @public.start_ref %>" data-ref="<%= @public.end_ref %>">
		<div class="row header">
			<div>Name</div>
			<div style="width:10%;">Type</div>
		</div>
		<%= render partial: "file", collection: @public.items %>
	</div>
	<script>
		(function() {
			var target = $('#files');
			var path = target.attr('data-path');
			var start_from = target.attr('data-ref');
			var end_with = target.attr('data-start-ref');
			var pending = [];
			$(window).on('scroll', function() {
				if (end_with && $(window).scrollTop() == 0) {
					if (!pending[0]) {
						pending[0] = true;
						target.addClass('loading-before');
						ajax.get('admin/files?p=' + path + '&end=' + end_with, function(json, status) {
							if (json.start) {
								if (json.start== end_with) {
									end_with = null;
								} else {
									end_with = json.start;
								}
								pending[0] = false;
							}
							target.find('.row.header').after(json.content);
							target.removeClass('loading-before');
						});
					}
					return;
				}
				if($(window).scrollTop() + $(window).height() == $(document).height()) {
					if (!pending[1]) {
						pending[1] = true;
						target.addClass('loading-after');
						ajax.get('admin/files?p=' + path + '&start=' + start_from, function(json, status) {
							if (json.content) {
								start_from = json.end;
								target.append(json.content);
								pending[1] = false;
							}
							target.removeClass('loading-after');
						});
					}
				}
			});
		})();
	</script>
</section>