<% if @video %>
		<% title "Admin" %>
		<%= render partial: 'video/video' %>
		<div class="wrapper column-right right">
			<section class="page artist-bio center resize-holder" style="width:100%">
				<span class="avatar">
					<span style="background-image:url('/avatar/<%= @artist.id %>');"></span>
				</span>
				<h1 class="resize-target">
					<a class="name" href="/artist/<%= @artist.id %>-<%= @artist.name %>"><%= @artist.name %></a>
				</h1>
				<div class="bio short"><%= raw emotify @artist.bio %></div>
			</section>
			<section class="page properties" style="width:100%">
				<%= form_for(@video, as: "item", url: "/admin/transfer?type=video", html: { method: :put }) do |f| %>
					<%= f.text_field :id, hidden: true %>
				<table>
					<tr>
						<td class="label">
							<%= f.label "Current Owner" %>
						</td>
						<td class="field">
							<a href="/artist/<%= @video.artist.id %>">
								<%= @video.artist.name %> (<%= @video.artist.id %>)
							</a>
						</td>
					</tr>
					<tr>
						<td class="label">
							<%= f.label "New Owner" %>
						</td>
						<td class="field popper auto-lookup" data-action="artist">
							<%= f.text_field :artist_id, autocomplete: "off" %>
							<ul class="pop-out"></ul>
						</td>
					</tr>
					<tr class="actions">
						<td class="label">
						</td>
						<td class="field">
							<%= f.submit "Transfer Ownership", class: "green" %>
						</td>
					</tr>
				</table>
				<% end %>
				<%= form_for(@video, as: "video", url: "/admin/visibility", html: { method: :put }) do |f| %>
					<%= f.text_field :id, hidden: true %>
				<table>
					<tr class="actions">
						<td class="label">
							<%= f.label "Visibility" %>
						</td>
						<td class="field">
							<%= f.submit @video.hidden ? "Show" : "Hide", class: "green" %>
						</td>
					</tr>
				<% end %>
				</table>
				<%= form_for(@video, as: "video", url: "/admin/video/reprocess", html: { method: :put }) do |f| %>
					<%= f.text_field :id, hidden: true %>
				<table>
					<tr class="actions">
						<td class="label">
							<%= f.label "Processed (" + @video.processed.to_s + ")" %>
						</td>
						<td class="field">
							<%= f.submit "Restart" %>
						</td>
					</tr>
				</table>
				<% end %>
				<%= form_for(@video, as: "video", url: "/admin/video/resetthumb", html: { method: :put }) do |f| %>
					<%= f.text_field :id, hidden: true %>
				<table>
					<tr class="actions">
						<td class="label">
							<%= f.label "Reset Thumbnail" %>
						</td>
						<td class="field">
							<%= f.submit "Restart" %>
							<div>Thumbnail will be regenerated from source</div>
						</td>
					</tr>
				</table>
				<% end %>
				<table>
					<tr class="actions">
						<td class="label">
							Delete Item
						</td>
						<td class="field">
							<button class="confirm-button action red" data-action="delete" data-url="delete/video/<%= @video.id %>" data-title="Delete Video" data-icon="warning" type="button"><i class=\"fa fa-trash\"></i> Delete Video</button>
						</td>
					</tr>
				</table>
			</section>
		</div>
<% else %>
<%= render layout: '/layouts/error', locals: { title: 'Nothing to see here!' } do %>
This is not the video you are looking for.
<% end %>
<% end %>