<% title "Admin" %>
<% lim "1100px" %>
<section class="page properties resize-holder" style="width:100%">
	<h1 class="title resize-target">Admin Control Panel</h1>
</section>
<section style="width:100%" class="page resize-holder">
	<h1 class="title resize-target">Recent Activity</h1>
	<table class="auto">
		<thead>
			<td>Id</td>
			<td>Contact</td>
			<td>Name</td>
			<td>Created</td>
			<td>Last Active</td>
			<td>Votes</td>
			<td>Sign ins</td>
		</thead>
		<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.email %></td>
				<td><a href="<%= user.link %>"><%= user.username %></a></td>
				<td><%= since user.created_at %></td>
				<td><%= since user.updated_at %></td>
				<td><%= user.votes.count %></td>
				<td><%= user.sign_in_count %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</section>
<section style="width:100%" class="page resize-holder">
	<h1 class="title resize-target">Processor Status</h1>
	<%= raw @processorStatus %>
	<hr>
	<button class="confirm-button action red" data-action="delete" data-url="admin/process/all" data-title="Process <%= @unprocessed_count %> Videos" data-icon="warning" type="button">Poke Processor</button>
	<button class="confirm-button action blue" data-action="delete" data-url="admin/verify" data-title="Verify System Integrity" data-icon="warning" type="button">Verify System Integrity</button>
</section>
<section style="width:100%" class="page recent-reports resize-holder">
	<h1 class="title resize-target">Open Reports (<%= @reports_count %>)</h1>
	<ul id="reports" class="report-list">
		<% @reports.each do |report| %>
		<li class="generic">
			<a href="admin/report/view/<%= report.id %>">Report #<%= report.id %></a>
			<% if report.video %>
				<%= render partial: 'layouts/video_thumb_h', locals: {video_thumb_h: report.video } %>
			<% end %>
		</li>
		<% end %>
	</ul>
</section>
<section style="width:100%" class="page recent-uploads resize-holder">
	<h1 class="title resize-target">Hidden Videos (<%= @hiddenvideos.count %>)</h1>
	<%= render layout: '/layouts/paginated', locals: {type: "admin/videos/hidden", paginated: @hiddenvideos} do %>
		<ul id="videos" class="horizontal video-list">
			<%= render partial: '/admin/video_thumb_h', collection: @hiddenvideos.records %>
		</ul>
	<% end %>
</section>
<section style="width:100%" class="page recent-uploads resize-holder">
	<h1 class="title resize-target">Unprocessed Videos (<%= @unprocessed.count %>)</h1>
	<%= render layout: '/layouts/paginated', locals: {type: "admin/videos/unprocessed", paginated: @unprocessed} do %>
		<ul id="videos" class="horizontal video-list">
			<%= render partial: '/admin/video_thumb_h', collection: @unprocessed.records %>
		</ul>
	<% end %>
	<ul id="videos" class="horizontal video-list">
		<%= render partial: '/admin/video_thumb_h', collection: @unprocessed %>
	</ul>
</section>