<div class="wrapper" style="text-align: center">
	<section style="width:100%;max-width:300px;" class="page modal">
		<h1>Resend unlock instructions</h1>
	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	<%= devise_error_messages! %>
		<div class="label">
			<%= f.label :email %>
		</div>
		<div class="field">
			<%= f.email_field :email, autofocus: true %>
		</div>
		<div class="actions">
			<%= f.submit "Resend unlock instructions" %>
		</div>
	<% end %>
		<div class="tiny-foot">
			<%= render "devise/shared/links" %>
		</div>
	</section>
</div>