<div class="wrapper full-width">
	<h1>Site Staff and Contributors</h1>
	<section class="page full-width">
		<h2>Administrators</h2>
		<ul class="staff">
			<%= render partial: "thumb_h", locals: { avatar: "", name: "Baba Daya (retired)", tag_line: "Resident Visionary, Graphic Design" } %>
			<%= render partial: "thumb_h", locals: { avatar: "images/avatar/anima fever.jpg", name: "Anima Fever", tag_line: "Archivist, Moral Support" } %>
		</ul>
	</section>
	<section class="page full-width">
		<h2>Programming & Design</h2>
		<ul class="staff">
			<%= render partial: "thumb_h", locals: { avatar: "images/avatar/schwart.jpg", name: "The Schwarzschild Party", tag_line: "Graphic Design" } %>
			<%= render partial: "thumb_h", locals: { avatar: "http://www.gravatar.com/avatar/f5f7f51b935f0e988efdfd3ca2460807.png?s=150", name: "Sollace", tag_line: "Programming, Graphic Design" } %>
		</ul>
	</section>
	<section class="page full-width">
		<h2>Contributors</h2>
		<ul class="staff">
			<%= render partial: "thumb_h", locals: { avatar: "", name: "ZizzyDizzyMC", tag_line: "Hosting (halp)" } %>
		</ul>
		<ul class="staff">
			<%= render partial: "thumb_h", locals: { avatar: "images/avatar/d3lta.png", name: "D3LTA", tag_line: "Archivist" } %>
		</ul>
	</section>
</div>