- lim '800px'
.wrapper.full-width
	%section.page.full-width
		%h1 Site Staff and Contributors
		%p
			Looking to contribute? ProjectVinyl is in short supply of developers, moreators, admins, users...
			Pretty much everything. If you want to help us, message @projectvinyl on twitter or punch up @ZizzyDizzyMC for a Discord link!
		%p
			If that's all just too much for you right now, there is always the possibility to 
			= surround '#', '!' do
				%a{href: donate_path} donate
	%section.space-fix
		%h2.title Administrators
		%hr
		%ul.staff
			= render partial: "member", locals: { avatar: "images/avatar/anima fever.jpg", name: "Anima Fever", tag_line: "Archivist, Moral Support" }
	%section.space-fix
		%h2.title Programming & Design
		%hr
		%ul.staff
			= render partial: "member", locals: { avatar: "images/avatar/schwart.jpg", name: "The Schwarzschild Party", tag_line: "Graphic Design" }
			= render partial: "member", locals: { avatar: "//www.gravatar.com/avatar/f5f7f51b935f0e988efdfd3ca2460807.png?s=150", name: "Sollace", tag_line: "Programming, Graphic Design" }
	%section.space-fix
		%h2.title Contributors
		%hr
		%ul.staff
			= render partial: "member", locals: { avatar: "images/avatar/zizzy.png", name: "ZizzyDizzyMC", tag_line: "Hosting, The Pony Archive Admin" }
			= render partial: "member", locals: { avatar: "images/avatar/flying.jpg", name: "FlyingSixtySix", tag_line: "Programmer, Archivist" }
			= render partial: "member", locals: { avatar: "images/avatar/d3lta.png", name: "D3LTA", tag_line: "Archivist" }
	%section.space-fix
		%h2.title Retired Staff
		%hr
		%ul.staff
			= render partial: "member", locals: { avatar: "images/avatar/marik.png", name: "Baba Daya (Marik)", tag_line: "Resident Visionary, Graphic Design" }
			= render partial: "member", locals: { avatar: "images/avatar/byte.png", name: "byte[]", tag_line: "Programmer" }
			= render partial: "member", locals: { avatar: "images/avatar/logic.png", name: "Logic", tag_line: "Sys Admin" }
