%section.properties.ribbed.page.full-width.recent-comments.removeable(data-id="#{part.id}" data-target="/users/#{@user.id}/profile_modules" data-index="#{part.index}")
	%h1.title
		= render 'users/profile/module_actions'
		Comments (
		= number_with_delimiter @comments.count
		)
		%a.right{href: user_comments_path(@user)}
			View All
			= fa :chevron_right
	.floater-hidden= render partial: 'comments/recent_set', locals: {comments: @comments.records}
