= form_for(item, as: 'api_token', url: '', html: {method: :patch, class: "row row-group removeable state-binary"}) do |f|
	= f.text_field :id, hidden: true
	.row
		.cell(style="width:30px")
			%a.button.button-bub.state-toggle(data-state="editing" data-parent="form")= fa :pencil
		.cell
			= precede '#' do
				= item.id
		.cell= item.token
		.cell
			%a.user-link{class: item.user.banned? && 'banned', href: item.user.link}= item.user.username
		.cell= item.hits
		.cell= item.total_hits
		.cell= localise item.created_at
		.cell= localise item.updated_at
	.editing.row.row-spanned
		.content.properties
			%table
				%tr.actions
					%td.label(colspan="2")
						%a.button.red.right(data-confirm data-method="delete" href="#{admin_api_path item}" data-title="Revoke Token")
							= fa :trash
							Revoke
						%a.button.blue.right(data-confirm data-method="put" href="#{admin_api_path item}" data-title="Reset Token")
							Reset
