= form_for(item, as: 'api_token', url: '', html: {method: :patch, class: "row row-group removeable state-binary"}) do |f|
	= f.text_field :id, hidden: true
	.row
		%div(style="width:30px")
			%a.button.button-bub.state-toggle(data-state="editing" data-parent="form")= fa :pencil
		%div
			= precede '#' do
				= item.id
		%div= item.token
		%div
			%a.user-link{class: item.user.banned? && 'banned', href: item.user.link}= item.user.username
		%div= item.hits
		%div= item.total_hits
		%div= item.created_at.in_time_zone
		%div= item.updated_at.in_time_zone
	.editing.row.row-spanned
		.content.properties
			%table
				%tr.actions
					%td.label(colspan="2")
						%a.button.red.right(data-confirm data-method="delete" href="#{admin_api_path item}" data-title="Revoke Token")
							= fa :trash
							Revoke
						%a.button.blue.right(data-confirm data-method="put" href="#{admin_api_path item}" data-title="Reset Token")
							Reset
