<% if !thumb_h.is_hidden_by(current_user) %><li class="generic thumb">
	<a class="thumb<% if thumb_h.hidden %> thumb-hidden<% end %>" href="<%= thumb_h.link %>">
		<div class="tile" style="background-image:url('<%= thumb_h.tiny_thumb(current_user) %>');">
			<span class="tag-set duration">
				<%= duration thumb_h.get_duration %>
			</span>
		</div>
		<div class="title"<% if !(spoilered = thumb_h.is_spoilered_by(current_user)) %> title="<%= thumb_h.get_title %>"<% end %>>
			<% if thumb_h.hidden %>
				<span title="Private - Only you can see this item" class="icon"><i class="fa fa-lock"></i></span>
			<% end %>
			<%= spoilered ? "Spoilered" : thumb_h.get_title %>
		</div>
		<span class="date" title="<%= thumb_h.created_at %>">
			<%= since thumb_h.created_at %>
		</span>
		<span class="tag-set right">
			<% if thumb_h.is_downvoted_by(current_user) %>
				<i class="fa fa-thumbs-down red"></i>
			<% end %>
			<% if thumb_h.is_upvoted_by(current_user) %>
				<i class="fa fa-thumbs-up green"></i>
			<% end %>
			<%= number_with_delimiter thumb_h.views %> views
		</span>
	</a>
</li><% end %>