<% if !thumb_v.is_hidden_by(current_user) %><li class="generic">
	<a class="thumb<% if thumb_v.hidden %> thumb-hidden<% end %>" href="<%= thumb_v.link %>">
		<div class="tile" style="background-image:url('<%= thumb_v.tiny_thumb(current_user) %>');">
			<div class="details">
				<div class="title"<% if !(spoilered = thumb_v.is_spoilered_by(current_user)) %> title="<%= thumb_v.get_title %>"<% end %>>
					<% if thumb_v.hidden %>
						<span title="Private - Only you can see this item" class="icon"><i class="fa fa-lock"></i></span>
					<% end %>
					<%= spoilered ? "Spoilered" : thumb_v.get_title %>
				</div>
				<div class="published detail"><%= since thumb_v.created_at %></div>
				<div class="views detail"><%= number_with_delimiter thumb_v.views %> views</div>
			</div>
			<span class="tag-set duration">
				<% if thumb_v.is_downvoted_by(current_user) %>
					<i class="fa fa-thumbs-down red"></i>
				<% end %>
				<% if thumb_v.is_upvoted_by(current_user) %>
					<i class="fa fa-thumbs-up green"></i>
				<% end %>
				<%= duration thumb_v.get_duration %>
			</span>
		</div>
	</a>
</li><% end %>