<% if @metadata %>
	<% content_for :metadata do %>
		<%= render partial: "view/meta", locals: @metadata %>
	<% end %>
<% end %>
<section class="page column-left">
	<div id="video" style="background-image: url('<%= @video.thumb %>');" data-time="<%= @time %>" data-resume="<%= @resume %>" data-title="<%= @video.get_title %>" data-artist="<%= @user.username %>" data-<% if @video.audio_only %>audio<% else %>video<% end %>="<%= @video.id %>" data-mime="<%= @video.file %>|<%= @video.mime %>" <%if @album %>data-autoplay="true"<% end %> class="video"></div>
	<span class="notices">
	<% if !@video.processed %>
		<div class="notice pending">This video is still being processed by our background ponies. If it does not play correctly try again later.</div>
	<% end %>
	<% if @video.hidden %>
		<div class="notice alert">This video has been hidden. It will not be shown on other parts of the site until being passed by moderation.</div>
	<% end %>
	</span>
	<div class="post description resize-holder">
	<% if @modifications_allowed %>
		<h2 class="title editable post-title resize-target short" data-target="video" data-member="title" data-id="<%= @video.id %>">
			<span class="content "><%= @video.title %></span>
			<span class="edit"><i class="fa fa-pencil"></i></span>
			<span style="display:none">11</span>
		</h2>
	<% else %>
		<h2 class="title post-title resize-target short">
			<span class="content "><%= @video.title %></span>
		</h2>
	<% end %>
		<div class="tag-list subheading">
			<span class="uploaded">Uploaded on <%= @video.created_at.to_time.strftime('%e %B %Y') %> by <%= @user.username %></span>
			<span class="views right"><%= number_with_delimiter @video.views %> views</span>
		</div>
	<% if @modifications_allowed %>
		<span class="editable post-content" data-target="video" data-member="description" data-id="<%= @video.id %>">
			<span class="content"><%= raw @video.html_description %></span>
			<span class="edit"><i class="fa fa-pencil" ></i></span>
		</span>
	<% else %>
		<span class="post-content">
			<span class="content"><%= raw @video.html_description %></span>
		</span>
	<% end %>
		<div class="post-tags">
			<div class="normal tiny-link">
				Source: <a href="<%= @video.source %>"><%= @video.source %></a>
			</div>
			<div class="normal tags">
				<%= render partial: '/layouts/genre_thumb_h', collection: @tags %>
			</div>
		<% if user_signed_in? %>
			<%= form_for(@video, as: "video", url: "/ajax/video/edit", html: {class: "editing async form-state-toggle js-edit-video", "data-state": "editing"}) do |f| %>
				<%= f.text_field :id, hidden: true %>
				<%= render layout: 'layouts/tageditor', locals: {tags: @video.tags} do %>
					<textarea autocomplete="off" name="tags"><%= raw @video.tag_string %></textarea>
				<% end %>
				<div class="properties">
					<table>
						<tr>
							<td class="label"><label for="video_source">Source</label></td>
							<td class="field">
								<input autocomplete="off" class="input" name="source" type="text" value="<%= @video.source %>"></input>
							</td>
						</tr>
						<tr>
							<td class="label">
							</td>
							<td class="field">
								<button class="form-submitter">Save Changes</button>
								<button type="button" class="state-toggle" data-parent=".post-tags" data-state="editing">Close</button>
							</td>
						</tr>
					</table>
				</div>
			<% end %>
			<hr class="normal">
			<button class="normal state-toggle" data-state="editing">Edit Tags Or Source</button>
		<% end %>
		</div>
		<div class="actions">
			<div class="split-button popper">
				<button class="action options mobile-friendly pop-out-toggle"><i class="fa fa-gear"></i> <span>Options</span></button>
				<ul class="pop-out">
				<% if user_signed_in? && current_user.is_contributor? %>
					<li class="action">
						<a href="/admin/video/<%= @video.id %>">
							<span class="icon"><i class="fa fa-gavel"></i></span>
							<span class="label">Admin</span>
						</a>
					</li>
				<% end %>
				<% if @modifications_allowed %>
					<li class="action">
						<a href="/video/edit/<%= @video.id %>">
							<span class="icon"><i class="fa fa-pencil"></i></span>
							<span class="label">Change Cover Image</span>
						</a>
					</li>
				<% end %>
					<li class="action">
						<a download target="_blank" href="/download/<%= @video.id %>">
							<span class="icon">
								<i class="fa fa-download"></i>
							</span>
							<span class="label">Download</span>
						</a>
					</li>
					<li class="action">
						<a href="/video/<%= @video.id %>/changes">
							<span class="icon">
								<i class="fa fa-history"></i>
							</span>
							<span class="label">Tag Changes</span>
						</a>
					</li>
				</ul>
			</div
			><button class="action share mobile-friendly slider-toggle" data-target=".slideout.share"><i class="fa fa-share"></i><span> Share</span></button
		<% if user_signed_in? %>
			><div class="split-button popper">
				<button class="action star split-icon<% if @video.is_starred_by(current_user) %> starred<% end %>" data-action="star" data-id="<%= @video.id %>">
					<i class="fa fa-star"></i>
				</button>
				<a class="button action addto split-action pop-out-toggle">Add To</a>
				<ul class="pop-out">
					<li class="action" data-external-form="album/create?initial=<%= @video.id %>" data-title="New Album">
						<span class="icon">
							<i class="fa fa-pencil"></i>
						</span>
						<span class="label">
							New Album
						</span>
					</li>
					<% current_user.albums.each do |album| %>
					<li class="action toggle" data-action="togglealbum" data-target="video" data-id="<%= @video.id %>" data-item="<%= album.id %>">
						<span class="icon">
						<% if album.album_items.where(video_id: @video.id).first %>
							<i class="fa fa-check"></i>
						<% end %>
						</span>
						<span class="label">
							<%= album.title %>
						</span>
					</li>
					<% end %>
				</ul>
			</div
			><button class="action like<% if @video.is_upvoted_by(current_user) %> liked<% end %>" data-count="<%= @video.upvotes %>" data-action="like" data-id="<%= @video.id %>">
				<i class="fa fa-thumbs-up"></i>
				<span>
					<% if @video.upvotes && @video.upvotes > 0 %>
					<span class="count"><%= @video.upvotes %></span>
					<% end %>
				</span>
			</button
			><button class="action dislike<% if @video.is_downvoted_by(current_user) %> liked<% end %>" data-count="<%= @video.downvotes %>" data-action="dislike" data-id="<%= @video.id %>">
				<i class="fa fa-thumbs-down"></i>
				<span>
					<% if @video.downvotes && @video.downvotes > 0 %>
					<span class="count"><%= @video.downvotes %></span>
					<% end %>
				</span>
			</button
		<% else %>
			><a target="_blank" href="/users/sign_in" class="button action star"><i class="fa fa-star"></i></a
			><a target="_blank" href="/users/sign_in" class="button action like">
				<i class="fa fa-thumbs-up"></i>
				<span>
					<% if @video.upvotes && @video.upvotes > 0 %>
						<span class="count"><%= @video.upvotes %></span>
					<% end %>
				</span>
			</a
			><a target="_blank" href="/users/sign_in" class="button action dislike">
				<i class="fa fa-thumbs-down"></i>
				<span>
					<% if @video.downvotes && @video.downvotes > 0 %>
						<span class="count"><%= @video.downvotes %></span>
					<% end %>
				</span>
			</a
		<% end %>
			><button class="action report mobile-friendly right slider-toggle loadable" data-url="admin/reporter/<%= @video.id %>" data-target=".form.report"><i class="fa fa-flag"></i><span> Report</span></button>
		</div>
		<div class="slideout form report slide-group" data-offset="0"></div>
		<%= render partial: 'video/share' %>
	</div>
</section>
