<% if @metadata %>
	<% content_for :metadata do %>
		<%= render partial: "view/meta", locals: @metadata %>
	<% end %>
<% end %>
<section class="page column-left">
	<%= render partial: 'video/video_content', locals: {embed: false, header: true} %>
	<span class="notices">
	<% if !@video.processed %>
		<div class="notice pending">This video is still being processed by our background ponies. If it does not play correctly try again later.</div>
	<% end %>
	<% if @video.hidden %>
		<div class="notice alert">This video has been hidden. It will not be shown on other parts of the site until being passed by moderation.</div>
	<% end %>
	</span>
	<div class="post description resize-holder">
	<% if @modifications_allowed %>
		<h2 class="title editable short post-title resize-target" data-target="videos" data-member="title" data-id="<%= @video.id %>">
			<span class="content "><%= @video.title %></span>
			<span class="edit"><i class="fa fa-pencil"></i></span>
			<span style="display:none">11</span>
		</h2>
	<% else %>
		<h2 class="title post-title resize-target">
			<span class="content "><%= @video.title %></span>
		</h2>
	<% end %>
		<div class="tag-set subheading">
			<span class="uploaded">
				Uploaded on
				<%= @video.created_at.to_time.strftime('%e %B %Y') %>
				by
				<a class="user-link link" data-id="<%= @user.id %>" href="<%= @user.link %>"><%= @user.username %></a>
			</span>
			<span class="views right"><%= number_with_delimiter @video.views %> views</span>
		</div>
	<% if @modifications_allowed %>
		<span class="editable post-content" data-target="videos" data-member="description" data-id="<%= @video.id %>">
			<span class="content"><%= raw @video.html_description %></span>
			<textarea class="input js-auto-resize" name="description_video_<%= @video.id %>"><%= @video.description %></textarea>
			<span class="edit"><i class="fa fa-pencil" ></i></span>
		</span>
	<% else %>
		<span class="post-content">
			<span class="content"><%= raw @video.html_description %></span>
		</span>
	<% end %>
		<div class="post-tags">
			<div class="normal tiny-link">
				Source: <a href="<%= @video.source %>"><%= @video.source %></a>
			</div>
			<div class="normal tags">
				<%= render partial: 'tag/thumb_h', collection: @tags %>
			</div>
		<% if user_signed_in? %>
			<%= form_for(@video, as: "video", url: "/videos/#{@video.id}/details", html: {class: "editing async form-state-toggle js-edit-video", method: :patch}, data: {state: "editing"}) do |f| %>
				<%= render layout: 'tag/editor', locals: {tags: @video.tags} do %>
					<textarea autocomplete="off" name="tags"><%= raw @video.tag_string %></textarea>
				<% end %>
				<div class="properties">
					<table>
						<tr>
							<td class="label"><label for="video_source">Source</label></td>
							<td class="field">
								<input autocomplete="off" class="input" name="source" type="text" value="<%= @video.source %>"></input>
							</td>
						</tr>
						<tr>
							<td class="label">
							</td>
							<td class="field">
								<button class="form-submitter">Save Changes</button>
								<button type="button" class="state-toggle" data-parent=".post-tags" data-state="editing">Close</button>
							</td>
						</tr>
					</table>
				</div>
				<div class="progressor">
					<div class="message">Uploading...</div>
					<div class="progress">
						<div class="fill"></div>
					</div>
				</div>
			<% end %>
			<hr class="normal">
			<button class="normal state-toggle" data-state="editing">Edit Tags Or Source</button>
		<% end %>
		</div>
		<div class="actions">
			<div class="split-button popper">
				<button class="action options mobile-friendly pop-out-toggle"><i class="fa fa-gear"></i> <span>Options</span></button>
				<ul class="pop-out">
				<% if user_signed_in? && current_user.is_contributor? %>
					<li class="action">
						<a href="/admin/videos/<%= @video.id %>">
							<span class="icon"><i class="fa fa-gavel"></i></span>
							<span class="label">Admin</span>
						</a>
					</li>
				<% end %>
				<% if @modifications_allowed %>
					<li class="action">
						<a href="/videos/<%= @video.id %>/edit">
							<span class="icon"><i class="fa fa-pencil"></i></span>
							<span class="label">Change Cover Image</span>
						</a>
					</li>
				<% end %>
					<li class="action">
						<a download target="_blank" href="/download/<%= @video.id %>">
							<span class="icon">
								<i class="fa fa-download"></i>
							</span>
							<span class="label">Download</span>
						</a>
					</li>
					<li class="action">
						<a href="/videos/<%= @video.id %>/changes">
							<span class="icon">
								<i class="fa fa-history"></i>
							</span>
							<span class="label">Tag Changes</span>
						</a>
					</li>
				</ul>
			</div
			><button class="action share mobile-friendly slider-toggle" data-target=".slideout.share"><i class="fa fa-share"></i><span> Share</span></button
			<%= render partial: user_signed_in? ? 'video/actions' : 'video/actions_logged_out' %>
			><button class="action report mobile-friendly right slider-toggle loadable" data-url="admin/reports/new?<%= @video.reportable_params %>" data-target=".form.report">
					<i class="fa fa-flag"></i><span> Report</span>
			</button>
		</div>
		<div class="slideout form report slide-group slide-holder" data-offset="0"></div>
		<%= render partial: 'video/share' %>
	</div>
</section>
