<% if @metadata %>
<% content_for :metadata do %>
<%= render partial: "view/meta", locals: @metadata %>
<% end %>
<% end %>
<section class="page column-left">
	<div id="video" style="background-image: url('/cover/<%= @video.id %>.png');" data-time="<%= @time %>" data-title="<%= @video.title %>" data-artist="<%= @artist.name %>" data-<% if @video.audio_only %>audio<% else %>video<% end %>="<%= @video.id %>" data-mime="<%= @video.file + "|" + @video.mime %>" <%if @album %>data-autoplay="true"<% end %> class="video"></div>
	<% if !@video.processed %>
	<div class="notice pending">This video is still being processed by our background ponies. If it does not play correctly try again later.</div>
	<% end %>
	<% if @video.hidden %>
	<div class="notice alert">This video has been hidden. It will not be shown on other parts of the site until being passed by moderation.</div>
	<% end %>
	<div class="post description resize-holder">
	<% if @modificationsAllowed %>
		<h2 class="title editable post-title resize-target short" data-target="video" data-member="title" data-id="<%= @video.id %>">
			<span class="content "><%= @video.title %></span>
			<span class="edit"><i class="fa fa-pencil"></i></span>
			<span style="display:none">11</span>
		</h2>
		<div class="tag-list subheading">
			<span class="uploaded">Uploaded on <%= @video.created_at.to_time.strftime('%e %B %Y') %> by <%= @artist.name %></span>
			<span class="views right"><%= number_with_delimiter @video.views %> views</span>
		</div>
		<span class="editable post-content" data-target="video" data-member="description" data-id="<%= @video.id %>">
			<span class="content"><%= raw emotify @video.description %></span>
			<span class="edit"><i class="fa fa-pencil" ></i></span>
		</span>
	<% else %>
		<h2 class="title post-title resize-target short">
			<span class="content "><%= @video.title %></span>
		</h2>
		<div class="tag-list subheading">
			<span class="uploaded">Published on <%= @video.created_at.to_time.strftime('%e %B %Y') %> by <%= @artist.name %></span>
			<span class="views right"><%= number_with_delimiter @video.views %> views</span>
		</div>
		<span class="post-content">
			<span class="content"><%= raw emotify @video.description %></span>
		</span>
	<% end %>
		<div class="post-tags">
			<span class="normal">
				<%= render partial: '/layouts/taglist', locals: { collection: @video.tags } %>
			</span>
			<% if user_signed_in? %>
			<span class="editing">
				<%= render layout: 'layouts/tageditor' do %>
				<textarea data-target="video" data-id="<%= @video.id %>" name="tags"><%= raw @video.tag_string %></textarea>
				<% end %>
			</span>
			<a href="#" class="state-toggle tiny-link" data-state="editing" data-true="(close)" data-false="(edit)">(edit)</a>
			<% end %>
		</div>
		<div class="actions">
			<div class="split-button popper">
				<button class="action options pop-out-toggle"><i class="fa fa-gear"></i> Options</button>
				<ul class="pop-out">
				<% if user_signed_in? && current_user.is_admin %>
					<li class="action">
						<a href="/admin/video/<%= @video.id %>">
							<span class="icon"><i class="fa fa-gavel"></i></span>
							<span class="label">Admin</span>
						</a>
					</li>
				<% end %>
				<% if @modificationsAllowed %>
					<li class="action">
						<a href="/video/edit/<%= @video.id %>">
							<span class="icon"><i class="fa fa-pencil"></i></span>
							<span class="label">Change Cover Image</span>
						</a>
					</li>
				<% end %>
					<li class="action">
				<% if user_signed_in? %>
						<a download target="_blank" href="/download/<%= @video.id %>-<%= url_safe @video.title %>">
				<% else %>
						<a target="_blank" href="/users/sign_in">
				<% end %>
							<span class="icon">
								<i class="fa fa-download"></i>
							</span>
							<span class="label">Download</span>
						</a>
					</li>
				</ul>
			</div>
			<button class="action share"><i class="fa fa-share"></i> Share</button>
		<% if user_signed_in? %>
		<% if @modificationsAllowed %>
			<div class="split-button popper">
				<button class="action star split-icon<% if @video.isStarredBy(current_user) %> starred<% end %>" data-action="star" data-id="<%= @video.id %>">
					<i class="fa fa-star"></i>
				</button>
				<a class="button action addto split-action pop-out-toggle">Add To</a>
				<ul class="pop-out">
					<li class="action confirm-button" data-url="album/create?initial=<%= @video.id %>" data-title="New Album" data-icon="">
						<span class="icon">
							<i class="fa fa-pencil"></i>
						</span>
						<span class="label">
							New Album
						</span>
					</li>
					<% @video.artist.albums.each do |album| %>
					<li class="action toggle" data-action="togglealbum" data-target="video" data-id="<%= @video.id %>" data-item="<%= album.id %>">
						<span class="icon">
						<% if album.album_items.where(video_id: @video.id).first %>
							<i class="fa fa-check"></i>
						<% end %>
						</span>
						<span class="label">
							<%= album.title %>
						</span>
					</li>
					<% end %>
				</ul>
			</div>
		<% else %>
			<button class="action star<% if @video.isStarredBy(current_user) %> starred<% end %>" data-action="star" data-id="<%= @video.id %>"><i class="fa fa-star"></i></button>
		<% end %>
			<button class="action like<% if @video.isUpvotedBy(current_user) %> liked<% end %>" data-count="<%= @video.upvotes %>" data-action="like" data-id="<%= @video.id %>">
				<i class="fa fa-thumbs-up"></i>
				<% if @video.upvotes && @video.upvotes > 0 %>
				<span> (<span class="count"><%= @video.upvotes %></span>)</span>
				<% end %>
			</button>
			<button class="action dislike<% if @video.isDownvotedBy(current_user) %> liked<% end %>" data-count="<%= @video.downvotes %>" data-action="dislike" data-id="<%= @video.id %>">
				<i class="fa fa-thumbs-down"></i>
				<% if @video.downvotes && @video.downvotes > 0 %>
				<span> (<span class="count"><%= @video.downvotes %></span>)</span>
				<% end %>
			</button>
		<% else %>
			<a target="_blank" href="/users/sign_in" class="button action star"><i class="fa fa-star"></i></a>
			<a target="_blank" href="/users/sign_in" class="button action like">
				<i class="fa fa-thumbs-up"></i>
				<% if @video.upvotes && @video.upvotes > 0 %>
				<span> (<span class="count"><%= @video.upvotes %></span>)</span>
				<% end %>
			</a>
			<a target="_blank" href="/users/sign_in" class="button action dislike">
				<i class="fa fa-thumbs-down"></i>
				<% if @video.downvotes && @video.downvotes > 0 %>
				<span> (<span class="count"><%= @video.downvotes %></span>)</span>
				<% end %>
			</a>
		<% end %>
			<button class="action report right"><i class="fa fa-flag"></i> Report</button>
		</div>
		<div class="slideout form report slide-group" data-offset="0"></div>
		<div class="slideout share properties">
			<table class="group active">
				<tr>
					<td class="label">Social</td>
					<td class="field share-buttons" data-caption="<%= @video.title %> - ProjectVinyl">
						<button class="action" data-action="share" data-type="facebook"><i class="fa fa-lg fa-fw fa-facebook"></i></button>
						<button class="action" data-action="share" data-type="twitter"><i class="fa fa-lg fa-fw fa-twitter"></i></button>
						<button class="action" data-action="share" data-type="googleplus"><i class="fa fa-lg fa-fw fa-google-plus"></i></button>
						<button class="action" data-action="share" data-type="tumblr"><i class="fa fa-lg fa-fw fa-tumblr"></i></button>
					</td>
				</tr>
				<tr>
					<td class="label">Embed</td>
					<td class="field">
						<input name="share_field" type="text" value="<%= '<iframe width="560" height="315" src="http://www.projectvinyl.net/embed/' + @video.id.to_s + '" frameborder="0" allowfullscreen></iframe>' %>"></input>
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td class="field">
						<div id="embed_preview" class="center" style="display:none;height:315px">
							<iframe style="max-width:100%;" width="560px" height="100%" frameborder="0"></iframe>
						</div>
						<button class="action test center">Preview</button>
					</td>
				</tr>
			</table>
		</div>
		<script>
(function() {
  function slideOut(holder) {
    holder.css('min-height', holder.find('.group.active').height());
    holder.css('max-height', holder.find('.group.active').height() + 10);
    if (holder.hasClass('shown')) {
      holder.removeClass('shown');
    } else {
      $('.slideout.shown').removeClass('shown');
      holder.addClass('shown');
      /*setTimeout(function() {
        scrollTo(holder[0]);
      }, 1);*/
    }
  }
  $('.action.report').on('click', function() {
    var holder = $(this).parents('.page').find('.form.report');
    if (!$(this).hasClass('loaded')) {
      $(this).addClass('loaded');
      ajax('reporter/<%= @video.id %>', function(json) {
        holder.html(json.content);
        slideOut(holder);
      });
    } else {
        slideOut(holder);
    }
  });
  $('.action.share').on('click', function() {
    slideOut($('.slideout.share'));
  });
  $('.action.test').on('click', function() {
    $('#embed_preview').css('display', '').find('iframe').attr('src', '/embed/<%= @video.id %>');
    slideOut($(this).closest('.slideout'));
    slideOut($(this).closest('.slideout'));
  });
})();
		</script>
	</div>
</section>