.actions
	%a.foobar.action.options
		= fa :gear
		Options
	%a.foobar.action.share
		= fa :share
		Share
	%a.foobar.action.star= fa :star
	%a.foobar.action.like= fa :thumbs_up
	%a.foobar.action.dislike= fa :thumbs_down
	%a.foobar.action.report.right
		= fa :flag
		Report
.form.report(data-offset="0")
