<% title @video.title %>
<%= render partial: 'video' %>
<div class="page resize-holder column-right <% if @album %>column-mobile-fragmented<% end %> right center">
	<%= render partial: 'artist/bio', locals: {user: @user } %>
	<% if @album %>
	<section class="listing compact playlist column-mobile-shown<% if @album.virtual? %> virtual<% end %>">
		<div class="controls">
		<% if @prev_video %>
			<a id="playlist_prev" class="slide-left" title="Previous" href="/view/<%= @prev_video.video.id %>-<%= @prev_video.video.safe_title %>?<%= @prev_video.ref %>">
				<i class="fa fa-fw fa-step-backward"></i>
			</span>
		<% end %>
		<a class="title<% if @next_video %> buff-right<% end %>" <% if !@album.virtual? %>href="/album/<%= @album.id %>-<%= @album.safe_title %>"<% end %>><%= @album.title %></a>
		<% if @next_video %>
			<a id="playlist_next" class="slide-right" title="Next" href="/view/<%= @next_video.video.id %>-<%= @next_video.video.safe_title %>?<%= @next_video.ref %>">
				<i class="fa fa-fw fa-step-forward"></i>
			</span>
		<% end %>
		</div>
		<div class="scroll-container">
			<div class="items<% if @album_editable %> reorderable<% end %>" data-target="albumitem">
				<%= render partial: '/album/album_item', collection: @items %>
			</div>
		</div>
		<script>
$(document).ready(function() {
  var selected = $('.playlist a.selected');
  if (selected.length) scrollTo(selected, '.playlist .scroll-container');
});
$('html,body').scrollTop(200);
		</script>
	</section>
	<% end %>
	<section>
		<h1 class="resize-target">
			<a>Discovery Queue</a>
		</h1>
		<ul class="queue">
			<li class="generic mix">
				<a class="thumb" href="/view/<%= @video.id %>-<%= @video.safe_title %>?q=<%= @video.mix_string(current_user) %>&index=0">
					<div class="tile" style="background-image:none,url('/cover/<%= @video.id.to_s %>-small.png');">
						<div class="details">
							<div class="title">MIX - <%= @video.title %></div>
						</div>
					</div>
				</a>
			</li>
		<%= render partial: '/layouts/video_thumb_v', collection: @queue %>
		</ul>
	</section>
</div>
<section class="page column-left">
	<%= render partial: '/thread/view', locals: {identifier: @video.id, title: @video.getTitle + " by " + @user.username } %>
</section>