<div class="post genre-bio">
	<span class="genre-icon fa-stack fa-4x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-tag fa-inverse fa-stack-1x"></i>
	</span>
	<div class="tag-header">
		<h2 class="title">
			<a class="name" href="<%= tag.link %>"><%= tag.name %></a>
		</h2>
		<div class="tag-list subheading">
			<span>Used by <%= tag.video_count %> videos and <%= tag.user_count %> users</span>
			<% if tag.user %>
			<span class="right">
				Associated User:
				<span class="user-link" data-id="<%= tag.user_id %>">
					<a href="<%= tag.user.link %>"><%= tag.user.username %></a>
				</span>
			</span>
			<% end %>
		</div>
		<span class="content bio"><%= tag.get_description %></span>
	</div>
	<% if tag.implications.length > 0 %>
	<div>
		<h1>Implies</h1>
		<ul class="tags">
			<%= render partial: "layouts/genre_thumb_h", collection: tag.implications %>
		</ul>
	</div>
	<% end %>
	<% if tag.implicators.length > 0 %>
	<div>
		<h1>Implied by</h1>
		<ul class="tags">
			<%= render partial: "layouts/genre_thumb_h", collection: tag.implicators %>
		</ul>
	</div>
	<% end %>
	<% if tag.aliases.length > 0 %>
	<div>
		<h1>Aliases</h1>
		<ul class="tags">
			<%= render partial: "layouts/genre_thumb_h", collection: tag.aliases %>
		</ul>
	</div>
	<% end %>
</div>