<div class="tag-editor popper auto-lookup" data-action="/find/tags">
	<span class="value"><%= yield %></span>
	<ul class="tags"><% if tags %><% tags.includes(:tag_type).each do |tag| %><li class="tag tag-<%= tag.namespace %>" data-namespace="<%= tag.namespace %>" data-slug="<%= tag.slug %>">
		<i title="Remove Tag" data-name="<%= tag.get_as_string %>" class="fa fa-times remove">
		</i><a href="<%= tag.link %>"><%= tag.get_as_string %></a>
		<span><% if user_signed_in? %>
		<% if current_user.hides([tag.id]) %>H<% end %>
		<% if current_user.spoilers([tag.id]) %>S<% end %>
		<% if current_user.watches(tag) %>W<% end %>
		<% end %></span>
	</li><% end %><% end %></ul
	><input class="tag input js-auto-resize" type="text" placeholder="Tag list..."/
	><ul class="search-results pop-out"></ul
	><div class="js-data-store" style="display:none;"><%= raw Tag.jsons(tags || []).to_json %></div>
</div>
