<li class="tag tag-<%= thumb_h.namespace %> drop-down-holder popper" data-slug="<%= thumb_h.name %>">
	<a href="<%= thumb_h.link %>">
		<span>
			<%= thumb_h.name %> (<%= number_with_delimiter thumb_h.members %>)
			<% if user_signed_in? %>
				<% if current_user.hides([thumb_h.id]) %> H<% end %>
				<% if current_user.spoilers([thumb_h.id]) %> S<% end %>
				<% if current_user.watches(thumb_h) %> W<% end %>
			<% end %>
		</span>
	</a>
	<% if user_signed_in? %>
	<ul class="drop-down pop-out">
		<li class="action toggle" data-family="tag-flags" data-descriminator="hide" data-target="tags" data-id="<%= thumb_h.id %>" data-action="hide">
			<span class="icon">
				<% if current_user.hides([thumb_h.id]) %>
				<i class="fa fa-check"></i>
				<% end %>
			</span>
				<span class="label">Hide</span>
			</span>
		</li>
		<li class="action toggle" data-family="tag-flags" data-descriminator="spoiler" data-target="tags" data-id="<%= thumb_h.id %>" data-action="spoiler">
			<span class="icon">
				<% if current_user.spoilers([thumb_h.id]) %>
				<i class="fa fa-check"></i>
				<% end %>
			</span>
				<span class="label">Spoiler</span>
			</span>
		</li>
		<li class="action toggle" data-family="tag-flags" data-descriminator="watch" data-target="tags" data-id="<%= thumb_h.id %>" data-action="watch">
			<span class="icon">
				<% if current_user.watches(thumb_h) %>
				<i class="fa fa-check"></i>
				<% end %>
			</span>
				<span class="label">Watch</span>
			</span>
		</li>
	</ul>
	<% end %>
</li>