.profile-column.actions.mobile-tabbed
	- if user_signed_in?
		%button.blue.mobile-friendly(data-external-form="#{new_message_path user: @user}" data-title="New Message")>
			= fa :envelope
			%span Send Message
	- if @modifications_allowed
		.divider
		%button.green.action(data-external-form="#{new_album_path}" data-title="New Album")>
			= fa :plus
			%span New Album
		%a.button.green.action{href: new_video_path}
			= fa :upload
			%span Upload Video
	- if @modifications_allowed
		.spacer
		.state-toggle(data-state="editing" data-parent="main")
			%button.green.on
				= fa :pencil
				Edit Profile
			%button.red.off
				= fa :times
				Close
		.split-button.popper>
			%button.action.options.pop-out-toggle.mobile-friendly
				= fa :gear
				%span Options
			%ul.pop-out
				- if user_signed_in? && current_user.is_contributor?
					%li.action
						%a{href: admin_user_path(@user)}
							%span.icon= fa :gavel
							%span.label Admin
				%li.action.js-banner-select(data-external-form="#{user_banner_path @user}" data-title="Select Banner Image")
					%span.icon= fa :pencil
					%span.label Change Banner Image