%section.page.full-width.artist-bio
	.post
		.space-fix
			%span.date.registered.right.underline
				Registered 
				%span{title: @user.created_at}= since @user.created_at
			= render 'users/avatar/large', user: @user
			%h2.title
				%a.name{class: @user.banned? && "banned", href: @user.link}
					= @user.username
					= render 'badges/badges', user: @user
			%hr
			%span.content.bio= raw @user.html_description
			%hr
			= render 'users/actions'
		- if @user.tag_id || @tags.length > 0
			= render 'users/tags'