%li.bio
	%a{href: thumb_h.link}
		%span.avatar
			%span{style: format_bg(thumb_h.avatar)}
		%h2{class: thumb_h.banned? && "banned"}= thumb_h.username
		%span.tag-set= render 'badge/badges', user: thumb_h
	.tag-set
		- c = thumb_h.videos.count
		= number_with_delimiter c
		= "video".pluralize(c)
		| 
		- c = thumb_h.albums.count
		= number_with_delimiter c
		= "album".pluralize(c)
	%br/
	= render 'tags/taglist', collection: thumb_h.tags.limit(3)
