- title @user.username
- if @user.banner_set
	:css
		.banner-background {
			background: url('#{@user.banner}') center center/cover #000;
		}
= render 'users/bio'
- if @art
	= render 'users/modules/art'
- if @modifications_allowed
	= render 'users/modules/favourites'
= render 'users/modules/uploads'
= render 'users/modules/albums'
= render 'users/modules/comments'
