.wrapper.center
	= devise_error_messages!
	%section.page.half-width.modal
		%h2 Change your password
		= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
			= f.hidden_field :reset_password_token
			.bob-holder.fixed
				= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New password"
				.bobber.bob-left
					Minimum
					= @minimum_password_length
					characters
			= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password"
			.actions= f.submit "Change my password"
		.tiny-foot= render "devise/shared/links"
