.wrapper.center
	= devise_error_messages!
	%section.page.half-width.modal
		%h1 Forgot your password?
		= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
			= f.email_field :email, autofocus: true, placeholder: :email
			= recaptcha_tags
			.actions= f.submit "Send me password reset instructions"
		.tiny-foot= render "devise/shared/links"
