.tag-editor.popper.auto-lookup(data-action="#{path}")
	%span.value
		= yield
	%ul.tags>
		- if tags
			= render partial: "#{type}/thumb/tag", collection: tags
	%input.tag.input.js-auto-resize{type: "text", placeholder: placeholder}<
		- if !path.empty?
			%ul.search-results.pop-out
	.js-data-store(style="display:none")= raw data.to_json
	.js-tag-template(style="display:none")= render "#{type}/editor/tag"
