<% title type_label + "s" %>
<section class="page" style="width: 100%">
	<h1>All <%= type_label %>s</h1>
	<%= render layout: '/layouts/paginated', locals: {type: type, paginated: items, id: "page"} do %>
		<section class="search-result">
			<% if type_id == 0 %>
			<ul id="videos" class="horizontal video-list">
				<%= render partial: 'layouts/video_thumb_h', collection: items.records %>
			</ul>
			<% elsif type_id == 1 %>
			<ul id="albums" class="horizontal album-list">
				<%= render partial: 'layouts/album_thumb_h', collection: items.records %>
			</ul>
			<% elsif type_id == 2 %>
			<ul id="artists" class="horizontal artist-list">
				<%= render partial: 'layouts/artist_thumb_h', collection: items.records %>
			</ul>
			<% elsif type_id == 3 %>
			<ul id="genres" class="horizontal genre-list">
				<%= render partial: 'layouts/genre_thumb_h', collection: items.records %>
			</ul>
			<% elsif type_id == 4 %>
			<div class="listing thread-list">
			<% if user_signed_in? %>
				<div class="actions">
					<button class="confirm-button action green" data-action="create" data-url="thread/new" data-title="New Thread" data-icon="pencil" type="button"><i class="fa fa-plus"></i> New Thread</button>
				</div>
			<% end %>
				<ul class="items">
					<%= render partial: 'thread/thread_thumb', collection: items.records %>
				</ul>
			</div>
			<% end %>
		</section>
	<% end %>
</section>