<% if @video %>
		<section class="page column-left">
			<div id="video" style="background-image: url('/cover/<%= @video.id %>');" data-title="<%= @video.title %>" data-artist="<%= @artist.name %>" data-<% if @video.audio_only %>audio<% else %>video<% end %>="<%= @video.id %>" class="video"></div>
			<div class="post description resize-holder">
			<% if @modificationsAllowed %>
				<h1 class="title editable post-title resize-target short" data-action="title" data-id="<%= @video.id %>">
					<span class="content "><%= @video.title %></span>
					<span class="edit"><i class="fa fa-pencil"></i></span>
					<span style="display:none">11</span>
				</h1>
				<span class="editable post-content" data-action="description" data-id="<%= @video.id %>">
					<span class="content"><%= raw emotify @video.description %></span>
					<span class="edit"><i class="fa fa-pencil" ></i></span>
				</span>
			<% else %>
				<h1 class="title post-title resize-target short">
					<span class="content "><%= @video.title %></span>
				</h1>
				<span class="post-content">
					<span class="content"><%= raw emotify @video.description %></span>
				</span>
			<% end %>
				<div class="actions">
					<a download target="_blank" href="/download/<%= @video.id %>-<%= @video.title %>" class="action download button"><i class="fa fa-download"></i> Download</a>
					<button class="action star"><i class="fa fa-star"></i></button>
					<button class="action like" data-count="<%= @video.upvotes %>" data-action="like" data-id="<%= @video.id %>">
						<i class="fa fa-thumbs-up"></i>
						<% if @video.upvotes && @video.upvotes > 0 %>
						<span> (<span class="count"><%= @video.upvotes %></span>)</span>
						<% end %>
					</button>
					<button class="action dislike" data-count="<%= @video.downvotes %>" data-action="dislike" data-id="<%= @video.id %>">
						<i class="fa fa-thumbs-down"></i>
						<% if @video.downvotes && @video.downvotes > 0 %>
						<span> (<span class="count"><%= @video.downvotes %></span>)</span>
						<% end %>
					</button>
					<button class="action report right"><i class="fa fa-flag"></i> Report</button>
				</div>
				<div class="form report" data-offset="0">
					<script>
(function() {
  function openReport(holder) {
    holder.css('min-height', holder.find('.section.active').height());
    holder.css('max-height', holder.find('.section.active').height() + 10);
    holder[holder.hasClass('reporting') ? 'removeClass' : 'addClass']('reporting');
    scrollTo.toggle(holder[0]);
  }
  $('.action.report').on('click', function() {
    var holder = $(this).parents('.page').find('.form.report');
    if (!$(this).hasClass('loaded')) {
      $(this).addClass('loaded');
      ajax('reporter/<%= @video.id %>', function(xml, type, ev) {
        holder.html(ev.responseText);
        openReport(holder);
      }, 1);
    } else {
        openReport(holder);
    }
  });
})();
					</script>
				</div>
			</div>
		</section>
		<div class="page resize-holder column-right right center">
			<section class="artist-bio">
				<h1 class="resize-target">
					<a class="name" href="/artist/<%= @artist.id %>-<%= @artist.name %>"><%= @artist.name %></a>
				</h1>
				<span class="avatar">
					<span style="background-image:url('/avatar/<%= @artist.id %>');"></span>
				</span>
				<div class="bio short"><%= raw emotify @artist.bio %></div>
			</section>
			<section>
				<h1 class="resize-target">
					<a>Discovery Queue</a>
				</h1>
				<ul class="queue">
				<%= render partial: '/layouts/video_thumb_v', collection: @queue %>
				</ul>
			</section>
		</div>
		<section class="page column-left">
			<h1 class="title">Comments</h1>
			<div id="disqus_thread" class="comments" style="min-height:500px">
				<script>
var disqus_config = function () {
  this.page.url = "<%= url_for(action: 'view', controller: 'view', only_path: false) %>";
  this.page.identifier = "<%= @video.id %>";
  this.page.title = "<%= @video.title %> by <%= @artist.name %> - ProjectVinyl";
};
(function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://projectvinyl.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			</div>
		</section>
<% else %>
<section class="page">Nothing to see here!</section>
<% end %>