.row.row-group.row-group-collapse(data-stack-size="#{file.stack_size}")
	%a.row{id: file.name, href: file.link, "data-type": file.type, target: !file.directory? && "__top"}
		.cell
			= fw file.icon
			= file.name
			%span.secondary.artifact= file.special_name
		.cell.secondary= file.type
	- file.each do |f|
		%a.row{id: f.name, href: f.link, "data-type": f.type, target: !f.directory? && "__top"}
			.cell
				= fw f.icon
				= f.name
			.cell.secondary= f.type
