<% title "Admin" %>
<% lim "1100px" %>
<h1 class="title">
	<a href="/">Home</a> <i class="fa fa-chevron-right"></i> <a href="/admin">Admin</a> <i class="fa fa-chevron-right"></i> 
	Control Panel
</h1>
<section class="page full-width resize-holder listing compact limit-overflow">
	<h3>
	<% @public.parent.each_with_index do |part,index| %>
		<% if index > 0 %>
			<i class="fa fa-chevron-right"></i>
		<% end %>
		<% if part[:last] %>
			<%= part[:name] %>
		<% else %>
			<a href="/admin/files?p=<%= part[:path].join('/') %>"><%= part[:name] %></a>
		<% end %>
	<% end %>
	</h3>
	<div id="files" class="infinite-page items" data-url="/admin/files" data-path="<%= @public.full_path %>" data-start-ref="<%= @public.start_ref %>" data-ref="<%= @public.end_ref %>">
		<div class="row header">
			<div>Name</div>
			<div style="width:10%;">Type</div>
		</div>
		<%= render partial: "file", collection: @public.items %>
	</div>
</section>