- title "Admin"
- lim "1100px"
%section.page.full-width.resize-holder.listing.compact.collapse-padding.limit-overflow
	%h3
		- @public.parent.each_with_index do |part,index|
			- if index > 0
				%i.fa.fa-chevron-right
			- if part[:last]
				= part[:name]
			- else 
				%a{href: admin_files_path(p: part[:path].join('/'))}= part[:name]
		- if @video
			%ul.horizontal= render partial: 'videos/thumb_h', locals: {thumb_h: @video}
		- if @user
			%ul.horizontal= render partial: 'users/thumb_h', locals: {thumb_h: @user}
	.infinite-page.items#files{data: {url: admin_files_path, path: @public.full_path, start: @public.start_ref, end: @public.end_ref}}
		.row.header
			%div Name
			%div(style="width:10%") Type
		= render partial: "file", collection: @public.items
