%li.card.properties.removeable{ data: { card_id: card.id } }
	= f.hidden_field "cards[][video_id]", value: card.video_id
	= f.hidden_field "cards[][content_id]", value: card.content_id
	= f.hidden_field "cards[][content_type]", value: card.content_type
	= f.hidden_field "cards[][style]", value: card.style
	= f.hidden_field "cards[][top]", value: card.top
	= f.hidden_field "cards[][left]", value: card.left
	= f.hidden_field "cards[][width]", value: card.width
	= f.hidden_field "cards[][height]", value: card.height
	= f.hidden_field "cards[][start_time]", class: 'time-input', value: card.start_time
	= f.hidden_field "cards[][end_time]", class: 'time-input', value: card.end_time
	%h3
		%span.handle= fa :ellipsis_v
		Custom Card
		%span.right.close
			%a.remove.red(title="Remove")
				%i.fa.fa-times.remove
	%table
		%tr
			%td.label Title
			%td.field= f.text_field "cards[][title]", value: card.title
		%tr
			%td.label Metadata
			%td.field= f.text_field "cards[][metadata]", value: card.metadata
		%tr
			%td.label Image
			%td.field= f.text_field "cards[][image]", value: card.image
