.actions.actions-above-content
	= render partial: user_signed_in? ? 'videos/actions_logged_in' : 'videos/actions_logged_out'
	%span.divider>
	%button.action.share.mobile-friendly.slider-toggle(title="Share Video" data-target=".slideout.share")>
		= fa :share
		%span Share
	= render partial: 'videos/downloads'
	.split-button.popper>
		%button.action.options.mobile-friendly.pop-out-toggle(title="Options")= fa :gear
		%ul.pop-out
			- if user_signed_in? && current_user.is_contributor?
				%li.action
					%a{href: admin_video_path(@video)}
						%span.icon= fa :gavel
						%span.label Admin
			%li.action
				%a{href: new_admin_report_path(@video.reportable_hash)}
					%span.icon= fa :warning
					%span.label Report
			- if @modifications_allowed
				%li.action
					%a{href: edit_video_path(@video)}
						%span.icon= fa :pencil
						%span.label Change Cover Image
			%li.action
				%a{href: video_changes_path(@video)}
					%span.icon= fa :history
					%span.label Tag Changes
			%li.action
				%a.slider-toggle(data-target=".slideout.info")
					%span.icon= fa :info
					%span.label File Info
= render partial: 'videos/share'
= render partial: 'videos/info'
