%section.page.slim.seamless.column-left.fixed-right-column
	= render partial: 'videos/description/system_messages'
	.post.description.resize-holder
		= render partial: 'videos/description/header'
		= render partial: 'videos/description/sub_header'
		= render partial: 'videos/description/actions'
		= render partial: 'videos/description/body'
		= render partial: 'videos/description/share'
		= render partial: 'videos/description/file_info'
	= render partial: 'videos/description/downloads'
	= render partial: 'videos/description/tags_and_source'
	= render partial: 'videos/description/footer'
