%section.page.column-left
	%span.notices
		- if !@video.processed
			.notice.pending This video is still being processed by our background ponies. If it does not play correctly try again later.
		- if @video.hidden
			.notice.alert This video has been hidden. It will not be shown on other parts of the site until being passed by moderation.
		- if @video.moderation_note && !@video.moderation_note.empty?
			.notice.alert
				%b Reason:
				= @video.moderation_note
	.post.description.resize-holder
		- if @modifications_allowed
			%h2.title.editable.short.post-title.resize-target(data-target="#{video_path @video}" data-member="title")
				%span.content= @video.title
				%span.edit= fa :pencil
				%span.hidden 11
		- else
			%h2.title.post-title.resize-target
				%span.content= @video.title
		.tag-set.subheading
			%span.uploaded
		.tag-set.subheading
			%span.uploaded
				Uploaded
				%span{title: @video.created_at.to_time.strftime('%e %B %Y at %H:%m:%S')}
					= since @video.created_at
				\-
				- if @video.premiered_at
					Premiered
					%span{title: @video.premiered_at.to_time.strftime('%e %B %Y at %H:%m:%S')}
						= since @video.premiered_at
					\-
				%a.user-link.link{href: @user.link, data: {id: @user.id}}= @user.username
			%span.views.right.js-play-counter{title: number_with_delimiter(@video.play_count) + ' views'}
				= fuzzy_big_number_with_delimiter @video.play_count
				views
		- if @modifications_allowed
			%span.editable.post-content(data-target="#{video_path @video}" data-member="description")
				%span.content= emotify @video.description
				%textarea.input.js-auto-resize(name="description_video_#{@video.id}")= @video.description
				%span.edit= fa :pencil
		- else
			%span.post-content
				%span.content= emotify @video.description
	%br/
	%br/
	.post-tags
		.normal.tiny-link
			Source: 
			%a{href: @video.source}= @video.source
		%hr/
		.normal.tags= render partial: 'tags/thumb_h', collection: @tags
		- if user_signed_in?
			= form_for(@video, as: "video", url: video_details_path(@video), html: {class: "editing async form-state-toggle js-edit-video", method: :patch}, data: {state: "editing"}) do |f|
				= render layout: 'tags/editor', locals: {tags: @video.tags} do
					%textarea(autocomplete="off" name="tags")= raw @video.tag_string
				.properties
					%table
						%tr
							%td.label
								%label(for="video_source") Source
							%td.field
								%input(autocomplete="off" class="input" name="source" type="text" value="#{@video.source}")
						%tr
							%td.label
							%td.field
								%button.form-submitter Save Changes
								%button.state-toggle(type="button" data-parent=".post-tags" data-state="editing") Close
				.progressor
					.message Uploading...
					.progress
						.fill
			%hr.normal
			%button.normal.state-toggle(data-state="editing") Edit Tags Or Source
		= render partial: 'videos/actions'
