%section
	.slide-holder.slide-group
		.group.active(data-stage="global")
			%h2.resize-target.slide-nav
				%a Related
				%a.slide-right.goto(data-to="user" title="Uploader")= fa :chevron_right
			%ul.vertical
				= render partial: 'videos/thumb/mix', locals: {mix: @video}
				= render partial: 'videos/thumb/recommendation', collection: @queue[:global]
		.group(data-stage="user")
			%h2.resize-target.slide-nav
				%a.slide-left.goto(data-to="global" title="Anyone")= fw :chevron_left
				%a Uploader
			%ul.vertical
				= render partial: 'videos/thumb/mix', locals: {mix: @video}
				= render partial: 'videos/thumb/recommendation', collection: @queue[:user]
