%li.generic>
	%a.thumb{class: thumb_v.hidden && "thumb-hidden", href: thumb_v.link}
		.tile{style: format_bg(thumb_v.tiny_thumb(current_user, current_filter))}
			.details
				- spoilered = current_filter.video_spoilered?(thumb_v)
				.title{title: !spoilered && thumb_v.get_title}
					- if thumb_v.hidden
						%span.icon(title="Private - Only you can see this item")= fa :lock
					= spoilered ? "Spoilered" : thumb_v.get_title
				.published.detail= since thumb_v.created_at
				.views.detail
					= fuzzy_big_number_with_delimiter thumb_v.play_count
					views
			%span.tag-set.duration
				- if thumb_v.liked?
					= fa "thumbs-#{thumb_v.disliked? ? 'down red' : 'up green'}"
				= duration thumb_v.duration
