- spoilered = current_filter.video_spoilered?(thumb_h)
%li.generic.thumb.picture>
	%a.thumb{class: thumb_h.hidden && "thumb-hidden", href: thumb_h.link}
		.tile{style: format_bg(thumb_h.tiny_thumb(current_user, current_filter))}
			%span.tag-set.duration= duration thumb_h.duration
		.title{title: !spoilered && thumb_h.get_title}
			- if thumb_h.privated?
				%span.icon(title="Private - Only you can see this item")= fa :lock
			- if thumb_h.unlisted?
				%span.icon(title="Unlisted - Only you and people with a direct link can see this item")= fa :unlock
			- if spoilered
				Spoilered
			- else 
				= thumb_h.get_title
		%a.link.date{href: thumb_h.user.link, data: {id: thumb_h.user.id}}= thumb_h.user.username
		%span.date{title: thumb_h.created_at.in_time_zone}= since thumb_h.created_at
		%span.tag-set.right
			- if thumb_h.liked?
				= fa "thumbs-#{thumb_h.disliked? ? 'down red' : 'up green'}"
			= fuzzy_big_number_with_delimiter thumb_h.play_count
			views
