- if !thumb_v.is_hidden_by(current_user)
	%li.generic>
		%a.thumb{class: thumb_v.hidden && "thumb-hidden", href: thumb_v.link}
			.tile{style: format_bg(thumb_v.tiny_thumb(current_user))}
				.details
					- spoilered = thumb_v.is_spoilered_by(current_user)
					.title{title: !spoilered && thumb_v.get_title}
						- if thumb_v.hidden
							%span.icon(title="Private - Only you can see this item")= fa :lock
						= spoilered ? "Spoilered" : thumb_v.get_title
					.published.detail= since thumb_v.created_at
					.views.detail
						= fuzzy_big_number_with_delimiter thumb_v.play_count
						views
				%span.tag-set.duration
					- if thumb_v.is_liked
						= fa "thumbs-#{thumb_v.is_downvoted ? 'down red' : 'up green'}"
					= duration thumb_v.get_duration
