- if !thumb_h.is_hidden_by(current_user)
	- spoilered = thumb_h.is_spoilered_by(current_user)
	%li.generic.thumb.picture>
		%a.thumb{class: thumb_h.hidden && "thumb-hidden", href: thumb_h.link}
			.tile{style: format_bg(thumb_h.tiny_thumb(current_user))}
				%span.tag-set.duration= duration thumb_h.get_duration
			.title{title: !spoilered && thumb_h.get_title}
				- if thumb_h.hidden
					%span.icon(title="Private - Only you can see this item")= fa :lock
				= spoilered ? "Spoilered" : thumb_h.get_title
			%span.date{title: thumb_h.created_at}= since thumb_h.created_at
			%span.tag-set.right
				- if thumb_h.is_liked
					= fa "fa-thumbs-#{thumb_h.is_downvoted ? 'down red' : 'up green'}"
				= number_with_delimiter thumb_h.views
				views
