%li.generic.thumb
	%a.thumb{href: thumb_f.link}
		.tile{style: format_bg(thumb_f.tiny_thumb(current_user, current_filter))}
			%span.tag-set.duration= duration thumb_f.duration
		.title= current_filter.video_spoilered?(thumb_f) ? "Spoilered" : thumb_f.get_title
		%span.date{title: thumb_f.created_at.in_time_zone}= since thumb_f.created_at
		%span.tag-set.right
			- if thumb_f.liked?
				= fa "thumbs-#{thumb_h.disliked? ? 'down red' : 'up green'}"
			= fuzzy_big_number_with_delimiter thumb_f.play_count
			views
