- lim 'calc(min(85vw, 1800px))'
- title "Upload"
- drafts = current_user.videos.where(draft: true)
.page.slim.full-width.tab-set#uploader_frame(data-tab-template="#tab-template" data-content-template="#template")
	%ul.tab-set.tabs.uploader-frame-tab-bar
		- drafts.each_with_index do |draft, index|
			%li.button(data-target="new[#{index}]"){class: index == 0 && "selected"}
				%span.progress
					%span.fill
				%span.label
					Draft
					= draft.title
				= fa :close
				= fa :undo
		%li.button#new_tab_button(title="Add") +
	- drafts.each_with_index do |draft, index|
		.tab(data-tab="new[#{index}]"){class: index == 0 && "selected"}
			= render partial: 'videos/form/uploader_frame_content', locals: {video: draft, tab_id: index}
= render partial: 'videos/form/uploader_frame_content_template'
