- title @video.title
= render partial: 'video'
.page.resize-holder.column-right.right.center{class: @album && "column-mobile-fragmented"}
	- if @album
		= render partial: 'albums/inline'
	= render partial: 'recommendations'
= render partial: 'description'
%section.page.column-left
	= render partial: 'forum/threads/view', locals: {identifier: @video.id, title: "#{@video.get_title} by #{@user.username}" }
