<a class="row" href="/admin/reports/<%= thumb.id %>">
	<div>
		<span class="active-icon<% if thumb.open? %> active<% end %>" ></span>
		#<%= thumb.id %>
	</div>
	<div>
		<%= thumb.status %>
	</div>
	<div>
		<%= since thumb.updated_at %>
	</div>
	<div>
		<%= thumb.reportable_type %>
	</div>
</a>