<% title "Report #" + @report.id.to_s %>
<% lim "1100px" %>
<%= render partial: 'view/breadcrumb', locals: {
	stack: [
		{ link: '/admin', title: 'Admin' }
	],
	title: "Reports"
} %>
<section class="page full-width resize-holder">
	<h1 class="title resize-target">Report #<%= @report.id %> <%= @report.comment_thread.title %></h1>
	<div class="comment<%= !@report.resolved.nil? ? (@report.resolved ? " resolved" : " closed") : "" %>" >
	<% if !@report.resolved.nil? %>
		<div class="notice alert resolution-status">
		<% if @report.resolved %>
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-check fa-inverse fa-stack-1x"></i>
			</span>
			<b>This report has been marked as Resolved.</b>
		<% else %>
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-ban fa-inverse fa-stack-1x"></i>
			</span>
			<b>This report has been closed.</b>
		<% end %>
		</div>
	<% end %>
		<div class="artist-bio bio">
			<a <% if !@report.user.is_dummy %>class="user-link" data-id="<%= @report.user_id %>" href="<%= @report.user.link %>"<% end %>>
				<span class="avatar medium">
					<span style="background-image:url('<%= @report.user.avatar %>');"></span>
				</span>
			</a>
		</div>
		<div class="content">
			<div class="name">
				<a <% if !@report.user.is_dummy %>class="user-link" data-id="<%= @report.user_id %>" href="<%= @report.user.link %>"<% end %>><%= @report.user.username %></a>
			</div>
			<div class="date right"><%= since @report.created_at %></div>
			<table style="table-layout:auto" class="properties comment-content preview">
				<% if @video %>
					<%= render partial: 'layouts/video_thumb_h', locals: {video_thumb_h: @video} %>
				<% end %>
				<tr>
					<td>Report Type:</td>
					<td><%= @report.first %></td>
				</tr>
				<% if @report.source %>
				<tr>
					<td><% if @report.first == "duplicate" %>Target Video<% else %>Source<% end %>:</td>
					<td><%= @report.source %></td>
				</tr>
				<% end %>
				<% if @report.video %>
				<tr>
					<td>Reasons:</td>
					<td>
						<% if @report.content_type_unrelated %>Unrelated <% end %>
						<% if @report.content_type_unrelated %>Offensive <% end %>
						<% if @report.content_type_unrelated %>Disturbing <% end %>
						<% if @report.content_type_unrelated %>Explicit <% end %>
					</td>
				</tr>
				<% end %>
				<% if @report.copyright_holder %>
				<tr>
					<td>Copyright Holder:</td>
					<td><%= @report.copyright_holder %></td>
				</tr>
				<% end %>
				<% if @report.subject %>
				<tr>
					<td>General Message:</td>
					<td>
						<b><%= @report.subject %></b>
						<br>
						<%= @report.other %>
					</td>
				</tr>
				<% elsif @report.other %>
				<tr>
					<td>Other: </td>
					<td><%= raw @report.other %></td>
				</tr>
				<% end %>
				<% if @report.name %>
				<tr>
					<td>Contact Details:</td>
					<td>
						Name: <%= @report.name %>
						Email: <%= (@report.contact || "").gsub(/a-zA-z/,'*') %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</section>
<section class="page full-width resize-holder">
<%= render partial: 'thread/view_reverse' %>
</section>