<% title "Report #" + @report.id.to_s %>
<% lim "1100px" %>
<%= render partial: "view/breadcrumb", locals: {
	stack: [
		{ link: "/admin", title: "Admin" }
	],
	title: "Reports"
} %>
<section class="page full-width resize-holder report  <%= @report.status.downcase %>">
	<h1 class="title resize-target">Report #<%= @report.id %> <%= @report.comment_thread.title %></h1>
	<div class="comment">
		<div class="alert resolution-status">
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-question open fa-inverse fa-stack-1x"></i>
				<i class="fa fa-check resolved fa-inverse fa-stack-1x"></i>
				<i class="fa fa-ban closed fa-inverse fa-stack-1x"></i>
			</span>
			<b>
				<span class="open">This report is unresolved.</span>
				<span class="closed">This report has been closed.</span>
				<span class="resolved">This report has been resolved.</span>
			</b>
		</div>
		<div class="artist-bio bio">
			<a <% if !@report.user.is_dummy %>class="user-link" data-id="<%= @report.user_id %>" href="<%= @report.user.link %>"<% end %>>
				<span class="avatar medium">
					<span style="background-image:url('<%= @report.user.avatar %>');"></span>
				</span>
			</a>
		</div>
		<div class="content">
			<div class="name">
				<a <% if !@report.user.is_dummy %>class="user-link" data-id="<%= @report.user_id %>" href="<%= @report.user.link %>"<% end %>><%= @report.user.username %></a>
			</div>
			<div class="date right"><%= since @report.created_at %></div>
			<table style="table-layout:auto" class="properties comment-content preview">
				<% if @video %>
					<%= render partial: "layouts/video_thumb_h", locals: {video_thumb_h: @video} %>
				<% end %>
				<tr>
					<td>Report Type:</td>
					<td><%= @report.first %></td>
				</tr>
				<% if @report.source %>
				<tr>
					<td><%= @report.source_label %>:</td>
					<td><%= @report.source %></td>
				</tr>
				<% end %>
				<tr>
					<td>Reasons:</td>
					<td>
						<% if @report.content_type_unrelated %>Unrelated <% end %>
						<% if @report.content_type_offensive %>Offensive <% end %>
						<% if @report.content_type_disturbing %>Disturbing <% end %>
						<% if @report.content_type_explicit %>Explicit <% end %>
					</td>
				</tr>
				<% if @report.copyright_holder %>
				<tr>
					<td>Copyright Holder:</td>
					<td><%= @report.copyright_holder %></td>
				</tr>
				<% end %>
				<tr>
					<td>Message:</td>
					<td>
						<% if @report.subject %>
						<b><%= @report.subject %></b>
						<br>
						<% end %>
						<%= raw @report.other %>
					</td>
				</tr>
				<% if @report.name %>
				<tr>
					<td>Contact Details:</td>
					<td>
						Name: <%= @report.name %>
						Email: <%= (@report.contact || "").gsub(/a-zA-z/,"*") %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</section>
<section class="page full-width resize-holder">
<%= render partial: "thread/view_reverse" %>
</section>