%section.page.full-width.featured.column-mobile-shown
	%h1 Featured Video
	%ul.horizontal.center
		= render 'videos/thumb_f', thumb_f: @featured
	.description.fade-away= raw @featured.html_description
	.scoring
		%span.button.green.like(title="Likes")<>
			%b= safe_to_display @featured.upvotes, 9999
			= fw :thumbs_up
		%span.button.score(title="Score")<>
			%b= safe_to_display  @featured.score, 9999
		%span.button.red.dislike(title="Dislikes")<>
			%b= safe_to_display  @featured.downvotes, 9999
			= fw :thumbs_down
		%a.button.blue.comments{href: @featured.comment_thread.link, title: "Comments"}<>
			%b= safe_to_display  @featured.comment_thread.total_comments, 9999
			= fw :comments
