%section.page.full-width.featured.column-mobile-shown
	%h1
		= fw :star
		Featured Video
	- @video = @featured
	= render partial: 'videos/widget/full', locals: {embed: false}
	.post.resize-holder
		%h2.title.post-title.resize-target
			%a{href: @featured.link}= @featured.title
		.tag-set.subheading
			%span.uploaded
				Uploaded on
				= localise(@featured.created_at).to_time.strftime('%e %B %Y')
				by
				= render partial: 'users/link', locals: {user: @video.user}
			%span.views.right.js-play-counter
				= number_with_delimiter @featured.play_count
				views
		.description.post-content.content.fade-away= emotify @video.description
	.scoring.actions
		.split-button.button.like-dislike
			.button.action.split-icon.like{class: @featured.upvoted? && "liked",
																		title: "Likes", data: {count: @featured.upvotes,
																													action: video_action_path(@featured, id: :like),
																													id: @featured.id}}<>
				= fw :thumbs_up
				%b.count= safe_to_display @featured.upvotes, 9999
			.rating-bar(style="--bar-percentage:#{@video.rating_percentage}"
								title="#{@video.rating_percentage * 100}%"
								data-total-votes="#{@video.total_votes}")
			.button.action.split-icon.dislike{class: @featured.downvoted? && "liked",
																			title: "Dislikes", data: {count: @featured.downvotes,
																																action: video_action_path(@featured, id: :dislike),
																																id: @featured.id}}<>
				= fw :thumbs_down
				%b.count= safe_to_display  @featured.downvotes, 9999
		%a.button.blue{href: @featured.comment_thread.link + "#comment_section", title: "Comments"}<>
			= fw :comments
			= safe_to_display  @featured.comment_thread.total_comments, 9999
