.regular-region
	%h1.title.resize-target
		= fw :music
		= featured_album.title
	%ul.horizontal.video-list#videos
		= render partial: 'videos/thumb_h', collection: featured_album.sample_videos
		%li.generic.thumb
			%a.thumb{href:featured_album.link}
				%span.tile.link
					%span
						View All
						%br/
						= number_with_delimiter featured_album.album_items.length
						videos
				.title= featured_album.title
				%span.date{title: featured_album.created_at}
					= since featured_album.updated_at
				%span.date.right
					= number_with_delimiter featured_album.album_items.length
					videos
