%section.page.full-width.featured.column-mobile-shown
	%h1
		= fw :star
		Featured Video
	- @video = @featured
	= render partial: 'videos/widget/full', locals: {embed: false}
	.post.resize-holder
		%h2.title.post-title.resize-target
			%a{href: @featured.link}= @featured.title
		.tag-set.subheading
			%span.uploaded
				Uploaded on
				= localise(@featured.created_at).to_time.strftime('%e %B %Y')
				by
				= render partial: 'users/link', locals: {user: @video.user}
			%span.views.right.js-play-counter
				= number_with_delimiter @featured.play_count
				views
		.description.post-content.content.fade-away= emotify @video.description
	.scoring.actions
		= render partial: 'videos/description/rating_bar'
		%a.button.blue{href: @featured.comment_thread.link + "#comment_section", title: "Comments"}<>
			= fw :comments
			= safe_to_display  @featured.comment_thread.total_comments, 9999
