<tr class="activity">
	<td style="width:30px">
	<a href="<%= recent_comment_thumb.comment_thread.owner.link %>" class="thumb medium left">
		<span style="background-image:url('/cover/<%= recent_comment_thumb.comment_thread.owner_id %>-small.png');"></span>
	</a>
	</td>
	<td>
	<div>
		<a href="<%= recent_comment_thumb.link %>">#<%= recent_comment_thumb.get_open_id %></a>
		by <a<% if !recent_comment_thumb.user.is_dummy %><% if recent_comment_thumb.user.banned? %> class="banned"<% end %> href="<%= recent_comment_thumb.user.link %>"<% end %>><%= recent_comment_thumb.user.username %></a>
	</div>
	<div>
		<%= since recent_comment_thumb.updated_at %>
	</div>
	</td>
</tr>
