%tr.activity
	%td
		%a.thumb.tiny.left{href: recent_comment_thumb.comment_thread.owner.link}
			.tile{style: format_bg(recent_comment_thumb.comment_thread.owner.tiny_thumb(current_user, current_filter))}
	%td
		%div
			%a{href: recent_comment_thumb.link}
				= precede '#' do
					= recent_comment_thumb.get_open_id
			by 
			- if recent_comment_thumb.user.dummy?
				%b= recent_comment_thumb.user.username
			- else
				= render partial: 'users/link', locals: {user: recent_comment_thumb.user}
		%div= since recent_comment_thumb.updated_at
