%li.generic.thumb
	%a.thumb{href: video_thumb_h.link}
		.tile(style="background-image:url('#{video_thumb_h.is_hidden_by(current_user) ? 'images/default-cover' : video_thumb_h.tiny_thumb(current_user)}');")
			%span.tag-set.duration= duration video_thumb_h.get_duration
		.title= video_thumb_h.is_spoilered_by(current_user) || video_thumb_h.is_hidden_by(current_user) ? "Spoilered" : video_thumb_h.get_title
		%span.date{title: video_thumb_h.created_at}= since video_thumb_h.created_at
		%span.tag-set.right
			- if video_thumb_h.is_liked
				%i.fa{class: "fa-thumbs-#{video_thumb_h.is_downvoted ? 'down red' : 'up green'}"}
			= number_with_delimiter video_thumb_h.views
			views
