<li class="generic thumb">
	<a class="thumb" href="/view/<%= video_thumb_h.id %>-<%= video_thumb_h.safe_title %>">
		<div class="tile" style="background-image:url('/<%= video_thumb_h.hidden || video_thumb_h.isSpoileredBy(current_user) || video_thumb_h.isHiddenBy(current_user) ? 'images/default-cover' : 'cover/' + video_thumb_h.id.to_s %>-small.png');">
			<span class="tag-list duration">
				<%= duration video_thumb_h.getDuration %>
			</span>
		</div>
		<div class="title">
			<%= video_thumb_h.isSpoileredBy(current_user) || video_thumb_h.isHiddenBy(current_user) ? "Spoilered" : video_thumb_h.getTitle %>
		</div>
		<span class="date" title="<%= video_thumb_h.created_at %>">
			<%= since video_thumb_h.created_at %>
		</span>
		<span class="tag-list right">
			<%= number_with_delimiter video_thumb_h.views %> views
		</span>
	</a>
</li>