<li class="generic thumb">
	<a class="thumb" href="<%= video_thumb_h.link %>">
		<div class="tile" style="background-image:url('<%= video_thumb_h.is_hidden_by(current_user) ? 'images/default-cover' : video_thumb_h.tiny_thumb(current_user) %>');">
			<span class="tag-set duration">
				<%= duration video_thumb_h.get_duration %>
			</span>
		</div>
		<div class="title"><%= video_thumb_h.is_spoilered_by(current_user) || video_thumb_h.is_hidden_by(current_user) ? "Spoilered" : video_thumb_h.get_title %></div>
		<span class="date" title="<%= video_thumb_h.created_at %>">
			<%= since video_thumb_h.created_at %>
		</span>
		<span class="tag-set right">
			<% if video_thumb_h.is_liked %>
				<i class="fa fa-thumbs-<% if video_thumb_h.is_downvoted %>down red<% else %>up green<% end %>"></i>
			<% end %>
			<%= number_with_delimiter video_thumb_h.views %> views
		</span>
	</a>
</li>