.wrapper.resize-holder.column-right.right.column-mobile-fragmented.wrap-around-fixed.grid-root
	- if @featured
		= render 'featured_video'
	- if @threads.length > 0
		%section.properties.ribbed.page.full-width
			%h1
				= fw :comments
				Forum Activity
			%table(style="table-layout: auto")= render partial: 'recent_thumb', collection: @threads
	- if @comments.length > 0
		%section.properties.ribbed.page.full-width
			%h1
				= fw :comments
				Comments
			%table(style="table-layout: auto")= render partial: 'recent_comment_thumb', collection: @comments
	%section.page.full-width.donate
		%h1
			%a{href: donate_path} Donate
		%a(href="#{donate_path}" data-external-form="#{donate_path}.json" data-title="Donate to Project Vinyl" data-icon="paypal" data-max-width="500px")
			%div
		%a.source(href="//derpibooru.org/549114") source
	%section.page.full-width.twitter
		%h1
			= fw :newspaper_o
			Twitter Feed
		%iframe.twitter(src="/embed/twitter")
.wrapper.column-left.auto-wrap.resize-holder.grid-root
	%section.page
		= render 'section', collection: @popular, type: 'popular', label: 'Popular', filter: '', order: 2
		- if @exception_flag
			.right= fa :star_o
	- if @featured_album
		%section.page= render 'featured_album', featured_album: @featured_album
	- @all.group_by(&:period).each do |week, n|
		%section.page= render 'section', collection: n, label: week, filter: n.first.period_search_range, order: 0
	- if @feed && @feed.length > 0
		= render 'videos/feeds/show'
