.wrapper.resize-holder.column-right.right.column-mobile-fragmented.wrap-around-fixed.grid-root(style="margin-left:-10px;width:23%")
	- if @featured
		= render 'featured_video'
	- if @threads.length > 0
		%section.properties.ribbed.page.full-width
			%h1 Recent Forum Activity
			%table(style="table-layout: auto")= render partial: 'recent_thumb', collection: @threads
	- if @comments.length > 0
		%section.properties.ribbed.page.full-width
			%h1 Recent Comments
			%table(style="table-layout: auto")= render partial: 'recent_comment_thumb', collection: @comments
	%section.page.full-width
		%iframe.twitter(src="/embed/twitter")
	%section.page.full-width.donate
		%h1
			%a{href: donate_path} Donate
		%a(href="#{donate_path}" data-external-form="#{donate_path}" data-title="Donate to Project Vinyl" data-icon="paypal" data-max-width="500px")
			%div
		%a.source(href="//derpibooru.org/549114") source
.wrapper.column-left.auto-wrap.resize-holder(style="width: 76%")
	%section.page
		= render 'section', collection: @popular, type: 'popular', label: 'Popular'
	- if @featured_album
		%section.page= render 'featured_album', featured_album: @featured_album
	- @all.group_by(&:period).each do |week, n|
		%section.page= render 'section', collection: n, label: week
	- if @feed && @feed.length > 0
		= render 'feeds/show'
