<div style="margin-left:-10px;width:23%" class="wrapper resize-holder column-right right column-mobile-fragmented wrap-around-fixed grid-root">
	<% if @featured %>
	<section class="page full-width featured column-mobile-shown">
		<h1>Featured Video</h1>
		<ul class="horizontal center">
			<%= render partial: 'video_thumb_h', locals: {video_thumb_h: @featured} %>
		</ul>
		<div class="scoring tag-list">
			<span title="Likes" class="like">
				<%= safe_to_display @featured.upvotes, 9999 %>
				<i class="fa fa-thumbs-up"></i>
			</span>
			<span title="Score" class="score">
				<%= safe_to_display  @featured.score, 9999 %>
			</span>
			<span title="Dislikes" class="dislike">
				<%= safe_to_display  @featured.downvotes, 9999 %>
				<i class="fa fa-thumbs-down"></i>
			</span>
			<a href="<%= @featured.comment_thread.link %>" title="Comments" class="comments">
				<%= safe_to_display  @featured.comment_thread.total_comments, 9999 %>
				<i class="fa fa-comments"></i>
			</a>
		</div>
		<div class="description fade-away">
			<%= raw @featured.html_description %>
		</div>
	</section>
	<% end %>
	<section class="page full-width">
		<iframe class="twitter" src="/embed/twitter"></iframe>
	</section>
	<% if @comments.length > 0 %>
	<section class="properties ribbed page full-width">
		<h1>Recent Activity</h1>
		<table style="table-layout: auto">
		<% @comments.each do |c| %>
			<tr class="activity">
				<td style="width:30px">
				<span class="avatar small left">
					<% if c.comment_thread.owner_type == "Video" %>
						<span style="background-image:url('/cover/<%= c.comment_thread.owner_id %>-small.png');"></span>
					<% else %>
						<span style="background-image:url('<%= c.comment_thread.user.avatar %>');"></span>
					<% end %>
				</span>
				</td>
				<td>
				<div>
					<a href="<%= c.comment_thread.location %>#comment_<%= c.get_open_id %>">#<%= c.get_open_id %></a>
					by <a<% if c.user.banned? %> class="banned"<% end %> href="<%= c.user.link %>"><%= c.user.username %></a>
				</div>
				<div>
					<%= since c.updated_at %>
				</div>
				</td>
			</tr>
		<% end %>
		</table>
	</section>
	<% end %>
	<section class="page full-width donate">
		<h1>
			<a>Donate</a>
		</h1>
		<a href="/donate" data-external-form="/ajax/donate" data-title="Donate to Project Vinyl" data-icon="paypal" data-max-width="500px">
			<div></div>
		</a>
		<a class="source" href="//derpibooru.org/549114">source</a>
	</section>
</div>
<div class="wrapper column-left auto-wrap resize-holder" style="width: 76%">
	<section class="page">
		<%= render partial: 'section', locals: { collection: @popular, type: 'popular', label: 'Popular' } %>
		<% if @featured_album %>
	</section>
	<section class="page">
			<%= render partial: 'featured_album', locals: { featured_album: @featured_album } %>
		<% end %>
	</section>
		<% @all.group_by(&:period).each do |week, n| %>
	<section class="page">
			<%= render partial: 'section', locals: { collection: n, label: week } %>
	</section>
		<% end %>
		<% if @feed && @feed.length > 0 %>
	<section class="page">
		<div class="group feed auto-wrap-contents">
			<h1><a href="/videos/watched">Watched Videos (<%= number_with_delimiter @feed.length %>)</a></h1>
			<ul class="horizontal latest">
				<%= render partial: 'video/thumb_h', collection: @feed %>
			</ul>
		</div>
	</section>
		<% end %>
</div>
