		<section class="page column-left">
			<div class="group today">
				<h3>Today</h3>
				<ul class="videos horizontal latest">
				<% @today.each do |video| %>
					<li>
						<a class="thumb" style="background-image:url('/cover/<%= video.id %>');" href="/view/<%= video.id %>-<%= video.title %>">
							<div class="title">Brushie Brushie</div>
						</a>
						<span class="date underline"><a href="/artist/<%= video.artist.id %>-<%= video.artist.name %>"><%= video.artist.name %></a> - <span><%= raw since video.created_at %></span></span>
					</li>
				<% end %>
				</ul>
			</div>
			<div class="group yesterday">
				<h3>Yesterday</h3>
				<ul class="videos horizontal latest">
				<% @yesterday.each do |video| %>
					<li>
						<a class="thumb" style="background-image:url('/cover/<%= video.id %>');" href="/view/<%= video.id %>-<%= video.title %>">
							<div class="title">Brushie Brushie</div>
						</a>
						<span class="date underline"><a href="/artist/<%= video.artist.id %>-<%= video.artist.name %>"><%= video.artist.name %></a> - <span><%= raw since video.created_at %></span></span>
					</li>
				<% end %>
				</ul>
			</div>
		</section>
		<div style="margin-left:-10px;" class="wrapper resize-holder column-right right">
			<section style="width:100%" class="page">
				<span>
					<a style="text-decoration:none;" class="twitter-timeline"  href="https://twitter.com/Project_Vinyl" data-widget-id="733733333084086272">Tweets by @Project_Vinyl</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</span>
			</section>
			<section style="width:100%" class="page donate">
				<h1>
					<a>Donate</a>
				</h1>
				<a href="#donate">
					<div></div>
				</a>
				<a class="source" href="https://derpibooru.org/549114">source</a>
			</section>
		</div>
		<span class="push"></span>