<section class="page column-left" style="width:76%">
	<%= render partial: 'section', locals: { collection: @popular, type: 'popular', label: 'Popular' } %>
	<%= render partial: 'section', locals: { collection: @today, type: 'today', label: 'Today' } %>
	<%= render partial: 'section', locals: { collection: @yesterday, type: 'yesterday', label: 'Yesterday' } %>
	<%= render partial: 'section', locals: { collection: @week, type: 'week', label: 'Earlier this Week' } %>
	<%= render partial: 'section', locals: { collection: @month, type: 'month', label: 'Earlier this Month' } %>
</section>
<div style="margin-left:-10px;width:23%" class="wrapper resize-holder column-right right">
	<% if @featured %>
	<section style="width:100%" class="page featured">
		<h1>Featured Video</h1>
		<%= render partial: '/layouts/video_thumb_h', locals: {video_thumb_h: @featured} %>
		<div class="scoring tag-list">
			<span class="like">
				<%= number_with_delimiter @featured.upvotes %> likes
			</span>
			<span title="Score" class="score">
				<%= number_with_delimiter @featured.score %>
			</span>
			<span class="dislike">
				<%= number_with_delimiter @featured.downvotes %> dislikes
			</span>
			<span class="comments">
				<%= number_with_delimiter @featured.comment_thread.total_comments %> comments
			</span>
		</div>
		<div class="description fade-away">
			<%= raw @featured.html_description %>
		</div>
	</section>
	<% end %>
	<section style="width:100%" class="page">
		<div style="min-height:600px">
			<a style="text-decoration:none;" class="twitter-timeline"  href="https://twitter.com/Project_Vinyl" data-widget-id="733733333084086272">Tweets by @Project_Vinyl</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</section>
	<section style="width:100%" class="page donate">
		<h1>
			<a>Donate</a>
		</h1>
		<a href="#donate">
			<div></div>
		</a>
		<a class="source" href="//derpibooru.org/549114">source</a>
	</section>
</div>
<style type="text/css">
iframe.twitter-timeline {
  min-width: 100% !important;
}
</style>
<script>
$(window).on('resize', function() {
  resizeGrid($('.column-left'), $('.column-right'));
});
resizeGrid($('.column-left'), $('.column-right'));
function resizeGrid(grid, beside) {
  grid.css('width', '');
  if (beside.width() > 0) {
    var width = grid.parent().innerWidth() - 195;
    var calculatedWidth = width + 1;
    var n = 10;
    do {
      calculatedWidth = 60 + (182 * n) + 45 * (--n) + 60;
    } while (calculatedWidth > width)
      grid.css('width', calculatedWidth + 'px');
    if (beside) {
      beside.css('width', (beside.parent().innerWidth() - calculatedWidth - 5) + 'px');
    }
  }
}
</script>