<%= render partial: 'view/breadcrumb', locals: {
	stack: [
		{ link: '/admin', title: 'Admin' },
		{ link: @user.link, title: @user.id }
	],
	title: @user.username
} %>
<section class="page properties column-left">
	<h1>Edit Profile</h1>
	<%= render partial: 'artist/edit', locals: { user: @user, url: "/users/" + @user.id.to_s, method: :patch } %>
</section>
<section class="page properties column-right right">
	<table>
		<tr>
			<td class="label">
				Roles
			</td>
			<td class="field">
				<% if current_user.id == @user.id %>
				<p style="color:red">You cannot change your own role.</p>
				<% else %>
				<%= render partial: 'admin/user/role_check', locals: { enable: current_user.is_admin?, value: @user.admin?, role: :admin, title: 'Administrator'} %>
				<br><br>
				<%= render partial: 'admin/user/role_check', locals: { enable: current_user.is_contributor?, value: @user.contributor?, role: :contributor, title: 'Moderator'} %>
				<br><br>
				<%= render partial: 'admin/user/role_check', locals: { enable: current_user.is_staff?, value: @user.staff?, role: :staff, title: 'Staff'} %>
				<br><br>
				<%= render partial: 'admin/user/role_check', locals: { enable: true, value: @user.normal?, role: :normal, title: 'Normal'} %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="label">
				Banned
			</td>
			<td class="field">
				<% if current_user.id == @user.id %>
				<p style="color:red">You cannot ban yourself.</p>
				<% else %>
				<%= render partial: 'admin/user/role_check', locals: { enable: true, value: @user.banned?, role: :banned, title: 'Ban User'} %>
				<% end %>
			</td>
		<tr>
			<td class="label">
				Badges
			</td>
			<td>
			<% had_badges = [] %>
			<% @user.user_badges.includes(:badge).each do |i| %>
				<% had_badges << i.badge.id %>
				<%= render partial: 'admin/user/badge_toggle', locals: {badge_toggle: i, checked: true} %>
			<% end %>
				<hr>
			<% (had_badges.length > 0 ? Badge.where.not('id IN (?)', had_badges) : Badge.all).each do |i| %>
				<%= render partial: 'admin/user/badge_toggle', locals: {badge_toggle: i, checked: false} %>
			<% end %>
			</td>
		</tr>
		<tr class="actions">
			<td class="label">Reindex User</td>
			<td class="field">
			<%= form_for(@user, as: "user", url: "/admin/reindex/user", html: { method: :put }) do |f| %>
				<%= f.text_field :id, hidden: true %>
				<%= f.submit "Reindex" %>
			<% end %>
			</td>
		</tr>
	</table>
</section>