<%= render partial: 'view/breadcrumb', locals: {
	stack: [
		{ link: '/admin', title: 'Admin' },
		{ link: @user.link, title: @user.id }
	],
	title: @user.username
} %>
<section class="page properties column-left">
	<h1>Edit Profile</h1>
	<%= render partial: 'artist/edit', locals: { user: @user, url: "/users/" + @user.id.to_s, method: :patch } %>
</section>
<section class="page properties column-right right">
	<table>
		<tr>
			<td class="label">
				Roles
			</td>
			<td class="field">
				<% if current_user.id == @user.id %>
				<p style="color:red">You cannot change your own role.</p>
				<% else %>
				<button class="action toggle blue<% if !current_user.is_admin? %> disable" disabled<% else %>"<% end %> data-family="role-flags" data-target="admin/users" data-id="<%= @user.id %>" data-action="roles" data-value="admin">
					<span class="icon">
						<% if @user.admin? %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Administrator</span>
				</button>
				<br><br>
				<button class="action toggle blue<% if !current_user.is_contributor? %> disable" disabled<% else %>"<% end %> data-family="role-flags" data-target="admin/users" data-id="<%= @user.id %>" data-action="roles" data-value="contributor">
					<span class="icon">
						<% if @user.contributor? %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Moderator</span>
				</button>
				<br><br>
				<button class="action toggle blue<% if !current_user.is_staff? %> disable" disabled<% else %>"<% end %> data-family="role-flags" data-target="admin/users" data-id="<%= @user.id %>" data-action="roles"  data-value="staff">
					<span class="icon">
						<% if @user.staff? %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Staff</span>
				</button>
				<br><br>
				<button class="action toggle blue" data-family="role-flags" data-target="admin/users" data-id="<%= @user.id %>" data-action="roles"  data-value="normal">
					<span class="icon">
						<% if @user.role == 0 %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Normal</span>
				</button>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="label">
				Banned
			</td>
			<td class="field">
				<% if current_user.id == @user.id %>
				<p style="color:red">You cannot ban yourself.</p>
				<% else %>
				<button class="action toggle red" data-family="role-flags" data-target="admin/users" data-id="<%= @user.id %>" data-action="roles"  data-value="banned">
					<span class="icon">
						<% if @user.banned? %>
						<i class="fa fa-check"></i>
						<% end %>
					</span>
					<span class="label">Ban User</span>
				</button>
				<% end %>
			</td>
		<tr>
			<td class="label">
				Badges
			</td>
			<td>
			<% had_badges = [] %>
			<% @user.user_badges.includes(:badge).each do |i| %>
				<% had_badges << i.badge.id %>
				<%= render partial: 'admin/user/badge_toggle', locals: {badge_toggle: i, checked: true} %>
			<% end %>
				<hr>
			<% (had_badges.length > 0 ? Badge.where.not('id IN (?)', had_badges) : Badge.all).each do |i| %>
				<%= render partial: 'admin/user/badge_toggle', locals: {badge_toggle: i, checked: false} %>
			<% end %>
			</td>
		</tr>
		<tr class="actions">
			<td class="label">Reindex User</td>
			<td class="field">
			<%= form_for(@user, as: "user", url: "/admin/reindex/user", html: { method: :put }) do |f| %>
				<%= f.text_field :id, hidden: true %>
				<%= f.submit "Reindex" %>
			<% end %>
			</td>
		</tr>
	</table>
</section>