<%= form_for(@user, as: "user", url: "/users/banner", html: {method: :patch}) do |f| %>
<%= f.text_field :id, hidden: true %>
<div class="uploaded-preview">
	<div id="banner-upload" class="banner drag-target file-select image-selector uploaded-preview" data-base-path="<%= @user.banner %>">
		<span class="preview" style="background-image: url('<%= @user.banner %>');"></span>
		<span class="drop-icon" style="box-shadow: none;">
			<i class="fa fa-camera"></i>
		</span>
		<%= f.file_field :banner, accept: 'image/*' %>
	</div>
	<div class="progressor">
		<div class="cover-block">
			<div class="message">
			Uploading...
			</div>
			<div class="progress">
				<div class="fill"></div>
			</div>
		</div>
	</div>
</div>
<div class="foot">
	<label class="button right">
		<input name="erase" type="checkbox"></input>
		<i class="fa fa-check"></i>
		Remove current Image
	</label>
	<button class="green cancel">Done</button>
</div>
<% end %>
