<table>
	<tr class="section">
		<td colspan="2">
			Appearance
		</td>
	</tr>
	<tr>
		<td class="label">
			Avatar
		</td>
		<td class="field center">
		<%= form_for(user, as: "user", url: "/ajax/avatar/upload", "html": { "class": "async" }) do |f| %>
			<%= f.text_field :id, hidden: true %>
			<div id="avatar-upload" class="avatar file-select image-selector uploaded-preview revertable" data-type="image">
				<span class="preview" style="background-image: url('<%= user.avatar %>');"></span>
				<span class="drop-icon" style="box-shadow: none;">
					<i class="fa fa-camera"></i>
				</span>
				<%= f.file_field :avatar %>
			</div>
			<div class="buttons">
			<label class="link red">
				<input id="erase-avatar" name="erase" type="checkbox"></input>
				<i class="fa fa-check"></i>
				Delete
			</label>
			</div>
			<div class="progressor">
				<div class="cover-block">
					<div class="message">
						Uploading...
					</div>
					<div class="progress">
						<div class="fill"></div>
					</div>
				</div>
			</div>
			<script>
$('#avatar-upload').on('accept', function(e, file) {
  var form = $(this).closest('form');
  ajax.form(form, e, {
    'success': function() {
       form.removeClass('uploading');
       $('#login .avatar.small span, #avatar-upload .preview').css('background-image', 'url(<%= current_user.avatar %>?' + new Date().getTime() + ')');
    }
  });
}).parent().find('input#erase-avatar').on('change', function() {
	if (this.checked) $('#avatar-upload').trigger('accept'), this.checked = false;
});
			</script>
			<% end %>
		</td>
	</tr>
</table>
<%= form_for(user, as: "user", url: url) do |f| %>
	<%= f.text_field :id, hidden: true %>
<table>
	<tr class="section">
		<td colspan="2">
			Basic Information
		</td>
	</tr>
	<tr>
		<td class="label">
			<%= f.label :display_name %>
		</td>
		<td class="field popper auto-lookup validate" data-action="artist">
			<%= f.text_field :username, autofocus: true, autocomplete: "off" %>
			<ul class="pop-out"></ul>
		</td>
	</tr>
	<% if current_user.is_contributor? %>
	<tr>
		<td class="label">
			Artist tag
		</td>
		<td class="field">
			<%= f.text_field "tag", value: @user.tag_id ? @user.tag.name : "" %>
		</td>
	</tr>
	<% end %>
	<tr>		
		<td class="label">
		<%= f.label "Description" %>
		</td>
		<td class="field">
		<%= render layout: '/thread/description_box' do %>
			<%= f.text_area :description, class: "comment-content" %>
		<% end %>
		</td>
	</tr>
	<tr>		
		<td class="label">
		<%= f.label "Short Bio" %>
		</td>
		<td class="field">
		<%= render layout: '/thread/description_box' do %>
			<%= f.text_area :bio, class: "comment-content" %>
		<% end %>
		</td>
	</tr>
	<tr>
		<td class="label">
		<%= f.label :associated_tags %>
		</td>
		<td class="field">
		<%= render layout: 'layouts/tageditor', locals: { tags: user.tags } do %>
			<%= f.text_area :tag_string %>
		<% end %>
		</td>
	</tr>
	<tr class="actions">
		<td class="label">
		</td>
		<td class="field">
			<%= f.submit "Save Changes", class: "green" %>
		</td>
	</tr>
</table>
<% end %>