<%= form_for(artist, as: "artist", url: url) do |f| %>
	<table>
		<tr class="section">
			<td colspan="2">
				Appearance
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :avatar %>
			</td>
			<td class="field center">
				<div class="avatar file-select image-selector" data-type="image">
					<span class="preview" style="background-image: url('/avatar/<%= artist.id || 0 %>');"></span>
					<span class="drop-icon" style="box-shadow: none;">
						<i class="fa fa-camera"></i>
					</span>
					<%= f.file_field :avatar %>
				</div>
			</td>
		</tr>
		<tr class="section">
			<td colspan="2">
				Basic Information
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label :name %>
			</td>
			<td class="field">
				<%= f.text_field :name, autofocus: true %>
			</td>
		</tr>
		<tr>		
			<td class="label">
			<%= f.label "Short Bio" %>
			</td>
			<td class="field">
			<%= f.text_area :bio %>
			</td>
		</tr>
		<tr>
			<td class="label">
			<%= f.label :description %>
			</td>
			<td class="field">
			<%= f.text_area :description %>
			</td>
		</tr>
		<tr>
			<td class="label">
			<%= f.label :genres %>
			</td>
			<td class="field">
			<%= render layout: 'layouts/tageditor' do %>
				<%= f.text_area :genres_string %>
			<% end %>
			</td>
		</tr>
		<tr class="actions">
			<td class="label">
			</td>
			<td class="field">
				<%= f.submit "Save Changes", class: "green" %>
			</td>
		</tr>
	</table>
<% end %>