<table>
	<tr class="section">
		<td colspan="2">
			Appearance
		</td>
	</tr>
	<tr>
		<td class="label">
			Avatar
		</td>
		<td class="field center">
		<%= form_for(user, as: "user", url: "/user/avatar", html: { class: "async", method: :patch }) do |f| %>
			<%= f.text_field :id, hidden: true %>
			<div class="file-select-container">
				<div id="avatar-upload" class="avatar drag-target file-select image-selector uploaded-preview revertable" data-id="<%= user.id %>">
					<span class="preview" style="background-image: url('<%= user.avatar %>');"></span>
					<span class="drop-icon" style="box-shadow: none;">
						<i class="fa fa-camera"></i>
					</span>
					<%= f.file_field :avatar, accept: 'image/*' %>
				</div>
				<div class="buttons file-select-options">
					<label class="link red">
						<input data-action="erase" id="erase-avatar" name="erase" type="checkbox"></input>
						<i class="fa fa-check"></i> Delete
					</label>
				</div>
			</div>
			<div class="progressor">
				<div class="cover-block">
					<div class="message">
						Uploading...
					</div>
					<div class="progress">
						<div class="fill"></div>
					</div>
				</div>
			</div>
			<% end %>
		</td>
	</tr>
</table>
<%= form_for(user, as: "user", url: url, html: {method: method}) do |f| %>
	<%= f.text_field :id, hidden: true %>
<table>
	<tr class="section">
		<td colspan="2">
			Basic Information
		</td>
	</tr>
	<tr>
		<td class="label">
			<%= f.label :display_name %>
		</td>
		<td class="field popper auto-lookup validate" data-action="artist">
			<%= f.text_field :username, autofocus: true, autocomplete: "off" %>
			<ul class="pop-out"></ul>
		</td>
	</tr>
	<% if current_user.is_contributor? %>
	<tr>
		<td class="label">
			Artist tag
		</td>
		<td class="field">
			<%= f.text_field "tag", value: @user.tag_id ? @user.tag.name : "", autocomplete: "off" %>
		</td>
	</tr>
	<% end %>
	<tr>		
		<td class="label">
		<%= f.label "Description" %>
		</td>
		<td class="field">
		<%= render layout: 'comment/description_box' do %>
			<%= f.text_area :description, class: "comment-content", autocomplete: "off" %>
		<% end %>
		</td>
	</tr>
	<tr>		
		<td class="label">
		<%= f.label "Short Bio" %>
		</td>
		<td class="field">
		<%= render layout: 'comment/description_box' do %>
			<%= f.text_area :bio, class: "comment-content", autocomplete: "off" %>
		<% end %>
		</td>
	</tr>
	<tr>
		<td class="label">
		<%= f.label :associated_tags %>
		</td>
		<td class="field">
		<%= render layout: 'tag/editor', locals: { tags: user.tags } do %>
			<%= f.text_area :tag_string, autocomplete: "off" %>
		<% end %>
		</td>
	</tr>
	<tr class="actions">
		<td class="label">
		</td>
		<td class="field">
			<%= f.submit "Save Changes", class: "green" %>
		</td>
	</tr>
</table>
<% end %>
