<section style="width:100%" class="page resize-holder featured-section" data-id="<%= featured_section.id %>" data-index="<%= 1 %>">
	<% if @modificationsAllowed %>
	<div class="handle">
		<%= featured_section.title %>
	</div>
	<div class="remove" title="Remove" data-id="<%= featured_section.id %>"><span><i class="fa fa-times"></i></span></div>
	<% end %>
	<div class="regular-region">
		<h1 class="title resize-target"><%= featured_section.title %></h1>
		<ul id="videos" class="horizontal video-list">
			<%= render partial: '/layouts/video_thumb_h', collection: featured_section.videos.limit(4) %>
			<li class="generic thumb">
				<a class="thumb" href="/album/<%= featured_section.id %>-<%= featured_section.safe_title %>">
					<span class="tile link">
						View All
						<br>
						<%= number_with_delimiter featured_section.videos.length %> videos
					</span>
					<div class="title"></div>
					<span class="date" title="<%= featured_section.created_at %>">
						<%= since featured_section.created_at %>
					</span>
				</a>
			</li>
		</ul>
	</div>
</section>