<% title "#{@user.username}'s #{@label}s" %>
<%= render partial: 'view/breadcrumb', locals: {
	stack: [
		{ link: '/users', title: 'Users' },
		{ link: @user.link, title: @user.username }
	],
	title: "#{@label}s"
} %>
<section class="page full-width">
	<h1><%= @user.username %>'s <%= @label %>s (<%= number_with_delimiter @records.count %>)</h1>
	<%= render layout: 'pagination/paginated', locals: { type: "users/#{@user.id}/#{@label.downcase}s", paginated: @records, id: "page" } do %>
		<section class="search-result">
			<ul id="<%= @table %>s" class="horizontal <%= @table.underscore %>-list">
				<%= render partial: @partial, collection: @records.records %>
			</ul>
		</section>
	<% end %>
</section>
