<% if @artist %>
<% title @artist.name %>
<% if @artist.banner_set %>
<style>
#banner {
  background-image: url('/banner/<%= @artist.id %>');
  background-size: cover;
}
</style>
<% end %>
<section style="width:100%" class="page artist-bio">
	<div class="post">
		<div class="space-fix">
			<span class="date registered right underline">Registered <span title="<%= @artist.created_at %>"><%= since @artist.created_at %></span></span>
			<span class="avatar large">
				<span style="background-image:url('/avatar/<%= @artist.id %>');"></span>
			</span>
			<h1 class="title">
				<a class="name" href="/artist/<%= @artist.id %>-<%= url_safe @artist.name %>"><%= @artist.name %></a>
			</h1>
			<span class="content bio"><%= raw emotify @artist.description %></span>
		</div>
		<div class="details">
			<%= render partial: '/layouts/taglist', locals: { collection: @artist.genres } %>
		</div>
	</div>
</section>
<section style="width:100%" class="page recent-uploads resize-holder">
	<h1 class="title resize-target">Recent Uploads<span> (<span class="count"><%= @artist.videos.length %></span>)</span></h1>
	<% if @modificationsAllowed %><a class="button" href="/upload"><i class="fa fa-plus"></i> New</a><% end %>
	<ul id="videos" class="horizontal video-list">
		<%= render partial: '/layouts/video_thumb_h', collection: @videos.records %>
	</ul>
	<div class="load-more">
	<% if @videos.pages > 0 %>
		<button data-page="0" data-type="videos" data-id="<%= @artist.id %>" data-target="videos">Load More</button>
	<% end %>
	</div>
</section>
<section style="width:100%" class="page recent-uploads resize-holder">
	<h1 class="title resize-target">Recent Albums<span> (<span class="count"><%= @artist.albums.length %></span>)</span></h1>
	<% if @modificationsAllowed %><a class="button" href="/album/create"><i class="fa fa-plus"></i> New</a><% end %>
	<ul id="albums" class="album-list horizontal">
		<%= render partial: '/layouts/album_thumb_h', collection: @albums.records %>
	</ul>
	<div class="load-more">
	<% if @albums.pages > 0 %>
		<button data-page="0" data-type="albums" data-id="<%= @artist.id %>" data-target="albums">Load More</button>
	<% end %>
	</div>
</section>
<% else %>
<%= render layout: '/layouts/error', locals: { title: 'Nothing to see here!' } do %>
If there was an artist here they're probably gone now. ... sorry.
<% end %>
<% end %>