<% title @user.username %>
<% if @user.banner_set %>
<style>
.banner-background {
  background-image: url('<%= @user.banner %>');
  background-size: cover;
}
</style>
<% end %>
<section class="page full-width artist-bio">
	<div class="post">
		<div class="space-fix">
			<span class="date registered right underline">Registered <span title="<%= @user.created_at %>"><%= since @user.created_at %></span></span>
			<span class="avatar large">
				<span style="background-image:url('<%= @user.avatar %>');"></span>
			</span>
			<h1 class="title">
				<a class="name<% if @user.banned? %> banned<% end %>" href="<%= @user.link %>">
					<%= @user.username %>
					<%= render partial: 'badge/badges', locals: {user: @user} %>
				</a>
			</h1>
			<span class="content bio"><%= raw @user.html_description %></span>
		</div>
		<% if @user.tag_id || @tags.length > 0 %>
		<div class="details">
			<h1>Associated Tags</h1>
			<% if @user.tag_id %>
			<ul class="tags artist-tags">
			<%= render partial: 'layouts/genre_thumb_h', locals: {genre_thumb_h: @user.tag} %>
			</ul>
			<% end %>
			<ul class="tags">
			<%= render partial: 'layouts/genre_thumb_h', collection: @tags.includes(:tag_type) %>
			</ul>
		</div>
		<% end %>
		<div class="actions">
		<% if @modifications_allowed %>
			<div class="split-button popper">
				<button class="action options pop-out-toggle"><i class="fa fa-gear"></i> Options</button>
				<ul class="pop-out">
				<% if user_signed_in? && current_user.is_contributor? %>
					<li class="action">
						<a href="/admin/artist/<%= @user.id %>">
							<span class="icon"><i class="fa fa-gavel"></i></span>
							<span class="label">Admin</span>
						</a>
					</li>
				<% end %>
					<li class="action js-banner-select" data-external-form="artist/update/banner/<%= @user.id %>" data-title="Select Banner Image">
						<span class="icon"><i class="fa fa-pencil"></i></span>
						<span class="label">Change Banner Image</span>
					</li>
				</ul>
			</div>
		<% end %>
		<% if user_signed_in? %>
			<button data-external-form="thread/new?user=<%= @user.id %>" data-title="New Message"><i class="fa fa-envelope"></i> Send Message</button>
		<% end %>
		</div>
	</div>
</section>
<% if @art %>
<section class="page full-width recent-uploads resize-holder">
	<h1 class="title resize-target">Songs by <%= @user.username %><span> (<span class="count"><%= number_with_delimiter @art.count %></span>)</span></h1>
	<ul id="songs" class="horizontal video-list">
		<%= render partial: '/layouts/video_thumb_h', collection: @art.records %>
	</ul>
	<div class="load-more">
	<% if @art.pages > 1 %>
		<button data-page="0" data-url="tags/videos" data-id="<%= @user.tag_id %>" data-target="songs">Load More</button>
	<% end %>
	</div>
</section>
<% end %>
<section class="page full-width recent-uploads resize-holder">
	<h1 class="title resize-target">Recent Uploads<span> (<span class="count"><%= number_with_delimiter @videos.count %></span>)</span></h1>
	<% if @modifications_allowed %><a class="button" href="/upload"><i class="fa fa-plus"></i> New</a><% end %>
	<ul id="uploads" class="horizontal video-list">
		<%= render partial: '/layouts/video_thumb_h', collection: @videos.records %>
	</ul>
	<div class="load-more">
	<% if @videos.pages > 0 %>
		<button data-page="0" data-url="videos/page" data-id="<%= @user.id %>" data-target="uploads">Load More</button>
	<% end %>
	</div>
</section>
<section class="page full-width recent-uploads resize-holder">
	<h1 class="title resize-target">Recent Albums<span> (<span class="count"><%= number_with_delimiter @albums.count %></span>)</span></h1>
	<% if @modifications_allowed %>
    <button data-external-form="/albums/new" data-title="New Album"><i class="fa fa-plus"></i> New</button>
  <% end %>
	<ul id="albums" class="album-list horizontal">
		<%= render partial: '/layouts/album_thumb_h', collection: @albums.records %>
	</ul>
	<div class="load-more">
	<% if @albums.pages > 0 %>
		<button data-page="0" data-url="albums/page" data-id="<%= @user.id %>" data-target="albums">Load More</button>
	<% end %>
	</div>
</section>
<section class="page full-width recent-comments resize-holder">
	<h1 class="title resize-target">Recent Comments</h1>
	<ul class="comments">
	<%= render partial: 'thread/comment_set', locals: { thread: @comments, indirect: true } %>
	</ul>
</section>
