- title 'Tag Aliases'
%section.page.full-width
	%h1
		Tag Aliases
		= surround '(', ')' do
			= number_with_delimiter @aliases.count
	%p
		Tag aliases are used to correct common mistakes and typos.
	= render layout: 'pagination/paginated', locals: { type: "tags/aliases", paginated: @aliases, id: "page" } do
		%section.listing.compact
			.items
				= render 'column_headers'
				= render partial: 'tags/aliases/row', collection: @aliases.records
