- thumbnail = video.id.nil? ? nil : format_bg(video.cover)
.tab-set.ui{class: classes}
	%h3 Cover Art
	%ul.tab-set.tabs.stick-top
		%li.button(data-target="thumbpick_#{tab_id}"){ class: !video.audio_only && "selected"} Pick Time
		%li.button(data-target="thumbupload_#{tab_id}"){ class: video.audio_only && "selected"} Upload Image
	#upload
		= form_for(video,
				url: @upload_gateway + (video.id.nil? ? videos_path : video_thumbnail_path(video)),
				html: {class: "thumbnail-form thumbnail-time-form",
					method: :patch}) do |f|
			.tab(data-tab="thumbpick_#{tab_id}"){class: !video.audio_only && "selected"}
				.post.description.sticky-action-bar.stick-top
					.properties
						%table
							%tr
								%td
									= f.button class: "action right green", name: :save, disabled: true do
										Apply Thumbnail Change
				.video#video{style: thumbnail,
						data: video.thumb_picker_header}
					= render 'videos/widget/slim'
				.progressor
					.message Uploading...
					.progress
						.fill
		= form_for(video,
				url: @upload_gateway + (video.id.nil? ? videos_path : video_thumbnail_path(video)),
				html: {class: "thumbnail-form thumbnail-upload-form",
					method: :patch}) do |f|
			.tab.cover-block.drag-target.file-select.image-selector#cover-upload(data-tab="thumbupload_#{tab_id}"){ class: video.audio_only && "selected"}
				%span.preview{style: thumbnail}
				%span.drop-icon
					%div
						= fa :picture_o
						.msg Drag and drop an image file to upload
				= f.file_field :cover, accept: "image/*"
			.progressor
				.message Uploading...
				.progress
					.fill
