%li.generic.thumb{class: admin.processed == false && "working"}
	%a.thumb{href: admin_video_path(admin), title: admin.moderation_note}
		.tile
			%img(loading="lazy"){src: admin.tiny_thumb(current_user, current_filter)}
			%span.tag-set.duration= duration admin.duration
		.details
			.title
				- if admin.hidden
					%span.icon(title="Private - Removed by moderator action")= fa :lock
				- if admin.privated?
					%span.icon.blue(title="Private - Limited to uploader")= fa :lock
				- if admin.unlisted?
					%span.icon(title="Unlisted - Limited to direct links")= fa :unlock
				- if admin.listed?
					%span.icon(title="Listed - Publicly available to app parts of the site")= fa :globe
				= admin.title
			- uploader = admin.user
			.detail
				%span.uploader.grow= uploader.username
				= render partial: 'tags/list/with_overflow', locals: {tags: admin.artist_tags, cutoff: 2}
			.detail
				%span.timestamp.grow{title: admin.created_at.in_time_zone}= since admin.created_at
				%span
					- if admin.liked?
						= fa "thumbs-#{admin.disliked? ? 'down red' : 'up green'}"
					= fuzzy_big_number_with_delimiter admin.play_count
					views
