%a.thumb{class: comment.hidden && "thumb-hidden", href: "#{comment.link}#comment_#{comment_id}"}
	.tile
		%img(loading="lazy"){src: comment.tiny_thumb(current_user, current_filter)}
		%span.tag-set.duration
			- if comment.liked?
				= fa "thumbs-#{comment.disliked? ? 'down red' : 'up green'}"
			= duration comment.duration
		.rating-bar(data-video-id="#{recommendation.id}")
	- spoilered = current_filter.video_spoilered?(comment)
	.title{title: !spoilered && comment.title}
		= spoilered ? "[Spoilered]" : comment.title
