- spoilered = current_filter.video_spoilered?(comment)
%a.generic.thumb{class: comment.hidden && "thumb-hidden", href: "#{comment.link}#comment_#{comment_id}"}
	.tile
		= render partial: 'videos/thumb/img', locals: { video: comment, spoilered: spoilered }
		%span.overlay-element.bottom.right
			- if comment.liked?
				= fa "thumbs-#{comment.disliked? ? 'down red' : 'up green'}"
			= duration comment.duration
		= render partial: 'videos/thumb/_watch_time_bar', locals: { id: comment.id }
	.title{title: !spoilered && comment.title}
		= spoilered ? "[Spoilered]" : comment.title
