- if (mix_string = mix.mix_string(current_user)).length > 0
	- spoilered = current_filter.video_spoilered?(mix)
	%a.generic.mix.thumb(href="#{mix.link}?q=#{mix_string}&index=0" data-href="#{mix.link}?q=#{mix_string}&index=0")
		.tile
			= render partial: 'videos/thumb/img', locals: { video: mix, spoilered: spoilered }
			.overlay-element.bottom.right= fa :feed
		.details
			.title
				MIX -
				= mix.title
			.detail Project Vinyl
