- spoilered = current_filter.video_spoilered?(normal)
- rating = normal.rating_tags.first
%a.generic.thumb.picture{href: normal.link}>
	.thumb{class: [normal.hidden && "thumb-hidden",
									rating && "video-rating rating-#{rating.suffex}"]}
		.tile
			= render partial: 'videos/thumb/img', locals: { video: normal, spoilered: spoilered }
			.overlay-element.bottom.right= duration normal.duration
			= render partial: 'videos/thumb/save_button', locals: { video: normal }
			= render partial: 'videos/thumb/_watch_time_bar', locals: { id: normal.id }
		.details
			.title{title: !spoilered && normal.title}
				- if normal.privated?
					%span.icon(title="Private - Only you can see this item")= fa :lock
				- if normal.unlisted?
					%span.icon(title="Unlisted - Only you and people with a direct link can see this item")= fa :unlock
				= spoilered ? '[Spoilered]' : normal.title
			- uploader = normal.user
			.detail
				%span.uploader.grow= uploader.username
				= render partial: 'tags/list/with_overflow', locals: {tags: normal.artist_tags, cutoff: 2}
			.detail
				%span.timestamp.grow{title: localise(normal.created_at)}= since normal.created_at
				%span
					- if normal.liked?
						= fa "thumbs-#{normal.disliked? ? 'down red' : 'up green'}"
					= fuzzy_big_number_with_delimiter normal.play_count
					views
