- rating = recommendation.rating_tags.first
%li.generic>
	%a.thumb{class: [recommendation.hidden && "thumb-hidden",
									rating && "video-rating rating-#{rating.suffex}"], href: recommendation.link}
		.tile
			%img(loading="lazy"){src: recommendation.tiny_thumb(current_user, current_filter)}
			%span.duration
				- if recommendation.liked?
					= fa "thumbs-#{recommendation.disliked? ? 'down red' : 'up green'}"
				= duration recommendation.duration
			= render partial: 'videos/thumb/save_button', locals: { video: recommendation }
			= render partial: 'videos/thumb/_watch_time_bar', locals: { id: recommendation.id }
		.details
			- spoilered = current_filter.video_spoilered?(recommendation)
			%span.title{title: !spoilered && recommendation.title}
				- if recommendation.hidden
					%span.icon(title="Private - Only you can see this item")= fa :lock
				= spoilered ? "[Spoilered]" : recommendation.title
			- uploader = recommendation.user
			.detail
				%span.uploader= uploader.username
				= render partial: 'tags/list/with_overflow', locals: {tags: recommendation.artist_tags, cutoff: 2}
			.detail
				= fuzzy_big_number_with_delimiter recommendation.play_count
				views
				\-
				= since recommendation.created_at
