.actions.mobile-tabbed
	- play_all = @album.play_all_path
	%a.button.blue.action{href: play_all, disabled: play_all.nil?}
		= fa :play
		Play All
	.spacer
	- if @modifications_allowed && !@album.hidden
		%a.button.red#delete_album(href="#{album_path(@album)}" data-confirm data-title="Delete Album" data-method="delete")
			= fa :trash
			%span Delete Album
		- if user_signed_in?
			.divider
	- if user_signed_in?
		.split-button.popper>
			%button.action.options.pop-out-toggle
				= fa :gear
				Options
			%ul.pop-out
				- if current_user.is_contributor?
					%li.action
						%a{href: admin_album_path(@album)}
							%span.icon= fa :gavel
							%span.label Admin
				- if @modifications_allowed
					%li.action
						%a(data-title="Album Settings" data-external-form="#{edit_album_path @album}")
							%span.icon= fa :cog
							%span.label Settings