.post
	.tile.stack.left= render 'albums/tile_stack', items: @items.records
	- if @modifications_allowed
		%h1.title.editable.short{data: {target: "albums", member: "title", id: @album.id}}
			= render 'albums/visibility', album: @album
			%span.content= @album.title
			%span.edit= fa :pencil
		.content.description.editable{data: {target: album_path(@album), member: "description"}}
			%span.content= emotify @album.description
			%textarea.input.js-auto-resize(name="album_description_#{@album.id}" autocomplete="false")= @album.description
			%span.edit= fa :pencil
	- else
		%h1.title
			= render 'visibility', album: @album
			= @album.title
		.content.description= emotify @album.description
	%span.tag-set.underline
		By
		%a{href: @user.link}= @user.username
		|
		= number_with_delimiter @items.count
		videos | last updated 
		= since @album.updated_at
	= render 'albums/actions'