- @hidden = !item.video.hidden && !current_filter.video_spoilered?(item.video)
%a.row.removeable{href: @hidden && item.link, class: !@hidden && "hidden-item", data: {target: "albums/items", "video-id": item.video_id, id: item.id, index: item.index}}
	- if @modifications_allowed
		.handle= fa :ellipsis_v
	.title{title: item.get_tooltip}
		%div= item.get_title
	.duration
		%div= duration item.video.duration
	.author
		%span= item.video.user.username
	- if @modifications_allowed
		.remove(title="Remove")
			%span= fa :times
