%section.page.full-width.listing.compact
	- if @album.ordering && @album.ordering > 0
		%span.album-notice<
			= fa "sort-amount-#{@album.ordering_direction}"
			This playlist is automatically sorted by
			= @album.ordering_text
			\.
	.items#items{class: @modifications_allowed && "reorderable", "data-target": "albumitems"}
		%span.bump(data-index="-1")
		= render partial: 'item', collection: @items.records
	.load-more
	- if @items.pages > 0
		%button(data-page="0" data-url="albums/#{@album.id}/items" data-target="items" Load More
