.post.genre-bio
	%span.genre-icon.fa-stack.fa-4x
		%i.fa.fa-circle.fa-stack-2x
		%i.fa.fa-tag.fa-inverse.fa-stack-1x
	.tag-header
		%h2.title
			%a.name{href: @tag.link}= @tag.name
		.tag-set.subheading
			%span
				Used by
				= @total_videos
				= "video".pluralize(@total_videos)
				and
				= @total_users
				= "user".pluralize(@total_users)
			- if @user
				%span.right
					Associated User:
					%span.user-link{"data-id": @user.id}
						%a{href: @user.link}= @user.username
		%span.content.bio= @tag.description || 'No description Provided'
	- if @implies.length > 0
		%div
			%h2 Implies
			%hr
			%ul.tags= render partial: "tags/thumb/normal", collection: @implies
	- if @implied.length > 0
		%div
			%h2 Implied by
			%hr
			%ul.tags= render partial: "tags/thumb/normal", collection: @implied
	- if @aliases.length > 0
		%div
			%h2 Aliases
			%hr
			%ul.tags= render partial: "tags/thumb/normal", collection: @aliases
