.tag-editor.popper.auto-lookup(data-action="/find/tags")
	%span.value
		= yield
	%ul.tags>
		- if tags
			- tags.includes(:tag_type).each do |tag|
				%li.tag{class: "tag-#{tag.namespace}", "data-namespace": tag.namespace, "data-slug": tag.slug}>
					%i.fa.fa-times-circle.remove{title: "Remove Tag", "data-name": tag.get_as_string}
					%a{href: tag.link}= tag.get_as_string
					%span<
						- if user_signed_in?
							= render partial: "tags/flags", locals: {tag: tag}
	%input.tag.input.js-auto-resize{type: "text", placeholder: "Tag list..."}<
		%ul.search-results.pop-out
	.js-data-store(style="display:none")= raw Tag.jsons(tags || []).to_json
