.row
	.cell
		= precede '#' do
			= tag_alias.name
	.cell= fa :chevron_right
	.cell
		%span
			%a{href: tag_alias.alias.link}
				= precede '#' do
					= tag_alias.alias.name
				= surround '(', ')' do
					= tag_alias.alias.videos.length
					videos
				= surround '(', ')' do
					= tag_alias.alias.users.length
					users
				= surround '(', ')' do
					= render 'tags/flags', tag: tag_alias.alias
