= form_for(@board, as: "board", url: "/boards", html: {method: :post}) do |f|
	.properties
		%table
			%tr
				%td.label= f.label :title
				%td.field= f.text_field :title, autofocus: true
			%tr
				%td.field(colspan="2")
					= render layout: 'comment/description_box' do
						= f.text_area :description, class: "comment-content"
	.foot
		= f.submit "Create Category", class: "green confirm right"
