<li class="thread">
	<div class="thumb">
		<div class="avatar medium">
			<span style="background-image:url('<%= thumb.last_poster.avatar %>');"></span>
		</div>
	</div>
	<div class="info">
		<div class="title">
			<a href="<%= thumb.link %>"><%= thumb.title %></a>
		</div>
		<div class="description">
			<%= thumb.description %>
		</div>
	</div>
	<div class="replies">
		<span><%= number_with_delimiter thumb.total_threads %> topics</span>
	</div>
	<div class="replies">
		<span><%= number_with_delimiter thumb.total_comments %> posts</span>
	</div>
	<div class="activity">
		<span>
			<% if thumb.last_comment %>
			active <%= since thumb.last_comment.updated_at %>
			<% end %>
		</span>
	</div>
</li>