<% title @board.title.to_s + " Forums" %>
<% if @modifications_allowed %>
<h1 class="title">
	<a href="/">Home</a> <i class="fa fa-chevron-right"></i> <a href="/forum">Forum</a> <i class="fa fa-chevron-right"></i> 
	<span class="editable short inline title" data-target="board" data-member="title" data-id="<%= @board.id %>">
		<span class="content"><%= @board.title %></span>
		<span class="edit"><i class="fa fa-pencil"></i></span>
	</span>
</h1>
<% else %>
<h1 class="title">
	<a href="/">Home</a> <i class="fa fa-chevron-right"></i> <a href="/forum">Forum</a> <i class="fa fa-chevron-right"></i> <%= @board.title %>
</h1>
<% end %>
<div class="actions space-fix">
<% if user_signed_in? %>
	<% if current_user.is_contributor? %>
  <a class="button mobile-friendly red" data-confirm="Any threads inside this board will be lost." data-title="Delete Board" data-method="delete" href="/boards/<%= @board.id %>">
    <i class="fa fa-trash"></i><span> Delete Board</span>
  </a>
	<% end %>
	<button class="action mobile-friendly green" data-external-form="/threads/new?board=<%= @board.id %>" data-title="New Thread" type="button">
		<i class="fa fa-plus"></i>
		<span> New Thread</span>
	</button>
<% end %>
	<a class="button blue mobile-friendly right" href="/forum/search?category=<%= @board.id %>">
		<i class="fa fa-search"></i>
		<span> Find Post</span>
	</a>
</div>
<hr>
<section class="page full-width">
	<h1>Topics (<%= number_with_delimiter @threads.count %>)</h1>
	<%= render layout: 'pagination/paginated', locals: {type: "forum/#{@board.id}/threads", paginated: @threads, id: "page"} do %>
		<section class="search-result">
			<div class="listing thread-list">
				<ul class="items">
					<%= render partial: 'thread/thumb', collection: @threads.records %>
				</ul>
			</div>
		</section>
	<% end %>
</section>
