%section.page.full-width.recent-uploads.removeable(data-id="#{part.id}" data-target="/users/#{@user.id}/profile_modules" data-index="#{part.index}")
	%h1.title
		= render 'users/profile/module_actions'
		Albums
		= surround '(', ')' do
			= number_with_delimiter @albums.count
		%a.right{href: user_albums_path(@user)}
			View All
			= fa :chevron_right
	%ul.floater-hidden.album-list.horizontal#albums
		- if @albums.count > 0
			= render partial: 'albums/thumb/normal', collection: @albums.records
		- else
			%li.generic.virtual.keep
