- if @art
	%section.page.full-width.recent-uploads.removeable(data-id="#{part.id}" data-index="#{part.index}")
		%h1.title
			- if @modifications_allowed
				.handle(title="Arrange")= fw :th
			Songs by
			= @user.username
			= surround '(', ')' do
				= number_with_delimiter @art.count
			%a.right{href: @user.tag.link}
				View All
				= fa :chevron_right
		%ul.floater-hidden.horizontal.video-list#songs
			- if @art.count > 0
				= render partial: 'videos/thumb/normal', collection: @art.records
			- else
				%li.generic.virtual.keep
