- if @modifications_allowed
	%section.page.full-width.recent-favourites.removeable(data-id="#{part.id}" data-target="/users/#{@user.id}/profile_modules" data-index="#{part.index}")
		%h1.title
			= render 'users/profile/module_actions'
			Favourites
			= surround '(', ')' do
				= number_with_delimiter @favourites.count
			%span.icon(title="Private - only you and moderators can see this.")= fa :lock
			%a.right(href="/stars")
				View All
				= fa :chevron_right
		%ul.floater-hidden.horizontal.video-list#uploads
			- if @favourites.count > 0
				= render partial: 'videos/thumb/normal', collection: @favourites.records
			- else
				%li.generic.virtual.keep
