<div class="modal">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<%= f.text_field :login, autofocus: true, placeholder: "Username Or Email" %>
		<br><br>
		<%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
		<% if devise_mapping.rememberable? -%>
			<br><br>
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me %>
		<% end -%>
		<div class="actions">
			<%= f.submit "Sign in" %>
		</div>
	<% end %>
	<div class="tiny-foot">
		<%= render "devise/shared/links" %>
	</div>
</div>