.slideout.downloads
	.listing.compact.group.active
		.items
			- @video.assets(:downloadable_media).uniq(&:ext).each do |media|
				%a.row(download target="_blank" href="#{video_download_path @video}.#{media.ext}"){disabled: !media.path.exist?}
					%span.cell.icon
						= fa media.ext == 'mp3' ? :music : :video_camera
					%span.cell
						= media.ext.upcase
						= media.ext == 'mp3' ? 'Audio' : 'Video'
					%span.cell
						= "%.2f MB" % media.size
