- cache(@video, expires_in: 1.week) do
	.slideout.info.properties
		.group.active.listing.compact
			.items
				.row.heads
					.cell Field
					.cell Attribute
				.row
					.cell.label File Size
					.cell.field= "%.2f MB" % @video.file_size
				.row
					.cell.label File Type
					.cell.field= @video.file
				.row
					.cell.label Mime Type
					.cell.field= @video.mime
				.row
					.cell.label Duration
					.cell.field= duration @video.duration
				.row
					.cell.label Dimensions
					.cell.field= @video.dimensions
