%div
	.button.button-bub.right.slider-toggle(type="button" data-target=".slideout.info" title="Toggle File Info")
		= fa :info
	.button.button-bub.right.share.slider-toggle(title="Share Video" data-target=".slideout.share")
		= fa :share
	.button.button-bub.right.slider-toggle(type="button" data-target=".slideout.description-slideout" title="Toggle Description")
		= fa :book
	.button.button-bub.right.slider-toggle(type="button" data-target=".slideout.post-details" title="Toggle Source/Tags")
		= fa :tag
	.button.button-bub.right.slider-toggle(type="button" data-target=".slideout.downloads" title="Toggle Source/Tags")
		= fa :download
