.split-button.button.like-dislike
	- if user_signed_in?
		%button.action.split-icon.like(title="I like this"){class: @video.upvoted? && "liked",
												data: {count: @video.upvotes,
															display: safe_to_display(@video.upvotes, 9999),
															action: video_action_path(@video, id: :like),
															id: @video.id}}
			= fa :thumbs_up
		.rating-bar(style="--bar-percentage:#{@video.rating_percentage}"
							title="#{@video.rating_percentage * 100}%"
							data-total-votes="#{@video.total_votes}")
		%button.action.split-icon.dislike(title="I dislike this"){class: @video.downvoted? && "liked",
													data: {count: @video.downvotes,
																display: safe_to_display(@video.downvotes, 9999),
																action: video_action_path(@video, id: :dislike),
																id: @video.id}}
			= fa :thumbs_down
	- else
		%a.button.action.split-icon.like(title="Sign in to like this video" target="_blank"
			href="#{new_user_session_path}"
			data-external-form="/users/sign_in.json"
			data-icon="sign-in"
			data-thin="true"
			data-title="Login"
			data-count="#{@video.upvotes}"
			data-display="#{safe_to_display(@video.upvotes, 9999)}")
			= fa :thumbs_up
		.rating-bar(style="--bar-percentage:#{@video.rating_percentage}"
							title="#{@video.rating_percentage * 100}%"
							data-total-votes="#{@video.total_votes}")
		%a.button.action.split-icon.dislike(title="Sign in to dislike this video" target="_blank"
			href="#{new_user_session_path}"
			data-external-form="/users/sign_in.json"
			data-icon="sign-in"
			data-thin="true"
			data-title="Login"
			data-count="#{@video.downvotes}"
			data-display="#{safe_to_display(@video.downvotes, 9999)}")
			= fa :thumbs_down
