= form_for(@thread, as: :thread, url: threads_path, html: {method: :post}) do |f|
	= f.text_field :owner_id, hidden: true
	.properties
		%table
			%tr
				%td.label= f.label :title
				%td.field= f.text_field :title, autofocus: true
			%tr
				%td.field(colspan="2")
					= render layout: 'comments/description_box' do
						= f.text_area :description, class: "comment-content"
	.foot
		= f.submit "Create Thread", class: "green confirm right"
