<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title id="document_title">Project Vinyl - Premium Pony Tunes</title>
	<link rel="icon" sizes="160x160" href="/images/favicon.png">
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "embed" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body class="embed">
	<% if !@video || @video.hidden %>
	<div id="video" style="background-image: url('/images/default-cover.png');background-size:cover;" class="video unplayable">
		<div class="player">
			<span class="pause resize-holder">
				<h1 class="resize-target">
					<a><span class="title"><%= @video ? "Hidden Video" : "Video Not Found" %></span></a>
				</h1>
			</span>
		</div>
	</div>
	<% else %>
	<div id="video" style="background-image: url('<%= @video.thumb %>');"
			data-title="<%= @video.title %>"
			data-artist="<%= @user.username %>"
			data-<% if @video.audio_only %>audio<% else %>video<% end %>="<%= @video.id %>"
			data-mime="<%= @video.file %>|<%= @video.mime %>"
			data-embed="true"
			<% if @album %>
				data-playlist-id="<%= @album.id %>"
				data-playlist-index="<%= @index %>"
			<% end %>
			class="video">
		<% if @album %>
		<div class="listing compact playlist">
			<div class="controls">
				<a id="playlist_prev" class="slide-left" title="Previous" <% if @prev_video %>href="<%= @prev_video.link %>"<% end %>>
					<i class="fa fa-fw fa-step-backward"></i>
				</a>
				<a class="title buff-right" href="<%= @album.link %>"><%= @album.title %></a>
				<a id="playlist_next" class="slide-right" title="Next" <% if @next_video %>href="<%= @next_video.link %>"<% end %>>
					<i class="fa fa-fw fa-step-forward"></i>
				</a>
			</div>
			<div class="scroll-container">
				<div class="items">
					<%= render partial: '/album/album_item', collection: @items %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</body>
</html>