<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title id="document_title">Project Vinyl - Premium Pony Tunes</title>
	<link rel="icon" sizes="160x160" href="/images/favicon.png">
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "embed" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body class="embed">
	<% if !@video || @video.hidden %>
	<div id="video" class="video unplayable" style="background-image: url('/images/default-cover.png');background-size:cover;">
		<div class="player">
			<span class="pause resize-holder">
				<h1 class="resize-target">
					<a><span class="title"><%= @video ? "Hidden Video" : "Video Not Found" %></span></a>
				</h1>
			</span>
		</div>
	</div>
	<% else %>
		<%= render layout: "video/video_content", locals: {embed: true, header: true} do %>
			<% if @album %>
			<div class="listing compact playlist">
				<div class="controls">
					<a id="playlist_prev" class="slide-left" title="Previous" <% if @prev_video %>href="<%= @prev_video.link %>"<% end %>>
						<i class="fa fa-fw fa-step-backward"></i>
					</a>
					<a class="title buff-right" href="<%= @album.link %>"><%= @album.title %></a>
					<a id="playlist_next" class="slide-right" title="Next" <% if @next_video %>href="<%= @next_video.link %>"<% end %>>
						<i class="fa fa-fw fa-step-forward"></i>
					</a>
				</div>
				<div class="scroll-container">
					<div class="items">
						<%= render partial: "album/album_item", collection: @items %>
					</div>
				</div>
			</div>
			<% end %>
			<ul class="horizontal embed-actions">
				<% if @album %>
				<li class="playlist-toggle">
					<i class="fa fa-list"></i>
				</li>
				<% end %>
				<% if user_signed_in? %>
				<li class="action toggle"
					data-action="star"
					data-target="videos"
					data-id="<%= @video.id %>"
					data-checked-icon="star"
					data-unchecked-icon="star-o"
					title="Star Video"
				>
					<span class="icon">
						<i class="fa fa-star<% if !@video.is_starred_by(current_user) %>-o<% end %>"></i>
					</span>
				</li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
</body>
</html>