%a.row{href: admin_report_path(report)}
	.cell.secondary.active-icon{class: report.open? && "active"}
	.cell
		= precede '#' do
			= report.id
	.cell= report.status
	.cell= since report.updated_at
	.cell= report.reportable_type
