= title "Report ##{@report.id}"
= lim "1100px"
%section.page.full-width.resize-holder.report(data-state="#{@report.status.downcase}")
	%h1.title.resize-target
		Report
		= precede '#' do
			= @report.id
		\-
		= @report.comment_thread.title
	.comment
		= render 'status'
		= render 'options'
		.artist-bio.bio
			%a{class: !@report.user.is_dummy && "user-link", href: @report.user.link, data: {id: @report.user_id}}
				= render 'users/avatar/medium', user: @report.user
		.content
			.name
				%a{class: !@report.user.is_dummy && "user-link", href: @report.user.link, data: {id: @report.user.id}}
					= @report.user.username
			.date.right= since @report.created_at
			%table(style="table-layout:auto" class="properties comment-content preview")
				- if @reportable
					- if @reportable.class == Video
						= render 'videos/thumb_h', thumb_h: @reportable
					- elsif @reportable.class == Comment
						= render 'comments/comment', comment: @reportable, level: 1, indirect: true
				%tr
					%td Report Type:
					%td= @report.first
				- if @report.source
					%tr
						%td
							= @report.source_label
							\:
						%td= @report.source
				%tr
					%td Reasons:
					%td
						- if @report.content_type_unrelated
							Unrelated
						- if @report.content_type_offensive
							Offensive
						- if @report.content_type_disturbing
							Disturbing
						- if @report.content_type_explicit
							Explicit
				- if @report.copyright_holder
					%tr
						%td Copyright Holder:
						%td= @report.copyright_holder
				%tr
					%td Message:
					%td
						- if @report.subject
							%b= @report.subject
							%br/
						= raw @report.other
				- if @report.name
					%tr
						%td Contact Details:
						%td
							Name:
							= @report.name
							Email:
							= (@report.contact || "").gsub(/a-zA-z/,"*")
		= render 'options'
%section.page.full-width.resize-holder= render 'forum/threads/view_reverse'
