.actions
	- if @thread.owner_type == 'Board'
		- if current_user.is_contributor?
			%a.button.mobile-friendly.red{href: admin_thread_path(@thread),
													data: {confirm: "This thread will be lost forever.",
																	title: "Delete Thread", method: "delete"}}
				= fa :trash
				%span Delete Thread
		.split-button.popper.action.multi-toggle(data-target="#{admin_thread_move_path(@thread)}")>
			%button.action.options.pop-out-toggle.blue
				%span Move Thread
			%ul.pop-out
				- Board.listables.each do |b|
					%li{data: {descriminator: b[0], item: b[0]}}
						%span.icon
							- if b[0] == @thread.owner_id
								= fa :check
						%span.label= b[1]
		%button.action.toggle.blue(data-target="#{admin_thread_pin_path(@thread)}")>
			%span.icon
				- if @thread.pinned
					= fa :check
			%span.label Pin Thread
	%button.action.toggle.blue(data-target="#{admin_thread_lock_path(@thread)}")>
		%span.icon
			- if @thread.locked
				= fa :check
		%span.label Lock Thread
	.spacer
	%a.button.blue.mobile-friendly{href: forums_search_index_path(board: @thread.owner_id, title_query: @thread.title)}
		= fa :search
		%span Find Posts
%hr/
