%h1.title
	Comments
	= surround '(', ')' do
		= fuzzy_big_number_with_delimiter @comments.count
	= render 'forums/threads/watch_options'
= render 'comments/new'
%hr/
= render 'forums/threads/comments'
