- lim '900px'
- title "#{@thread.title} - Forum"
= render layout: 'view/advanced_breadcrumb',
					locals: {stack: [{link: forums_path, title: 'Forums'},
													{link: @thread.owner.link, title: @thread.owner.title}]} do
	- if @thread.locked
		%i.fa.fa-lock(title="Thread Locked")
	- if @thread.pinned
		%i.fa.fa-thumb-tack(title="Thread Pinned")
	- if @modifications_allowed
		%span.editable.short.inline.title{data: {target: :threads, member: :title, id: @thread.id}}
			%span.content= @thread.title
			%span.edit= fa :pencil
	- else
		= @thread.title
	= render 'watch_options'
- if user_signed_in? && current_user.is_contributor?
	= render 'actions'
= render 'comments'
%hr/
= render 'comments/new'
