- title @video.title
.wrapper.column-right.right.fixed-column-right
	- cache(@video, expires_in: 1.week) do
		= render 'videos/statistics/media_info'
		= render 'videos/statistics/metadata'
		= render 'videos/statistics/referrals'
%section.page.full-width.column-left.left.fixed-column-right
	%h1
		= fa :line_chart
		Statistics
	- cache(@video, expires_in: 30.minutes) do
		= render 'videos/statistics/stat_bar', records: @video.votes.up, title: 'Upvotes'
		= render 'videos/statistics/stat_bar', records: @video.votes.down, title: 'Downvotes'
		= render 'videos/statistics/stat_bar', records: @video.tag_histories, title: 'Tag Changes'
		= render 'videos/statistics/stat_bar', records: @video.albums, title: 'Albums'
