= form_for(@video, url: video_story_card_path(@video), html: {class: 'async js-video-card-editor', method: :patch}) do |f|
	.card-editor
		.cards
			.toolbar.actions
				%span.spacer
				.split-button.popper>
					%button.action.options.pop-out-toggle(title="Add Card...")
						= fa :plus
						Add Card
					%ul.pop-out
						%a.action(data-card-type="video")
							%span.icon= fw :play
							%span.label Video
						%a.action(data-card-type="user")
							%span.icon= fw :user
							%span.label User
			%ul.card-list.reorderable.thin-scrollbar= render partial: "videos/story_cards/form", collection: @cards, locals: { f: f}
			%hr
		.preview-container
			.video.context-menu-parent#video(data-nocontext="true"){style: format_bg(@video.cover),
					data: @video.thumb_picker_header}
				= render 'videos/widget/content', embed: false, include_cards: true
	.foot
		.progressor
			.message Saving
			.progress
				.fill
		= f.submit "Save", class: "green confirm"
		%button.right.cancel{type: :button, "data-resolve": "false"} Cancel
