	<div class="post">
		<div class="tile stack left">
			<span style="background-image:url('<% if @items.records.second %>/cover/<%= @items.records.second.video.id %>-small<% else %>/images/default-cover-g<% end %>.png');" class="stack-item item-1">
				<span style="background-image:url('<% if @items.records.first %>/cover/<%= @items.records.first.video.id %>-small<% else %>/images/default-cover-g<% end %>.png');" class="stack-item item-2"></span>
			</span>
		</div>
		<% if @modificationsAllowed %>
			<h1 class="editable short title" data-target="album" data-member="title" data-id="<%= @album.id %>">
			<% if (@album.hidden || @album.listing == 2) && @album.user_id == current_user.id %>
				<span title="Private - Only you can see this album" class="icon"><i class="fa fa-lock"></i></span>
			<% elsif @album.listing == 1 %>
				<span title="Unlisted - This album will not appear on the site but can be still accessed directly" class="icon"><i class="fa fa-unlock"></i></span>
			<% end %>
				<span class="content"><%= @album.title %></span>
				<span class="edit"><i class="fa fa-pencil"></i></span>
			</h1>
			<div class="editable content description" data-target="album" data-member="description" data-id="<%= @album.id %>">
				<span class="content"><%= raw @album.html_description %></span>
				<span class="edit"><i class="fa fa-pencil" ></i></span>
			</div>
		<% else %>
			<h1 class="title">
			<% if @album.listing == 1 %>
				<span title="Unlisted - This album will not appear on the site but can be still accessed directly" class="icon"><i class="fa fa-unlock"></i></span>
			<% end %>
				<%= @album.title %>
			</h1>
			<div class="content description"><%= raw @album.html_description %></div>
		<% end %>
			<span class="tag-list underline">
				By <a href="<%= @user.link %>"><%= @user.username %></a>
				| <%= number_with_delimiter @items.count %> videos
				| last updated <%= since @album.updated_at %>
			</span>
			<div class="actions">
				<% if user_signed_in? %>
				<div class="split-button popper">
					<button class="action options pop-out-toggle"><i class="fa fa-gear"></i> Options</button>
					<ul class="pop-out">
					<% if current_user.is_contributor? %>
						<li class="action">
							<a href="/admin/album/<%= @album.id %>">
								<span class="icon"><i class="fa fa-gavel"></i></span>
								<span class="label">Admin</span>
							</a>
						</li>
					<% end %>
					<% if @modificationsAllowed && !@album.hidden %>
						<li class="action">
							<a id="delete_album" data-title="Delete Album" data-icon="warning" data-action="delete" data-url="delete/album/<%= @album.id %>" class="confirm-button">
								<span class="icon"><i class="fa fa-trash"></i></span>
								<span class="label">Remove Album</span>
							</a>
						</li>
					<% end %>
					<% if @modificationsAllowed %>
						<li class="action">
							<a class="confirm-button" data-title="Album Settings" data-icon="cog" data-url="album/update/<%= @album.id %>">
								<span class="icon"><i class="fa fa-cog"></i></span>
								<span class="label">Settings</span>
							</a>
						</li>
					<% end %>
					</ul>
				</div>
				<% end %>
				<a class="button action" style="margin-right: 10px;" <% if @items.records.first %>href="<%= @items.records.first.link %>"<% end %>><i class="fa fa-play"></i> Play All</a>
			</div>
	</div>