<% if !album_item.video.is_hidden_by(current_user) %>
<a <% if !album_item.video.hidden && !album_item.video.is_spoilered_by(current_user) %>href="<%= album_item.link %>"<% end %> class="row <% if album_item.video.hidden %>hidden-item<% end %><% if @index == album_item.index %> selected<% end %>" data-id="<%= album_item.id %>" data-index="<%= album_item.index %>">
	<div class="title" title="<%= album_item.video.get_title %>&#010; - <%= album_item.video.user.username %>">
		<div><%= album_item.video.get_title %></div>
		<div class="author">
			<span><%= album_item.video.user.username %></span>
		</div>
	</div>
<% if @album_editable %>
	<div class="remove" title="Remove" data-id="<%= album_item.id %>"><span><i class="fa fa-times"></i></span></div>
<% end %>
</a>
<% end %>