<% if !album_item.video.isHiddenBy(current_user) %>
<a <% if !album_item.video.hidden && !album_item.video.isSpoileredBy(current_user) %>href="/view/<%= album_item.video.id %>-<%= album_item.video.safe_title %>?<%= album_item.ref %>"<% end %> class="<% if album_item.video.hidden %>hidden-item<% end %><% if @index == album_item.index %> selected<% end %>" data-id="<%= album_item.id %>" data-index="<%= album_item.index %>">
	<div class="title">
		<div><%= album_item.video.getTitle %></div>
		<div class="author">
			<span><%= album_item.video.user.username %></span>
		</div>
	</div>
<% if @album_editable %>
	<div class="remove" title="Remove" data-id="<%= album_item.id %>"><span><i class="fa fa-times"></i></span></div>
<% end %>
</a>
<% end %>