<section class="listing compact playlist column-mobile-shown<% if @album.virtual? %> virtual<% end %>">
	<div class="controls">
	<% if @prev_video %>
		<a id="playlist_prev" class="slide-left" title="Previous" href="<%= @prev_video.link %>">
			<i class="fa fa-fw fa-step-backward"></i>
		</span>
	<% end %>
	<a class="title<% if @next_video %> buff-right<% end %>" <% if !@album.virtual? %>href="<%= @album.link %>"<% end %>><%= @album.title %></a>
	<% if @next_video %>
		<a id="playlist_next" class="slide-right" title="Next" href="<%= @next_video.link %>">
			<i class="fa fa-fw fa-step-forward"></i>
		</span>
	<% end %>
	</div>
	<div class="scroll-container" data-document-scroll-y="200">
		<div class="items<% if @album_editable %> reorderable<% end %>" data-target="albumitem">
			<%= render partial: 'album/album_item', collection: @items %>
		</div>
	</div>
</section>
