<section style="width:100%" class="page listing compact">
	<div class="items<% if @modificationsAllowed %> reorderable<% end %>" data-target="albumitem">
		<span class="bump" data-index="-1"></span>
	<% @items.each do |item| %>
		<a <% if !item.video.hidden %>href="/view/<%= item.video.id %>-<%= item.video.safe_title %>?list=<%= item.album_id %>&index=<%= item.index %>"<% else %>class="hidden-item"<% end %> data-id="<%= item.id %>" data-index="<%= item.index %>">
		<% if @modificationsAllowed %>
			<div class="handle"><i class="fa fa-ellipsis-v"></i></div>
		<% end %>
			<div class="title">
				<div><%= item.video.getTitle %></div>
			</div>
			<div class="duration">
				<div><%= duration item.video.getDuration %></div>
			</div>
			<div class="author">
				<span><%= item.video.user.username %></span>
			</div>
		<% if @modificationsAllowed %>
			<div class="remove" title="Remove" data-id="<%= item.id %>"><span><i class="fa fa-times"></i></span></div>
		<% end %>
		</a>
	<% end %>
	</div>
</section>