<% if !item.video.is_hidden_by(current_user) %>
	<a class="row removeable" <% if !item.video.hidden && !item.video.is_spoilered_by(current_user) %>href="<%= item.link %>"<% else %>class="hidden-item"<% end %> data-target="albumitems" data-id="<%= item.id %>" data-index="<%= item.index %>">
	<% if @modifications_allowed %>
		<div class="handle"><i class="fa fa-ellipsis-v"></i></div>
	<% end %>
		<div class="title" title="<%= item.video.get_title %>">
			<div><%= item.video.hidden ? "hidden" : item.video.get_title %></div>
		</div>
		<div class="duration">
			<div><%= duration item.video.get_duration %></div>
		</div>
		<div class="author">
			<span><%= item.video.user.username %></span>
		</div>
	<% if @modifications_allowed %>
		<div class="remove" title="Remove"><span><i class="fa fa-times"></i></span></div>
	<% end %>
	</a>
<% end %>