<% if @album %>
		<% title @album.title %>
		<section style="width:100%" class="page resize-holder">
			<div class="post">
				<a class="thumb stack left">
					<span <% if @items.second %>style="background-image:url('/cover/<%= @items.second.video.id %>');"<% end %> class="stack-item item-1">
						<span <% if @items.first %>style="background-image:url('/cover/<%= @items.first.video.id %>');"<% end %> class="stack-item item-2"></span>
					</span>
					</a>
				<% if @modificationsAllowed %>
					<h1 class="editable short title" data-target="album" data-member="title" data-id="<%= @album.id %>">
						<span class="content"><%= @album.title %></span>
						<span class="edit"><i class="fa fa-pencil"></i></span>
					</h1>
					<div class="editable content description" data-target="album" data-member="description" data-id="<%= @album.id %>">
						<span class="content"><%= raw emotify @album.description %></span>
						<span class="edit"><i class="fa fa-pencil" ></i></span>
					</div>
				<% else %>
					<h1 class="title"><%= @album.title %></h1>
					<div class="content description"><%= raw emotify @album.description %></div>
				<% end %>
					<span class="tag-list underline">
						By <a href="/artist/<%= @album.artist.id %>-<%= url_safe @album.artist.name %>"><%= @album.artist.name %></a>
					</span>
				<% if @modificationsAllowed %>
					<div class="actions">
						<button id="delete_album" class="action right"><i class=\"fa fa-trash\"></i> Remove Album</button>
						<script>
$('#delete_album').on('click', function() {
  if (!$('#cancel_msg').length) new Popup('Delete Album', 'warning', function() {
    this.content.attr('id', 'cancel_msg');
    this.content.append($('#cancel_form').html());
    var me = this;
    this.content.find('button.cancel').on('click', function() {
      me.close();
    });
    this.content.find('button.ok').on('click', function() {
      ajax.post('delete/album/<%= @album.id %>', function() {
        me.close();
        document.location.href = '/artist/<%= current_artist.id %>-<%= url_safe current_artist.name %>';
      }, 1);
    });
    this.setFixed();
    this.show();
  });
});
						</script>
					</div>
					<div id="cancel_form" style="display:none;">
							<div class="message_content">Are you sure?</div>
							<div class="foot">
								<button class="right cancel" type="button">No thanks</button>
								<button class="left ok" type="button">Let's do this</button>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</section>
		<section style="width:100%"  class="page listing compact">
			<div class="items<% if @modificationsAllowed %> reorderable<% end %>" data-target="albumitem">
				<span class="bump" data-index="0"></span>
			<% @items.each do |item| %>
				<a href="/view/<%= item.video.id %>-<%= url_safe item.video.title %>" data-id="<%= item.id %>" data-index="<%= item.index %>">
				<% if @modificationsAllowed %>
					<div class="handle"><i class="fa fa-ellipsis-v"></i></div>
				<% end %>
					<div class="title"><%= item.video.title %></div>
					<div class="duration">
						<%= duration item.video.getDuration %>
					</div>
					<div class="author">
						<span><%= item.video.artist.name %></span>
					</div>
				<% if @modificationsAllowed %>
					<div class="remove" title="Remove" data-id="<%= item.id %>"><span><i class="fa fa-times"></i></span></div>
				<% end %>
				</a>
			<% end %>
			</div>
		</section>
<% else %>
<%= render layout: '/layouts/error', locals: { title: 'Nothing to see here!' } do %>
This album appears to have been  moved or deleted.
<% end %>
<% end %>