%li.tag.class{class: user_signed_in? && "drop-down-holder popper", "data-namespace": normal.namespace.present? && normal.namespace, "data-slug": normal.name}>
	%a{href: normal.link}
		%span= normal.name
	- if user_signed_in?
		= render 'tags/flags', tag: normal
	%span.counter= number_with_delimiter normal.members
	- if user_signed_in?
		%ul.drop-down.pop-out
			- if can_modify_filter?
				%li.action.toggle(data-family="tag-flags" data-descriminator="hide" data-target="tags" data-id="#{normal.id}" data-action="actions/hide")
					%span.icon
						- if current_user.hides?(normal.id)
							= fa :check
					%span.label Hide
				%li.action.toggle(data-family="tag-flags" data-descriminator="spoiler" data-target="tags" data-id="#{normal.id}" data-action="actions/spoiler")
					%span.icon
						- if current_user.spoilers?(normal.id)
							= fa :check
					%span.label Spoiler
			- else
				%a.action{href: filters_path}
					%span.icon
					%span.label Filter
			%li.action.toggle(data-family="tag-flags" data-descriminator="watch" data-target="tags" data-id="#{normal.id}" data-action="actions/watch")
				%span.icon
					- if current_user.watches?(normal.id)
						= fa :check
				%span.label Watch
