%h1.title.resize-target
	= fa :user
	Recent Activity
.listing.compact
	.items
		.row.heads
			.cell Name
			.cell Created
			.cell Updated
			.cell Last Active
			.cell Votes
			.cell Sign ins
		- @users.records.each do |user|
			%a.row{href: admin_user_path(user)}
				.cell
					= user.username
					= surround '(', ')' do
						= user.id
				.cell{title: localise(user.created_at)}= since user.created_at
				.cell{title: localise(user.updated_at)}= since user.updated_at
				- if user.last_active_at.nil?
					.cell null
				- else
					.cell{title: localise(user.last_active_at)}= since user.last_active_at
				.cell= user.votes.count
				.cell= user.sign_in_count
