%h1.title.resize-target
	= fa :building
	%a{href: "/admin/resque"} Processor Status
- begin
	.listing.compact
		.items
			.row
				%div
					Jobs in queue: 
					= Resque.info[:pending]
					Total workers: 
					= Resque.info[:workers]
				%div
				%div
			- Resque.workers.each_with_index do |worker, i|
				- payload = worker.job.dig("payload", "args")
				- payload = "#{payload[0]["job_class"]}: #{payload[0]["arguments"]}" if payload
				%a.row{href: "/admin/resque"}
					%div
						%span.active-icon{class: worker.working? && "active"}
						= precede '#' do
							= i+1
						= precede ':' do
							= worker.pid
					%div= worker.queues.join(', ')
					%div= payload || "No Task"
- rescue
	%p Oops! Could not connect to Resque.
%hr/
%button.action.blue{type: "button", data: {method: "put", confirm: "", url: admin_verify_videos_path, title: "Verify Video Files"}}
	= fa :wrench
	Verify Videos
%button.action.blue{type: "button", data: {method: "put", confirm: "", url: admin_verify_users_path, title: "Verify User Files"}}
	= fa :wrench
	Verify Users
%button.action.blue{type: "button", data: {method: "put", confirm: "", url: admin_videos_requeue_path, title: "Rebuild Processing Queue"}}
	= fa :wrench
	Rebuild Processing Queue
