%li.bio
	%a{href: normal.link}
		= render 'users/avatar/avatar', user: normal
		%h2{class: normal.banned? && "banned"}= normal.username
	.tag-set
		- c = normal.videos.count
		= number_with_delimiter c
		= "video".pluralize(c)
		| 
		- c = normal.albums.count
		= number_with_delimiter c
		= "album".pluralize(c)
	%br/
	- if user_signed_in? && normal.tag.present?
		= render partial: 'users/follow_button', locals: {follow_button: normal}
	- else
		= render 'tags/taglist', collection: normal.tags.limit(3)
	%hr/
	.bio= emotify normal.bio
	%hr/
	%span.tag-set= render 'forums/badges/badges', user: normal
