- title "New Filter"
- lim "900px"
%section.page.full-width.properties 
	%h1 New Filter
	= form_for(@new_filter, as: :filter, url: filters_path, html: {method: :post}) do |f|
		%table
			%tr.section
				%td(colspan="2") Miscellanious
			%tr
				%td.label= f.label :name
				%td.field= f.text_field :name, autofocus: true, placeholder: 'Describe your filter in three words or less'
			%tr	
				%td.label Description
				%td.field
					= render layout: 'comments/description_box' do
						%textarea.comment-content{placeholder: 'Does your filter do anything special?'}
			%tr.section
				%td(colspan="2") Spoilered Content
			%tr
				%td.label Spoilered Tags
				%td.field
					= render 'tags/editor', tags: current_user.spoilered_tags_actual do
						= f.text_area :name, autocomplete: "off"
			%tr
				%td.label Complex Spoiler Query
				%td.field= f.text_area :spoiler_filter, placeholder: 'tag1, tag2, title:example, upvoted_by:user, ...'
			%tr.section
				%td(colspan="2") Hidden Content
			%tr
				%td.label Hidden Tags
				%td.field
					= render 'tags/editor', tags: current_user.hidden_tags_actual do
						= f.text_area :name, autocomplete: "off"
			%tr
				%td.label Complex Hide Query
				%td.field= f.text_area :hide_filter, placeholder: 'tag1, tag2, title:example, upvoted_by:user, ...'
			- if current_user.is_staff?
				%tr.section
					%td(colspan="2") Advanced / Admin
				%tr
					%td.label
					%td.field
						.notice As you are staff, you hereby have god powers. Congrats.
						%label.button.blue
							= f.check_box :preferred
							= fa :check
							Default Filter
						%label.button.blue
							= check_box :global, :set
							= fa :check
							Global Filter
			%tr.section
				%td(colspan="2") Finish
			%tr.actions
				%td.label
				%td.field= f.submit "Save Changes", class: "green"
