%section.page.full-width.properties
	%h1 Role & Banning
	%table
		%tr
			%td.label Roles
			%td.field.actions
				- if current_user.id == @user.id
					%p.red You cannot change your own role.
				- else
					= render 'role_check', enable: current_user.is_admin?, value: @user.admin?, role: :admin, title: 'Administrator'
					%br/
					= render 'role_check', enable: current_user.is_contributor?, value: @user.contributor?, role: :contributor, title: 'Moderator'
					%br/
					= render 'role_check', enable: current_user.is_staff?, value: @user.staff?, role: :staff, title: 'Staff'
					%br/
					= render 'role_check', enable: true, value: @user.normal?, role: :normal, title: 'Normal'
		%tr
			%td.label Banned
			%td.field
				- if current_user.id == @user.id
					%p.red You cannot ban yourself.
				- else
					= render partial: 'role_check', locals: { enable: true, value: @user.banned?, role: :banned, title: 'Ban User'}
