%h1.title.resize-target Recent Activity
.listing.compact
	.items
		.row.heads
			%div Name
			%div Created
			%div Last Active
			%div Votes
			%div Sign ins
		- @users.each do |user|
			%a.row{href: admin_user_path(user)}
				%div
					= user.username
					= surround '(', ')' do
						= user.id
				%div{title: user.created_at}= since user.created_at
				%div{title: user.updated_at}= since user.updated_at
				%div= user.votes.count
				%div= user.sign_in_count
