%section.page.tab-bar.column-right.column-mobile-shown.right
	%h2 Settings
	.actions
		%div
			%button.action.toggle(data-action="read_only" data-target="admin/settings/toggle")<
				%span.icon
					- if ApplicationHelper.read_only
						= fa :check
				%span.label Read Only
			%button.action.toggle(data-action="bg_ponies" data-target="admin/settings/toggle")<
				%span.icon
					- if ApplicationHelper.bg_ponies
						= fa :check
				%span.label BG Ponies
	%h2 Navigation
	.actions
		%a.button{href: videos_path(unlisted: 1)}
			= fw :eye_slash
			Unlisted Videos
		%a.button{href: videos_path(unprocessed: 1)}
			= fw :eye_slash
			Unprocessed Videos
		%a.button{href: videos_path(merged: 1)}
			= fw :compress
			Merged Videos
		%a.button{href: admin_tagtypes_path}
			= fw :tags
			Tag Types
		%a.button{href: admin_sitenotices_path}
			= fw :info
			Site Notices
		%a.button{href: admin_badges_path}
			= fw :money
			User Badges
		%a.button{href: admin_api_index_path}
			= fw :key
			Api Tokens
	%h2 Files
	.actions
		%a.button(href="/admin/files?p=encoding")
			= fw :file_code_o
			Encoding Folder
		%a.button(href="/admin/files?p=public")
			= fw :file_video_o
			Public Storage Folder
		%a.button(href="/admin/files?p=private")
			= fw :file_video_o
			Private Storage Folder
	- if current_user.is_admin?
		%h2 Indexing
		.actions
			%a.button.red{href: admin_path(table: :videos), data: {confirm: "", method: "put", title: "Reindex Videos"}}
				= fw :refresh
				Recreate Video Index
			%a.button.green{href: admin_path(table: :users), data: {confirm: "", method: "put", title: "Reindex Users"}}
				= fw :refresh
				Recreate User Index
