- title "Admin"
- lim "1300px"
= render 'nav'
.wrapper.column-left.left.tab-bar-beside
	%section.page.full-width.resize-holder= render 'admin/admin/sections/activity'
	%section.page.full-width.resize-holder= render 'admin/admin/sections/processor_status'
	%section.page.full-width.recent-uploads.resize-holder= render 'admin/admin/sections/unprocessed_videos'
%section.page.full-width.recent-uploads.resize-holder= render 'admin/admin/sections/open_reports'
%section.page.full-width.recent-uploads.resize-holder= render 'admin/admin/sections/hidden_videos'
