<% title "Admin" %>
<% lim "1300px" %>
<%= render partial: 'view/breadcrumb', locals: {
	stack: [
		{ link: '/admin', title: 'Admin' }
	],
	title: "Control Panel"
} %>
<section class="page tab-bar column-right column-mobile-shown right">
	<h1>Navigation</h1>
	<div class="actions">
		<a class="button" href="/users"><i class="fa fa-users"></i> Users</a
		><a class="button" href="/admin/files?p=encoding">
			<i class="fa fa-fw fa-file-code-o"></i> Encoding Folder</a
		><a class="button" href="/admin/files?p=public">
			<i class="fa fa-fw fa-file-video-o"></i> Public Storage Folder</a
		><a class="button" href="/admin/files?p=private">
			<i class="fa fa-fw fa-file-video-o"></i> Private Storage Folder</a>
	</div>
	<% if current_user.is_admin? %>
	<hr>
	<div class="actions">
		<a class="button red" data-confirm data-method="post" href="/admin/videos/reindex" data-title="Reindex Videos">
			<i class="fa fa-fw fa-refresh"></i> Recreate Video Index</a> 
		<a class="button green" data-confirm data-method="post" href="/admin/users/reindex" data-title="Reindex Users">
			<i class="fa fa-fw fa-refresh"></i> Recreate User Index</a>
		<a class="button blue" data-confirm data-method="post" href="/admin/videos/hidden/drop" data-title="Drop <%= @hiddenvideos.count %> Videos">
			<i class="fa fa-fw fa-trash-o"></i> Delete Unlisted Videos</a>
	</div>
	<% end %>
	<hr>
	<div class="actions">
		<a class="button" href="/videos?unlisted=1">
			<i class="fa fa-fw fa-eye-slash"></i> Unlisted Videos</a
		><a class="button" href="/videos?merged=1">
			<i class="fa fa-fw fa-compress"></i> Merged Videos</a
		><a class="button" href="/admin/tagtypes">
			<i class="fa fa-fw fa-tags"></i> Tag Types</a
		><a class="button" href="/admin/sitenotices">
			<i class="fa fa-fw fa-info"></i> Site Notices</a>
	</div>
</section>

<div class="wrapper column-left left tab-bar-beside">
	<section class="page full-width resize-holder">
		<h1 class="title resize-target">Recent Activity</h1>
		<table class="auto">
			<thead>
				<td>Id</td>
				<td>Contact</td>
				<td>Name</td>
				<td>Created</td>
				<td>Last Active</td>
				<td>Votes</td>
				<td>Sign ins</td>
			</thead>
			<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= email_escape user.email %></td>
					<td><a href="<%= user.link %>"><%= user.username %></a></td>
					<td><%= since user.created_at %></td>
					<td><%= since user.updated_at %></td>
					<td><%= user.votes.count %></td>
					<td><%= user.sign_in_count %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</section>
	<section class="page full-width resize-holder">
		<%= render partial: 'processor_status' %>
	</section>
	<section class="page full-width recent-uploads resize-holder">
		<h1 class="title resize-target">Unprocessed Videos (<%= number_with_delimiter @unprocessed.count %>)</h1>
		<% if @unprocessed.count > 0 %>
		<%= render layout: 'pagination/paginated', locals: {type: "admin/videos/unprocessed", paginated: @unprocessed, id: "unprocessed"} do %>
			<ul id="videos" class="horizontal video-list">
				<%= render partial: 'admin/video/thumb_h', collection: @unprocessed.records %>
			</ul>
		<% end %>
		<% end %>
		<h1 class="title resize-target">Open Reports (<%= number_with_delimiter @reports.count %>)</h1>
		<% if @reports.count > 0 %>
		<%= render layout: 'pagination/paginated', locals: {type: "admin/reports", paginated: @reports, id: "reports"} do %>
		<ul id="reports" class="report-list">
			<%= render partial: 'admin/report/thumb', collection: @reports.records %>
		</ul>
		<% end %>
		<% end %>
		<h1 class="title resize-target">Hidden Videos (<%= number_with_delimiter @hiddenvideos.count %>)</h1>
		<% if @hiddenvideos.count > 0 %>
		<%= render layout: 'pagination/paginated', locals: {type: "admin/videos/hidden", paginated: @hiddenvideos, id: "hidden"} do %>
			<ul id="videos" class="horizontal video-list">
				<%= render partial: 'admin/video/thumb_h', collection: @hiddenvideos.records %>
			</ul>
		<% end %>
		<% end %>
	</section>
</div>
