.generic.thumb.album
	%a.tile.stack{href: normal.play_all_path || album_path(normal)}
		= render 'albums/tile_stack', items: normal.album_items.order(:index)
		%span.overlay-element.bottom.right
			= number_with_delimiter normal.album_items.count
			Videos
		.overlay-element.bottom.left
			Play All
			= fw :play
	%a.details{href: album_path(normal)}
		.title{title: normal.title}
			= render 'albums/visibility', album: normal
			= normal.title
		.detail
			%span.uploader.grow= normal.user.username
		.detail
			%span.timestamp.grow{title: localise(normal.created_at)}= since normal.created_at
			%span
				= fuzzy_big_number_with_delimiter normal.views
				views
