%section.page.full-width.properties
	%h1 Actions
	%table
		%tr.actions
			%td.label Visibility
			%td.field
				%button.action.toggle.blue(data-target="#{admin_video_hide_path @video}")
					%span.icon
						- if @video.hidden
							= fa :check
					%span.label Unlist Video
		%tr.actions
			%td.label
			%td.field
				= form_for(@video, as: "video", url: admin_video_listing_path(@video), html: { method: :put }) do |f|
					%label.options
						%span Visibility
						%select{name: "video[listing]"}= sensible_option_for_select(["Public", "Unlisted", "Private"], @video.listing)
					= f.submit "Apply"
		%tr.actions
			%td.label Featured
			%td.field
				%button.action.toggle.blue(data-target="#{admin_video_feature_path @video}")
					%span.icon
						- if @video.featured
							= fa :check
					%span.label Feature Video
		%tr
			%td.label Commenting
			%td.field
				%button.action.toggle.blue(data-target="#{admin_thread_lock_path @video.comment_thread}")
					%span.icon
						- if @video.comment_thread.locked
							= fa :check
					%span.label Disable
				%a.button{href: @video.comment_thread.link, target: "_blank"} View
		%tr.actions
			%td.label
				Processed
				= "(#{@video.processed ? "Yes" : @video.processed.nil? ? "No" : "In Progress"})"
			%td.field
				= form_for(@video, as: "video", url: admin_video_reprocess_path(@video), html: { method: :put }) do |f|
					= f.submit "Reset"
		%tr.actions
			%td.label Reset Thumbnail
			%td.field
				= form_for(@video, as: "video", url: admin_video_thumbnail_path(@video), html: { method: :delete }) do |f|
					= f.submit "Reset"
					%div Thumbnail will be regenerated from source
		%tr.actions
			%td.label Reindex Video
			%td.field
				= form_for(@video, as: "video", url: admin_search_reindex_path(id: :video), html: { method: :put }) do |f|
					= f.text_field :id, hidden: true
					= f.submit "Reindex"
		%tr.actions
			%td.label Delete Item
			%td.field
				%a.button.red(href="#{admin_video_path @video}" data-confirm data-method="delete" data-title="Delete Video")
					= fa :trash
					Delete Video
				%div
					Removes this video and all related data from the system.
					%br/
					%b (Action cannot be reversed)
