%section.page.properties.full-width
	%h1 Files
	%table
		%tr
			%td.label Media Type
			%td.field(colspan="3")= @video.audio_only ? "Audio" : "Video"
		%tr
			%td.label File Type
			%td.field(colspan="3")= "#{@video.mime} (#{@video.file})"
		%tr
			%td.label Dimensions
			%td.field(colspan="3")= @video.dimensions
		%tr
			%td.label Size
			%td.field(colspan="3")= "%.2f MB" % @video.file_size
		%tr
			%td.label Thumbnail Time
			%td.field(colspan="3")= @video.thumbnail_time
		- @video.assets(:all).filter{|media| media.name == 'video_file_name' || media.ext != @video.file}.sort{|f| f.name == 'video_file_name' ? -1 : (f.path.exist? ? 0 : 1)}.uniq(&:ext).each do |media|
			%tr
				%td.label
					- if media.name == 'video_file_name'
						= precede 'SOURCE' do
							= @video.file
					- else
						= media.name.upcase
				%td.field.file-detail(existing="#{media.path.exist?}" symbolic="#{media.path.symlink?}")
					= bool media.path.exist?
					.right
						= surround '(',')' do
							= "%.2f MB" % media.size
				%td
					%a.button{href: media.link} View
