%section.page.properties.full-width
	%h1 Files
	%table
		%tr
			%td.label Media Type
			%td.field= @video.audio_only ? "Audio" : "Video"
			%td
		%tr
			%td.label File Type
			%td.field= "#{@video.mime} (#{@video.file})"
			%td
		%tr
			%td.label Dimensions
			%td.field= @video.dimensions
		%tr
			%td.label Size
			%td.field= "%.2f MB" % @video.file_size
		%tr
			%td.label
				SRC
				= surround '(', ')' do
					= @video.file
			%td.field= bool File.exist?(@video.video_path)
			%td
				%a.button{href: @video.video_file_link} View
		%tr
			%td.label MP3
			%td.field
				- if @video.file == '.mp3'
					N/A
				- else
					= bool File.exist?(@video.audio_path)
			%td
				%a.button{href: @video.audio_file_link} View
		- if !@video.audio_only
			%tr
				%td.label MP4
				%td.field
					- if @video.file == '.mp4'
						N/A
					- else
						= bool File.exist?(@video.mpeg_path)
				%td
					%a.button{href: @video.mpeg_file_link} View
			%tr
				%td.label WEBM
				%td.field
					- if @video.file == '.webm'
						N/A
					- else
						= bool File.exist?(@video.webm_path)
				%td
					%a.button{href: @video.webm_file_link} View
		%tr
			%td.label Cover
			%td.field= bool File.exist?(@video.cover_path)
			%td
				%a.button{href: @video.cover_file_link} View
		%tr
			%td.label Thumbnail
			%td.field= bool File.exist?(@video.tiny_cover_path)
			%td
				%a.button{href: @video.tiny_cover_file_link} View
