- title "Admin"
= render 'videos/video'
.wrapper.column-right.right
	%section.page.full-width
		%h1 Thumbnail Preview
		%ul.horizontal.center= render 'thumb_h', thumb_h: @video
	= render 'metadata'
	= render 'files'
	= render 'actions'
= render 'videos/description'
= render 'moderation'
= render 'ownership'
= render 'duplication'
= render 'reports'
