.comment-actions
	- if user_signed_in?
		.button.action.like{title: "Like Comment", class: comment.liked? && "liked", data: {
				count: comment.likes_count,
				display: safe_to_display(comment.likes_count, 9999),
				action: "comments/#{comment.id}/like"}}
			= fa :thumbs_up
		- if !indirect
			.button.reply-comment(title="Reply")= fa :reply
		.button.popper
			.action.pop-out-toggle= fa :gear
			%ul.pop-out
				- if comment.owned_by!(current_user)
					%li.action
						%a.edit-comment.state-toggle(data-state="editing" data-parent=".content")
							%span.icon= fa :pencil
							%span.label Edit
				- if comment.owned_by(current_user)
					%li.action
						%a.remove-comment(href="#{comment_path comment, indirect: indirect}" data-id="#{comment.oid}" data-title="Delete Comment")
							%span.icon= fa :trash
							%span.label Delete
				%li.action
					%a.report-comment(href="#{new_admin_report_path comment.reportable_hash}" data-id="#{comment.oid}" data-title="Report Comment")
						%span.icon= fa :warning
						%span.label Report
	- else
		.button.like{title: "Total Likes", class: comment.liked? && "liked", data: {
				count: comment.likes_count,
				display: safe_to_display(comment.likes_count, 9999)}}
			= fa :thumbs_up
		- if !indirect
			.button.reply-comment(title="Reply")= fa :reply
		%a.button.report-comment(title="Report" href="#{new_admin_report_path comment.reportable_hash}" data-id="#{comment.oid}" data-title="Report Comment")= fa :warning
