<li class="generic">
	<% @items = album_thumb_h.album_items.order(:index) %>
	<a class="album" href="<%= album_thumb_h.link %>">
		<span class="tile stack">
			<span style="background-image:url('<%= Video.thumb_for(@items.second, current_user) %>');" class="stack-item item-1">
				<span style="background-image:url('<%= Video.thumb_for(@items.first, current_user) %>');" class="stack-item item-2"></span>
			</span>
		</span>
		<div class="title">
			<% if album_thumb_h.hidden || album_thumb_h.listing == 2 %>
				<span title="Private - Only you can see this album" class="icon"><i class="fa fa-lock"></i></span>
			<% elsif album_thumb_h.listing == 1 %>
				<span title="Unlisted - This album will not appear on the site but can be still accessed directly" class="icon"><i class="fa fa-unlock"></i></span>
			<% end %>
			<%= album_thumb_h.title %>
		</div>
		<span class="date" title="<%= album_thumb_h.created_at %>"><%= raw since album_thumb_h.created_at %></span>
	</a>
</li>