<li class="bio">
	<a href="<%= artist_thumb_h.link %>">
		<span class="avatar">
			<span style="background-image: url('<%= artist_thumb_h.avatar %>');"></span>
		</span>
		<h2<% if artist_thumb_h.banned? %> class="banned"<% end %>>
			<%= artist_thumb_h.username %>
		</h2>
		<span class="tag-list">
			<% Badge.all_badges(artist_thumb_h) do |badge| %>
			<i style="color:<%= badge.colour %>" onmouseover="(arguments[0] || window.event).stopPropagation();" class="fa fa-<%= badge.icon %> icon" title="<%= badge.get_title(artist_thumb_h) %>"></i>
			<% end %>
		</span>
	</a>
	<div class="tag-list">
		<%= number_with_delimiter artist_thumb_h.videos.length %> video<%= artist_thumb_h.videos.length == 1 ? "" : "s" %>
		| 
		<%= number_with_delimiter artist_thumb_h.albums.length %> album<%= artist_thumb_h.albums.length == 1 ? "" : "s" %>
	</div>
	<br>
	<%= render partial: '/layouts/taglist', locals: { collection: artist_thumb_h.tags.limit(3) } %>
</li>