<li class="bio">
	<a href="/artist/<%= artist_thumb_h.id %>-<%= url_safe artist_thumb_h.name %>">
		<span class="avatar">
			<span style="background-image: url('/avatar/<%= artist_thumb_h.id %>');"></span>
		</span>
		<h2><%= artist_thumb_h.name %></h2>
	</a>
	<div class="tag-list">
		<%= number_with_delimiter artist_thumb_h.videos.length %> video<%= artist_thumb_h.videos.length == 1 ? "" : "s" %>
		| 
		<%= number_with_delimiter artist_thumb_h.albums.length %> album<%= artist_thumb_h.albums.length == 1 ? "" : "s" %>
	</div>
	<br>
	<%= render partial: '/layouts/taglist', locals: { collection: artist_thumb_h.tags.limit(3) } %>
</li>