%li.tinted-nav-item.forum{class: selected_path?('forum')}<>
	%a{href: forum_index_path}
		= fw :users
		%span Forum
		%span.icon.no-dock= fa :caret_down
	%span.icon.dock-only(tabindex="4")= fw :chevron_right
	%ul.drop-down>
		- Board.sorted.each do |board|
			%li
				- boards = board.threads.limit(6)
				%a{href: board.link}
					%span.icon= fw :comments
					%span.label=board.title
					- if boards.length > 0
						%span.icon.no-dock= fw :chevron_right
				- if boards.length > 0
					%span.icon.dock-only(tabindex="5")= fw :chevron_right
					%ul.drop-down
						- boards.each do |thread|
							%li
								%a{href: thread.link}
									%span.icon= fw :comment
									%span.label= thread.title
		%li.divider
		%li
			%a{href: users_path}
				%span.icon= fw :user
				%span.label Users
		%li
			%a{href: forum_search_index_path}
				%span.icon= fw :search
				%span.label Find Posts
