<li class="tag tag-<%= genre_thumb_h.namespace %> drop-down-holder popper" data-slug="<%= genre_thumb_h.name %>">
	<a href="<%= genre_thumb_h.link %>">
		<span>
			<%= genre_thumb_h.name %> (<%= number_with_delimiter genre_thumb_h.members %>)
			<% if user_signed_in? %>
				<% if current_user.hides([genre_thumb_h.id]) %> H<% end %>
				<% if current_user.spoilers([genre_thumb_h.id]) %> S<% end %>
				<% if current_user.watches(genre_thumb_h) %> W<% end %>
			<% end %>
		</span>
	</a>
	<% if user_signed_in? %>
	<ul class="drop-down pop-out">
		<li class="action toggle" data-family="tag-flags" data-action="hide" data-target="tag" data-id="<%= genre_thumb_h.id %>">
			<span class="icon">
				<% if current_user.hides([genre_thumb_h.id]) %>
				<i class="fa fa-check"></i>
				<% end %>
			</span>
				<span class="label">Hide</span>
			</span>
		</li>
		<li class="action toggle" data-family="tag-flags" data-action="spoiler" data-target="tag" data-id="<%= genre_thumb_h.id %>">
			<span class="icon">
				<% if current_user.spoilers([genre_thumb_h.id]) %>
				<i class="fa fa-check"></i>
				<% end %>
			</span>
				<span class="label">Spoiler</span>
			</span>
		</li>
		<li class="action toggle" data-family="tag-flags" data-action="watch" data-target="tag" data-id="<%= genre_thumb_h.id %>">
			<span class="icon">
				<% if current_user.watches(genre_thumb_h) %>
				<i class="fa fa-check"></i>
				<% end %>
			</span>
				<span class="label">Watch</span>
			</span>
		</li>
	</ul>
	<% end %>
</li>