%nav.header.layer-foreground
	%ul
		- if user_signed_in?
			%li.users.dock-only<>
				%a{href: current_user.link}
					= fw :user
					%span= current_user.username
					%span.icon<>= fa :caret_down
				= render 'layouts/signed_in_menu'
		%li.albums{class: selected_path?('albums')}<>
			%a{href: albums_path}
				= fw :picture_o
				%span Albums
		%li.videos{class: selected_path?('videos')}<>
			%a{href: videos_path}
				= fw :play
				%span Videos
				%span.icon<>= fa :caret_down
			%ul.drop-down>
				%li
					%a{href: search_index_path(q: '*', random: 'y')}
						%span.icon= fw :random
						%span.label Random
				- if user_signed_in?
					%li.no-dock
						%a{href: new_video_path}
							%span.icon= fw :upload
							%span.label Upload
		%li.forum{class: selected_path?('forum')}<>
			%a{href: forum_index_path}
				= fw :users
				%span Forums
				%span.icon<>= fa :caret_down
			%ul.drop-down>
				- Board.sorted.each do |board|
					%li
						%a{href: board.link}
							%span.icon= fw 'comments'
							%span.label=board.title
				%li.divider
				%li
					%a{href: users_path}
						%span.icon= fw :user
						%span.label Users
				%li
					%a{href: forum_search_index_path}
						%span.icon= fw :search
						%span.label Find Posts
		%li.genres{class: selected_path?('tags')}<>
			%a{href: tags_path}
				= fw :tags
				%span Tags
				%span.icon<>= fa :caret_down
			%ul.drop-down>
				%li
					%a{href: aliases_path}
						%span.icon= fw :tag
						%span.label Aliased
				%li
					%a{href: implied_index_path}
						%span.icon= fw :tag
						%span.label Implied
		%li.sparkline
