%nav.header.layer-foreground
	%ul
		%li.dock-only<>
			%a(href="/")
				= fw :home
				%span Home
		- if user_signed_in?
			%li.tinted-nav-item.forum<>
				%a(href="#{current_user.link}" rel="nofollow")
					= fw :user
					%span
						= current_user.username
						's Profile
					%span.icon.no-dock= fa :caret_down
				%span.icon.dock-only(tabindex="0")= fw :chevron_right
				= render 'layouts/signed_in_menu'
		- else
			%li.tinted-nav-item.forum<>
				%a(href="#{edit_settings_path}" rel="nofollow")
					= fw :settings
					Settings
		%li.tinted-nav-item.videos{class: selected_path?('videos')}<>
			%a{href: videos_path}
				= fw :play
				%span Videos
				%span.icon.no-dock= fa :caret_down
			%span.icon.dock-only(tabindex="1")= fw :chevron_right
			%ul.drop-down>
				%li
					%a{href: search_index_path(q: '*', random: 'y')}
						%span.icon= fw :random
						%span.label Random
				- if user_signed_in?
					%li.no-dock
						%a{href: new_video_path}
							%span.icon= fw :upload
							%span.label Upload
		%li.tinted-nav-item.albums{class: selected_path?('albums')}<>
			%a{href: albums_path}
				= fw :picture_o
				%span Albums
				- if user_signed_in?
					%span.icon.no-dock= fa :caret_down
			- if user_signed_in?
				%span.icon.dock-only(tabindex="2")= fw :chevron_right
				%ul.drop-down
					%li
						%a(data-title="New Album" data-external-form="#{new_album_path}")
							%span.icon= fw :plus
							%span.label Create
		%li.tinted-nav-item.genres{class: selected_path?('tags')}<>
			%a{href: tags_path}
				= fw :tags
				%span Tags
				%span.icon.no-dock= fa :caret_down
			%span.icon.dock-only(tabindex="3")= fw :chevron_right
			%ul.drop-down>
				%li
					%a{href: aliases_path}
						%span.icon= fw :tag
						%span.label Aliased
				%li
					%a{href: implied_index_path}
						%span.icon= fw :tag
						%span.label Implied
		= render 'layouts/forum_nav_menu'
		%li.sparkline
