<div class="paginator" data-type="<%= type %>" data-page="<%= paginated.page %>" data-args="<%= content_for :data %>">
	<%= render '/layouts/pagination' %>
	<%= yield %>
	<%= render '/layouts/pagination' %>
</div>