<div class="paginator" data-type="<%= type %>" data-page="<%= paginated.page %>" data-args="<%= content_for :data %>">
	<%= render partial: '/layouts/pagination', locals: { results: paginated } %>
	<%= yield %>
	<%= render partial: '/layouts/pagination', locals: { results: paginated } %>
</div>