<div class="paginator" data-type="<%= type %>" data-page="<%= paginated.page %>" data-args="<%= @data %>">
	<%= render partial: '/layouts/pagination', locals: { results: paginated, pagination_id: id } %>
	<%= yield %>
	<%= render partial: '/layouts/pagination', locals: { results: paginated, pagination_id: id } %>
</div>