%ul.drop-down
	- if current_user.is_contributor?
		%li
			%a(rel="nofollow"){href: admin_root_path}
				%span.icon= fw :gavel
				%span.label Admin
		%li.divider
	%li
		%a(rel="nofollow" title="Notifications"){href: notifications_path}
			%span.icon= fw :bell
			%span.label Notifications
			%span.icon
				= surround '(', ')' do
					= number_with_delimiter current_user.notification_count
	%li
		%a(rel="nofollow" title="Messages"){href: inbox_path}
			%span.icon= fw :envelope
			%span.label Messages
			%span.icon
				= surround '(', ')' do
					= number_with_delimiter current_user.message_count
	%li.divider
	%li
		%a{href: stars_path}
			%span.icon= fw :star
			%span.label Favourites
			%span.icon
				= surround '(', ')' do
					= number_with_delimiter current_user.album_items.count
	%li
		%a{href: search_index_path(q: "uploaded_by:#{current_user.id}")}
			%span.icon= fw :play
			%span.label Uploads
			%span.icon
				= surround '(', ')' do
					= number_with_delimiter current_user.videos.count
	%li
		%a{href: user_albums_path(current_user)}
			%span.icon= fw :list
			%span.label Albums
			%span.icon
				= surround '(', ')' do
					= number_with_delimiter current_user.albums.count
	%li
		%a{href: user_watch_history_index_path(current_user)}
			%span.icon= fw :history
			%span.label Watch History
			%span.icon.no-dock= fw :caret_right
		%span.icon.dock-only(tabindex="6")= fw :caret_right
		%ul.drop-down
			%li
				%a{href: search_index_path(q: "upvoted_by:#{current_user.id}")}
					%span.icon= fw :thumbs_up
					%span.label Liked Videos
			%li
				%a{href: search_index_path(q: "upvoted_by:#{current_user.id}")}
					%span.icon= fw :thumbs_down
					%span.label Disliked Videos
	%li.divider
	%li
		%a(rel="nofollow"){href: edit_user_registration_path}
			%span.icon= fw :cog
			%span.label Settings
	%li.divider
	%li
		%a#sign-out(rel="nofollow" data-method="delete"){href: destroy_user_session_path}
			%span.icon= fw :sign_out
			%span.label Sign Out
