%ul.drop-down(style="z-index:300;")
	- if current_user.is_contributor?
		%li
			%a(href="#{admin_root_path}" rel="nofollow")
				%span.icon= fw :gavel
				%span.label Admin
	%li
		%a(href="#{current_user.link}" rel="nofollow" title="settings")
			%span.icon= fw :user
			%span.label Profile
	%li
		%a(href="/inbox" rel="nofollow" title="messages")
			%span.icon= fw :envelope
			%span.label Messages
	%li
		%a(href="#{upload_path}" rel="nofollow" title="upload")
			%span.icon= fw :upload
			%span.label Upload
	%li
		%a{href: stars_path}
			%span.icon= fw :star
			%span.label Stars
	%li
		%a(href="#{edit_user_registration_path}" rel="nofollow")
			%span.icon= fw :cog
			%span.label Settings
	%li
		%a#sign-out(href="#{destroy_user_session_path}" rel="nofollow" data-method="delete")
			%span.icon= fw :sign_out
			%span.label Sign Out
