%a.username{href: current_user.link}= current_user.username
%a.notices-bell.feeds{href: feed_path}
	%i.fa.fa-globe
	%span.feed-count.count{data: {count: current_user.feed_count}}
		= safe_to_display current_user.feed_count, 999
%a.notices-bell.notices{href: notifications_path}
	%i.fa.fa-bell
		%span.notification-count.count{data: {count: current_user.notification_count}}<
			= safe_to_display current_user.notification_count, 999
		%span.message-count.count.invert{data: {count: current_user.message_count}}
			= safe_to_display current_user.message_count, 999
%span.no-dock= render 'layouts/signed_in_menu'
%a(href="#{edit_user_registration_path}" rel="nofollow" title="settings")
	%span.avatar.small
		%span{style: format_bg(current_user.small_avatar)}
