<li>
	<a class="thumb" style="background-image:url('/cover/<%= video_thumb_h.id %>');" href="/view/<%= video_thumb_h.id %>-<%= video_thumb_h.title %>">
		<div><%= video_thumb_h.title %></div>
	</a>
	<span class="date underline" title="<%= video_thumb_h.created_at %>"><%= raw since video_thumb_h.created_at %></span>
</li>