<a class="thumb<% if video_thumb_i.hidden %> thumb-hidden<% end %>" href="<%= video_thumb_i.link %>#comment_<%= comment %>">
	<div class="tile" style="background-image:url('<%= video_thumb_i.tiny_thumb(current_user) %>');">
		<span class="tag-list duration">
			<% if video_thumb_i.is_downvoted_by(current_user) %>
				<i class="fa fa-thumbs-down red"></i>
			<% end %>
			<% if video_thumb_i.is_upvoted_by(current_user) %>
				<i class="fa fa-thumbs-up green"></i>
			<% end %>
			<%= duration video_thumb_i.get_duration %>
		</span>
	</div>
	<div class="title"<% if !(spoilered = video_thumb_i.is_spoilered_by(current_user)) %> title="<%= video_thumb_i.get_title %>"<% end %>>
		<%= spoilered ? "Spoilered" : video_thumb_i.get_title %>
	</div>
</a>
