<% if !video_thumb_h.isHiddenBy(current_user) %>
<li class="generic thumb">
	<a class="thumb<% if video_thumb_h.hidden %> thumb-hidden<% end %>" href="/view/<%= video_thumb_h.id %>-<%= video_thumb_h.safe_title %>">
		<div class="tile" style="background-image:url('<%= video_thumb_h.tiny_thumb(current_user) %>');">
			<span class="tag-list duration">
				<%= duration video_thumb_h.getDuration %>
			</span>
		</div>
		<div class="title"<% if !(spoilered = video_thumb_h.isSpoileredBy(current_user)) %> title="<%= video_thumb_h.getTitle %>"<% end %>>
			<% if video_thumb_h.hidden %>
				<span title="Private - Only you can see this item" class="icon"><i class="fa fa-lock"></i></span>
			<% end %>
			<%= spoilered ? "Spoilered" : video_thumb_h.getTitle %>
		</div>
		<span class="date" title="<%= video_thumb_h.created_at %>">
			<%= since video_thumb_h.created_at %>
		</span>
		<span class="tag-list right">
			<%= number_with_delimiter video_thumb_h.views %> views
		</span>
	</a>
</li>
<% end %>