<% if !video_thumb_v.isHiddenBy(current_user) %>
<li class="generic">
	<a class="thumb<% if video_thumb_v.hidden %> thumb-hidden<% end %>" href="/view/<%= video_thumb_v.id %>-<%= video_thumb_v.safe_title %>">
		<div class="tile" style="background-image:url('<%= video_thumb_v.tiny_thumb(current_user) %>');">
			<div class="details">
				<div class="title">
					<% if video_thumb_v.hidden %>
						<span title="Private - Only you can see this item" class="icon"><i class="fa fa-lock"></i></span>
					<% end %>
					<%= video_thumb_v.isSpoileredBy(current_user) ? "Spoilered" : video_thumb_v.getTitle %>
				</div>
				<div class="published detail"><%= since video_thumb_v.created_at %></div>
				<div class="views detail"><%= number_with_delimiter video_thumb_v.views %> views</div>
			</div>
			<span class="tag-list duration">
				<%= duration video_thumb_v.getDuration %>
			</span>
		</div>
	</a>
</li>
<% end %>