<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title id="document_title"><% if content_for?(:title) %><%= content_for(:title) %> - <% end %>Project Vinyl - My Little Pony: FiM Songs & Animation</title>
	<% if user_signed_in? %>
	<meta name="current_user" content="<%= { id: current_user.id }.to_json %>">
	<% end %>
	<%= csrf_meta_tags %>
	<meta name="theme-color" content="#a66ebe">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= content_for(:metadata) %>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
</head>
<body<% if !user_signed_in? %> class="logged-out"<% end %>>
	<div class="context-3d">
		<header class="header banner-overlay">
			<div id="login" <% if user_signed_in? %>class="drop-down-holder"<% end %>>
				<% if user_signed_in? %>
				<%= render partial: "layouts/signed_in_controls" %>
				<% else %>
				<a data-external-form="ajax/login" data-icon="sign-in" data-title="Sign In" data-thin="true" href="/users/sign_in"><i class="fa fa-sign-in"></i> Sign-in</a>
				<% end %>
			</div>
			<%= render partial: "search/small_search" %>
		</header>
		<div id="banner" class="layer-background">
			<div class="banner-background far"></div>
			<a href="/" class="home-link">
			</a>
			<span class="title near">
				<img src="/images/logo.svg"></img>
			</span>
		</div>
		<%= render partial: "layouts/nav" %>
		<div class="layer-foreground body">
			<main class="wrapper<% if content_for?(:wrapper) %> <%= content_for(:wrapper) %><% end %>"<% if content_for?(:width) %> style="max-width:<%= content_for(:width) %>"<% end %>>
				<%= render partial: "admin/site_notice/notices" %>
				<%= yield %>
				<span class="push"></span>
			</main>
			<footer>
				<a title="Home" href="/">projectvinyl.net</a>
				<div>
					<a href="/staff">Staff</a>
					<a href="/policy">Policy</a>
					<a href="/copyright">Copyright</a>
				</div>
				<span>© 2016 Project Vinyl Foundation</span>
				<div class="date">Page generated in <span><%= load_time %> seconds</span></div>
				<div class="date"><span>Powered by Muffins</span></div>
			</footer>
		</div>
	</div>
	<div class="fades"></div>
</body>
</html>
