<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title id="document_title"><%= content_for?(:title) ? content_for(:title) + " - Project Vinyl" : "Project Vinyl - Premium Pony Tunes" %></title>
  <%= stylesheet_link_tag "application" %>
	<script>var emoticons = <%= raw emoticons %><% if user_signed_in? %>,current_user = {id:<%= current_user.id %>}<% end %>;</script>
  <%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="theme-color" content="#a66ebe">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= content_for(:metadata) %>
</head>
<body>
	<header class="header<% if !user_signed_in? %> logged-out<% end %>">
		<div id="banner">
			<div class="banner-overlay">
				<div id="login" <% if user_signed_in? %>class="drop-down-holder"<% end %>>
					<% if user_signed_in? %>
					<a href="<%= current_user.link %>" class="username">
						<%= current_user.username %>
					</a>
					<a class="notices-bell feeds" href="/feed">
						<i class="fa fa-globe"></i>
						<% if current_user.feed_count > 0 %>
							<span class="count"><%= safe_to_display current_user.feed_count, 999 %></span>
						<% end %>
					</a>
					<a class="notices-bell notices" href="/notifications">
						<i class="fa fa-bell"></i>
						<% if current_user.notification_count > 0 %>
							<span class="count"><%= safe_to_display current_user.notification_count, 999 %></span>
						<% end %>
						<% if current_user.message_count > 0 %>
							<span class="count invert"><%= safe_to_display current_user.message_count, 999 %></span>
						<% end %>
					</a>
					<ul class="drop-down" style="z-index:300;">
						<% if current_user.is_contributor? %>
						<li>
							<a href="/admin" rel="nofollow">
								<span class="icon"><i class="fa fa-fw fa-gavel"></i></span>
								<span class="label">Admin</span>
							</a>
						</li>
						<% end %>
						<li>
							<a href="<%= current_user.link %>" rel="nofollow" title="settings">
								<span class="icon"><i class="fa fa-fw fa-user"></i></span>
								<span class="label">Profile</span>
							</a>
						</li>
						<li>
							<a href="/messages" rel="nofollow" title="messages">
								<span class="icon"><i class="fa fa-fw fa-envelope"></i></span>
								<span class="label">Messages</span>
							</a>
						</li>
						<li>
							<a href="/upload" rel="nofollow" title="upload">
								<span class="icon"><i class="fa fa-fw fa-upload"></i></span>
								<span class="label">Upload</span>
							</a>
						</li>
						<li>
							<a href="/stars">
								<span class="icon"><i class="fa fa-fw fa-star" ></i></span>
								<span class="label">Stars</span>
							</a>
						</li>
						<li>
							<a href="/users/edit" rel="nofollow">
								<span class="icon"><i class="fa fa-fw fa-cog"></i></span>
								<span class="label">Settings</span>
							</a>
						</li>
						<li>
							<a id="sign-out" href="/users/sign_out" rel="nofollow">
								<span class="icon"><i class="fa fa-fw fa-sign-out"></i></span>
								<span class="label">Sign Out</span>
							</a>
						</li>
					</ul>
					<a href="/users/edit" rel="nofollow" title="settings">
						<span class="avatar small">
							<span style="background-image:url('<%= current_user.small_avatar %>');"></span>
						</span>
					</a>
					<% else %>
					<a class="confirm-button confirm-button-thin" data-url="login" data-title="Sign In" href="/users/sign_in"><i class="fa fa-sign-in"></i> Sign-in</a>
					<% end %>
				</div>
				<div id="search">
					<form action="/search" method="get">
						<input type="search" name="tagquery" placeholder="Tag Search" value="<%= query %>"></input>
						<label class="select">
							<select name="type">
								<option value="0" <% if search_type == 0 %>selected<% end %>>Song</option>
								<option value="1" <% if search_type == 1 %>selected<% end %>>Album</option>
								<option value="2" <% if search_type == 2 %>selected<% end %>>User</option>
								<option value="3" <% if search_type == 3 %>selected<% end %>>Tag</option>
							</select>
						</label>
						<button type="submit"><i class="fa fa-search" ></i></button>
					</form>
				</div>
			</div>
			<a href="/" class="title"><img src="/images/logo.svg"></img></a>
		</div>
		<ul>
			<li class="albums<%= selected_path? 'albums' %>">
				<a href="/albums">
					<i class="fa fa-fw fa-picture-o"></i>
					<span> Albums</span>
				</a>
			</li>
			<li class="artists<%= selected_path? 'videos' %>">
				<a href="/videos">
					<i class="fa fa-fw fa-play"></i>
					<span> Videos</span>
				</a>
			</li>
			<li class="genres<%= selected_path? 'tags' %>">
				<a href="/tags">
					<i class="fa fa-fw fa-tags"></i>
					<span> Tags</span>
				</a>
			</li>
			<li class="forum<%= selected_path? 'forum' %>">
				<a href="/forum">
					<i class="fa fa-fw fa-users"></i>
					<span> Forums</span>
				</a>
			</li>
		</ul>
	</header>
	<main class="wrapper" style="<%= content_for?(:width) ? ' max-width:' + content_for(:width) + ';' : '' %>">
		<% flash.each do |key,value| %>
			<p class="notice <%= key %>"><%= value %></p>
		<% end %>
		<%= yield %>
		<span class="push"></span>
	</main>
	<footer>
		<a title="Home" href="/">projectvinyl.net</a>
		<div>
			<a href="/staff">Staff</a>
			<a href="/policy">Policy</a>
			<a href="/copyright">Copyright</a>
		</div>
		<span>© 2016 Project Vinyl Foundation</span>
		<div class="date">Page generated in <span><%= load_time %> seconds</span></div>
		<div class="date"><span>Powered by Muffins</span></div>
	</footer>
	<div class="fades"></div>
</body>
</html>
