!!! XHTML 5
!!!
%html.ms-edge.android-mozilla(lang="en")
	%head
		%meta(http-equiv="Content-type" content="text/html; charset=utf-8")
		%title#document_title
			- if content_for(:title)
				!= content_for(:title)
				\-
			Project Vinyl - My Little Pony: FiM Songs & Animation
		- if user_signed_in?
			%meta(name="current_user" content="#{({ id: current_user.id }).to_json}")
		= csrf_meta_tags
		%meta(name="theme-color" content="#a66ebe")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%link(rel="icon" sizes="160x160" href="/images/favicon.png")
		%link(rel="manifest" href="/manifest.json")
		%link(rel="icon" href="/favicon.ico")
		= content_for(:metadata)
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
%body{class: !user_signed_in? && "logged-out"}
	.context-3d.dock-holder
		.dock-shadow
		%header.header.banner-overlay
			#dock-toggle
				= fa :bars
			#login{class: user_signed_in? && "drop-down-holder"}
				= render partial: user_signed_in? ? "layouts/signed_in_controls" : "layouts/signed_out_controls"
			= render partial: "search/small_search"
		.layer-background#banner
			.banner-background.far
			%a.home-link(href="/")
			%span.title.near
				%img(src="/images/logo.svg")
		= render partial: "layouts/nav"
		.layer-foreground.body
			%main.wrapper{class: content_for?(:wrapper) && content_for(:wrapper), style: "max-width:#{content_for(:width)}"}
				= render "admin/sitenotices/notices"
				- if @crumb
					= render 'view/breadcrumb', @crumb
				= yield
			%span.push
			%footer
				%a.logo(title="Home" href="/") projectvinyl.net
				.block.r>
					%b Stats for Nerds
					%ol
						%li
							= render partial: 'layouts/revision'
						%li
							Page generated in 
							%i= load_time
							seconds
						%li
							%i= number_with_delimiter User.online.count
							users online
						%li
							= number_with_delimiter Ahoy::Visit.today.count
							hits today
							= number_with_delimiter Ahoy::Visit.yesterday.count
							hits yesterday
				.block.g>
					%b Navigation
					%ul
						%li
							%a{href: staff_path} Staff
						%li
							%a{href: policy_path} Policy
						%li
							%a{href: copyright_path} Copyright
						%li
							%a{href: donate_path} Donate
				.block.b>
					%ol
						%li
							= precede '©' do
								= Time.current.year
							Project Vinyl Foundation
						%li
							Proud members of 
							%a.tpa(href="http://www.theponyarchive.com/") The Pony Archive
						%li
							MLP: Friendship is Magic® - © 2018 Hasbro Inc.®
							Project Vinyl is in no way affiliated with or endorsed by Hasbro Inc.® 
	.fades
