<!DOCTYPE html>
<html lang="en">
<head>
	<title id="document_title"><%= content_for?(:title) ? content_for(:title) + " - Project Vinyl" : "Project Vinyl - Premium Pony Tunes" %></title>
	<link type="text/css" href="/css/font-awesome.min.css" rel="stylesheet" />
	<link type="text/css" href="/css/base.css" rel="stylesheet" />
	<link type="text/css" href="/css/videos.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-1.8.3.min.js" id="jquery" ></script>
	<%= csrf_meta_tags %>
	<script>var emoticons = <%= raw emoticons %>;</script>
</head>
<body>
	<header class="header">
		<div id="banner">
			<a href="/" class="title">Project Vinyl</a>
			<form action="/search" method="get">
				<div id="search">
					<div class="select">
						<select name="type">
							<option value="0">Song</option>
							<option value="1">Album</option>
							<option value="2">Artist</option>
							<option value="3">Genre</option>
						</select>
					</div>
					<input type="text" name="query" placeholder="search"></input>
					<button type="submit"><i class="fa fa-search" ></i></button>
				</div>
			</form>
			<div id="login">
				<% if user_signed_in? %>
				<% if current_artist %>
				<a href="/artist/<%= current_artist.id %>-<%= url_safe current_artist.name %>" class="username">
					<%= current_artist.name %>
				</a>
				<% end %>
				<ul class="pop-out">
					<% if current_artist %>
					<li>
						<a href="/upload" rel="nofollow" title="upload"><i class="fa fa-upload"></i> Upload</a>
					</li>
					<% end %>
					<li>
						<a href="/stars"><i class="fa fa-star" ></i> Stars</a>
					</li>
					<li>
						<a id="sign-out" href="/users/sign_out" rel="nofollow" title="sign out"><i class="fa fa-sign-out"></i> Sign Out</a>
					</li>
				</ul>
				<a href="/users/edit" rel="nofollow" title="settings">
					<span class="avatar small">
						<span style="background-image:url('<% if current_artist %>/avatar/<%= current_artist.id %><% else %>/images/avatar/none.jpg<% end %>');"></span>
					</span>
				</a>
				<script>
				$(document).ready(function() {
					$('#sign-out').on('click', function(e) {
						e.preventDefault();
						ajax.delete($(this).attr('href'), function() {
							document.location.href = '/';
						}, 1);
						e.stopPropagation();
					});
				});
				</script>
				<% else %>
				<a href="/users/sign_in"><i class="fa fa-sign-in"></i> Sign-in</a>
				<% end %>
			</div>
		</div>
		<ul>
			<li class="albums<% if params[:action] == 'albums' %> selected<% end %>"><a href="/albums">Albums</a></li>
               		<li class="artists<% if params[:action] == 'artists' %> selected<% end %>"><a href="/artists">Artists</a></li>
			<li class="genres<% if params[:action] == 'genres' %> selected<% end %>"><a href="/genres">Genres</a></li>
		</ul>
	</header>
	<main class="wrapper" style="<%= content_for?(:width) ? ' max-width:' + content_for(:width) + ';' : '' %>">
		<% if notice %><p class="notice tile"><%= notice %></p><% end %>
		<% if alert %><p class="notice tile"><%= alert %></p><% end %>
		<%= yield %>
		<span class="push"></span>
	</main>
	<footer>
		<a title="Home" href="/">projectvinyl.com</a>
		<div>
			<a href="/staff">Staff</a>
			<a href="/privacy">Terms</a>
		</div>
		<span>© 2016 Project Vinyl Foundation</span>
	</footer>
	<div class="fades"></div>
	<script src="/js/videos.js" ></script>
	<script src="/js/script.js" ></script>
</body>
</html>
