!!! XHTML 5
%html(lang="en")
	%head
		= render 'layouts/metadata/all'
		%link(rel="search" type="application/opensearchdescription+xml" title="Project Vinyl" href="/search/videos.xml")
		- if user_signed_in?
			%meta(name="current_user" content="#{({ id: current_user.id }).to_json}")
		%meta(name="vapid_public_key" content="#{Base64.urlsafe_decode64(Rails.application.secrets.vapid_public_key).bytes}")
		%meta(name="emoticons_array" content="#{raw BbcodeHelper.emoticons}")
		= csrf_meta_tags
		= stylesheet_link_tag "application_" + current_theme_name
		= javascript_include_tag "application"
		- if content_for?(:width)
			:css
				body {--site-width: #{content_for(:width)};}
		- if content_for?(:custom_banner)
			:css
				body {--site-banner: #{content_for(:custom_banner)};}
%body{class: !user_signed_in? && "logged-out"}
	.context-3d.dock-holder
		.dock-shadow
		%header.header.banner-overlay
			- if user_signed_in?
				#login.sharp-right.drop-down-holder= render partial: 'layouts/signed_in_controls'
			- else
				#login.sharp-right= render partial: 'layouts/signed_out_controls'
			= render partial: "layouts/filter_dropdown"
			= render partial: "search/small_search"
			#dock-toggle.sharp-left= fa :bars
		.layer-background#banner
			.banner-background.far
			%span.title.near
				%img(src="/images/logo.svg")
			%a.home-link(href="/")
		= render partial: "layouts/nav"
		.layer-foreground.body
			%main.wrapper{class: content_for?(:wrapper) && content_for(:wrapper)}
				= render "admin/sitenotices/notices"
				- if @crumb
					= render 'view/breadcrumb', @crumb
				= yield
			%footer
				.logo
					.sparkline
						%a(title="Home" href="/") projectvinyl.net
				.blocks
					.block.r
						%h3 Stats
						%ol
							%li= render partial: 'layouts/revision'
							%li
								Page generated in 
								%i= load_time.round(3)
								seconds
							%li
								%i= number_with_delimiter User.online.count
								users online
							%li
								= number_with_delimiter Ahoy::Visit.today.count
								hits today
								= number_with_delimiter Ahoy::Visit.yesterday.count
								hits yesterday
					.block.g
						%h3 Navigation
						%ul
							%li
								%a{href: staff_path} Staff
							%li
								%a{href: policy_path} Policy & Copyright
							%li
								%a{href: donate_path} Donations
					.block.b
						%h3 Support Us
						%ol
							%li
								= precede '©' do
									= Time.current.year
								Project Vinyl Foundation
							%li
								Proud members of 
								%a.tpa(href="http://www.theponyarchive.com/") The Pony Archive
							%li
								MLP: Friendship is Magic® - © 2018 Hasbro Inc.®
								%br
								Project Vinyl is in no way affiliated with or endorsed by Hasbro Inc.® 
	.floating-player.hiding
		.player
	.fades
